<%- content_for :head do -%>
<%= javascript_include_tag %w(code128) %>
<%= stylesheet_link_tag %w(code128) %>
<%- end -%>

<h2>Plates</h2>

<% if current_user.is_admin? %>
<p>Because you are an administrator, this page lists all plates by any researcher.</p>
<% else %>
<p>This is the list of your plates, as well as any plates another researcher has granted you rights to.</p>
<% end %>

<table class="admin_table">
  <tr>
    <th width="30%">Description</th>
    <th>Bar codes and IDs</th>
  </tr>

<% did = {}
   @plates.sort.each do |plate|
   next if did[plate.id] %>
  <tr style="<%= "background: #ddf" if plate.derived_from_plate %>">
    <td style="vertical-align: top">
      <% if plate.derived_from_plate %>
      <b>Derived from plate <%= link_to plate.crc_id_s, plate.derived_from_plate %></b>
      <br />
      <% end %>
      <%= plate.creator.full_name if plate.creator %>, <%= plate.created_at %>
      <br />
      <b><%= plate.description %></b>
      <br />
      <%= plate.plate_layout.plate_layout_positions.size %> wells,
      <b><%= plate.plate_samples.size %></b> filled
      <% if plate.derived_plates.empty? and can? :destroy, plate %>
      <br /><%= link_to 'Destroy', plate, :confirm => 'Are you sure?', :method => :delete  %>
      <% end %>
    </td>
    <td style="vertical-align: top">
      <div style="display: table">
	<div style="display: table-row">
	  <% col=0 %>
	  <% [plate, plate.derived_plates].flatten.each do |p| %>
	  <% bgcolor = p.derived_from_plate ? 'ddddff' : 'ffffff' %>
	  <% if col>0 and col%3==0 %>
	</div><div style="display: table-row">
	  <% end; col+=1 %>
	  <div style="display: table-cell; text-align: center; background: #<%= bgcolor %>">
	    <% did[p.id] = true %>
	    <%= link_to_if p.is_accepting_samples?, content_tag(:div, "hu:p:#{p.url_code}", :class => [:"render-code128", :barcode128h]), mobile_plate_url(p.url_code) %>
	    <%= link_to p.crc_id_s, plate_path(p) %>
	    <br />
	    <%= link_to 'view', plate_path(p) %>
	    <% if can? :update, p %>
	    / <%= link_to 'edit', edit_plate_path(p)  %>
	    <% end %>
	  </div>
	  <% end %>
	</div>
      </div>
    </td>
    <td style="vertical-align: top"></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plate', new_plate_path %>
