<h2>Plates</h2>

<% if current_user.is_admin? %>
<p>Because you are an administrator, this page lists all plates by any researcher.</p>
<% else %>
<p>This is the list of your plates, as well as any plates another researcher has granted you rights to.</p>
<% end %>

<table class="admin_table">
  <tr>
    <th>CRC ID</th>
    <th>URL code</th>
    <th>Creator</th>
    <th>Description</th>
    <th>Wells used</th>
    <th>Scan-&rsquo;n&rsquo;-fill</th>
    <th></th>
    <th></th>
  </tr>

<% @plates.each do |plate| %>
  <tr>
    <td><%= link_to plate.crc_id, plate_path(plate) %></td>
    <td><%= plate.url_code %></td>
    <td><%= plate.creator.full_name %></td>
    <td><%= plate.description %></td>
    <td><%= plate.samples.size %> / <%= plate.plate_layout.plate_layout_positions.size %></td>
    <td><%= link_to image_tag('https://chart.googleapis.com/chart?chs=80x80&cht=qr&chld=L&chl='+uriencode(mobile_plate_url(plate.url_code))+'&choe=UTF-8', {:width => 80, :height => 80, :class => 'qr'}), mobile_plate_url(plate.url_code) %></td>
    <td><%= link_to 'Edit', edit_plate_path(plate) if can? :update, plate %></td>
    <td><%= link_to 'Destroy', plate, :confirm => 'Are you sure?', :method => :delete if can? :destroy, plate %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plate', new_plate_path %>
