<%- content_for :head do -%>
<%= javascript_include_tag %w(plates) %>
<%- end -%>

<h2><%= link_to 'Plates', plates_path %> &gt; CRC <%= @plate.crc_id %></h2>

<table>
  <tr>
    <td style="vertical-align: top">
  <tr>
    <td>
      <p>
	<%= @plate.description %>
      </p>

      <p>
	(created by <%= @plate.creator.full_name %><%=raw(' - '.concat(link_to 'edit', edit_plate_path(@plate))) if @plate.creator == current_user %>)
      </p>

      <%= render 'layout_grid' %>
      <%= render 'sample_table' %>
    </td>
    <td rowspan="2" style="vertical-align: top">
<% if can? :update, @plate -%>
      <p>How to transfer samples to this plate:</p>
      <ol>
	<li>Scan this bar code with your mobile device.
	  <blockquote>
	    <%= link_to image_tag('https://chart.googleapis.com/chart?chs=120x120&cht=qr&chld=L&chl='+uriencode(mobile_plate_url(@plate.url_code))+'&choe=UTF-8', {:width => 120, :height => 120, :class => 'qr'}), mobile_plate_url(@plate.url_code) %><br />
	    <%= link_to mobile_plate_url(@plate.url_code), mobile_plate_url(@plate.url_code) %>
	  </blockquote>
	  You will see the plate layout, and "scan sample" and "destroy well" buttons.
	</li>
	<li>
	  Choose a layout mask (top left, top right, etc.) to set up the appropriate fill order.
	</li>
	<li>
	  Click "scan sample" to open your bar code scanner (Android), or open it manually (iPhone).
	</li>
	<li>
	  Scan the bar code on the next sample tube.  You will see the plate layout again, with a new "sample&rarr;well" button (e.g., "12345678&rarr;A01").
	</li>
	<li>
	  Transfer the indicated sample (the one you just scanned) to the indicated well.
	</li>
	<li>
	  Click the "sample&rarr;well" button to record that you have transferred sample to the well.<br/><b>...or...</b><br />Click the "destroy well" button to record that the indicated well has become unusable for some reason.
	</li>
	<li>
	  Either way, after saving, you will see an updated layout with the next available well indicated.
	</li>
	<li>
	  Repeat from step 2 or 3 as applicable.
	</li>
      </ol>
<% end -%>
    </td>
  </tr>
</table>
