<% if ! current_user -%>

  <div style="width: 480px;">
    <h2>Registration for invited users</h2>

    <p>
      If you received an email invitation to begin the online enrollment process,
      please log in now with the email address where the invitation was sent:
    </p>

    <% form_tag(accepted_invites_path) do %>
      <div>
        <label for="accepted_invites_email">Email</label><br/>
        <%= text_field_tag 'email', nil, :id => 'accepted_invites_email' %>
      </div><br/>

      <div>
        <label for="accepted_invites_code">Code</label><br/>
        <%= password_field_tag 'code', nil, :id => 'accepted_invites_code' %>
      </div><br/>

      <%= submit_tag 'Accept Invite' %>
    <% end %>

    <h2>Log in for enrolled users</h2>
    <p>If you have already enrolled with the form above, and confirmed your account in your confirmation email,
    then you can <%= link_to "log in", login_path %>.</p>

    <h2>Sign up to be invited</h2>
    <p>
      Interested in enrolling in the PGP?
      <a href="http://www.personalgenomes.org/register.html">Register here</a>.
    </p>

    <p>
      If you already have registered, but have not received an invitation, please be patient.
      There is no need to register again.
      We are sending invitations as quickly as we can
      Thanks for your support.
    </p>

  </div>
<% else -%>

  <% content_for 'sidebar' do %>
   <div class="bubble">
      <h2>Did you know?</h2>
      <div class="text">
        <p>Your progress through the Eligibility Screening process is tracked on this page.</p>
        <p>Eligibility Screening does not need to be finished all at once.  You can leave and return at a later time, and your progress will be saved.</p>
      </div>
    </div>
  <% end %>

  <h2>Home</h2>

  <p>Welcome, <%=h current_user.full_name %>!</p>

  <ol id="enrollment_steps">
    <% @steps.each do |step| -%>
      <li class="<%= step_item_class(step) %>">
        <span class="duration"><%= step.duration_amount %><br/>
        <span class="unit"><%= step.duration_unit %></span></span>
        <span class="title">
          <% if step == @next_step -%>
            <%= link_to step.title, :controller => step.keyword, :action => 'index'  %>
          <% else -%>
            <%= step.title %>
          <% end -%>
          <br/>
          <span class="completion_time"><%= completion_time_for step -%></span>
        </span>
      </li>
    <% end -%>
  </ol>
<% end -%>
