<h2>Submit a new safety questionnaire</h2>

<p>
<%= link_to 'Click here to submit a new safety questionnaire.', new_safety_questionnaire_path %>
</p>

<h2>Safety questionnaire responses</h2>

<% if !@safety_questionnaires.empty? %>
 
<table class="admin_table table" style="width: auto">
  <tr>
    <th>Submitted</th>
    <th>Changes reported</th>
    <th></th>
  </tr>
  <% @safety_questionnaires.each do |sq| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%=h sq.datetime %></td>
      <td>
        <%= h sq.has_changes ? 'yes' : 'no' -%>
      </td>
      <td><%= link_to 'View', safety_questionnaire_path(sq) %></td>
    </tr>
  <% end %>
</table>

<% else %>

You have not yet submitted a safety questionnaire.

<% end %>
