<div class="menu">
  <ul class="links">
    <%= nav_element 'Home', root_url %>
    <% unless current_user -%>
      <%= nav_element 'Log in', login_url %>
    <% else -%>
      <%= nav_element 'Account', edit_user_url(current_user) %>
      <%= nav_element 'Log out', logout_url %>
      <%= nav_element 'Admin', admin_root_url if current_user.is_admin? %>
    <% end -%>
  </ul>
</div>
