<%= form_for(@google_survey) do |f| %>
  <div class="field">
    <%= f.label :name, 'Survey Name' %><br />
    <%= f.text_field(:name, :size => 40) %>
  </div>
  <div class="field">
    <%= f.label :open, 'Open?' %> (i.e., participants can respond click the "participate in this survey" button)<br />
    <%= f.check_box :open, :checked_value => true, :unchecked_value => false %>
  </div>
  <div class="field">
    <%= f.label :is_listed, 'Listed?' %> (in "available surveys" lists shown to participants)<br />
    <%= f.check_box :is_listed, :checked_value => true, :unchecked_value => false %>
  </div>
  <div class="field">
    <%= f.label :is_result_public, 'Results public?' %> (i.e., displayed on participants' public profiles, and downloadable as CSV by participants)<br />
    <%= f.check_box :is_result_public, :checked_value => true, :unchecked_value => false %>
  </div>
  <div class="field">
    <%= f.label :description, 'Description' %><br />
    <%= f.text_area :description, :cols => 80, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label(:oauth_service, 'OAuth service') %><br />
    <%= collection_select(:google_survey, :oauth_service_id, OauthService.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label(:form_url, 'Google Form URL') %><br />
    <%= f.text_field(:form_url, :size => 80) %>
  </div>
  <div class="field">
    <%= f.label(:spreadsheet_key, 'Google Spreadsheet key or URL (where results appear)') %><br />
    <%= f.text_field(:spreadsheet_key, :size => 80) %>
  </div>
  <div class="field">
    <%= f.label(:userid_populate_entry, 'ID number of entry to pre-populate with user-identifying token') %><br />
    <%= f.text_field(:userid_populate_entry, :size => 6) %>
  </div>
  <hr/>
  <div class="field">
    <%= f.label(:reminder_email_frequency, 'Reminder e-mail frequency options in days, comma separated') %> (e.g. 1,2,7; participants will opt-in and choose one of the options supplied here; leave blank to disable reminders; put 0 to enable testing the feature without making it available to participants)<br />
    <%= f.text_field(:reminder_email_frequency, :size => 20) %>
  </div>
  <div class="field">
    <%= f.label :reminder_email_subject, 'Reminder e-mail subject' %><br />
    <%= f.text_field(:reminder_email_subject, :size => 40) %>
  </div>
  <div class="field">
    <%= f.label :reminder_email_body, 'Reminder e-mail body' %><br />
    <%= f.text_area :reminder_email_body, :cols => 80, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label(:bypass_field_title, 'Bypass field title') %> (e.g. 'No symptoms'. This should describe what it means when a participant uses the survey bypass feature in a reminder e-mail. It is used as the title for the link in the reminder e-mail, as well as for the column header in the CSV export.)<br />
    <%= f.text_field(:bypass_field_title, :size => 20) %>
  </div>
  <p/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
