<%= button_to 'New Google survey', new_google_survey_path, :class => 'btn btn-primary pull-right' unless @min_view %>

<h2>Participant surveys</h2>

<table class="admin_table table">
  <thead>
    <tr>
      <% if current_user %><th>Your participation</th><% end %>
      <th>Survey name</th>
      <th>Researcher</th>
      <% if !@min_view %><th>OAuth service</th><% end %>
      <th>Responses retrieved</th>
      <th>Responses</th>
      <th>Participants</th>
      <th></th>
      <% if current_user and (current_user.is_researcher? or current_user.is_admin?) %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% @google_surveys.each do |google_survey| %>
    <tr>
      <% if current_user %>
      <td>
        <%= link_to image_tag('tick.png', :title => 'You have responded to this survey.  Click to view your response history.'), google_survey if @my_google_survey_responses.collect(&:target_id).index(google_survey.id) %>
      </td>
      <% end %>
      <td><%= link_to google_survey.name, google_survey %></td>
      <td><%= google_survey.user.full_name %></td>
      <% if !@min_view %><td><%= google_survey.oauth_service.name %></td><% end %>
      <td><%= google_survey.last_downloaded_at %></td>
      <td><%= google_survey.responses.size %></td>
      <td><%= google_survey.responses.collect(&:owner_id).uniq.size %></td>
      <td><%= link_to 'Download responses (CSV)', download_google_survey_path(google_survey) if google_survey.last_downloaded_at and google_survey.is_result_public %></td>
      <% if current_user and (current_user.is_researcher? or current_user.is_admin?) %>
      <td><%= link_to 'Edit', edit_google_survey_path(google_survey) if current_user.is_admin? or current_user.id == google_survey.user.id %></td>
      <td><%= button_to 'Destroy', google_survey, :confirm => 'Are you sure?', :method => :delete if current_user.is_admin? or current_user.id == google_survey.user.id %></td>
      <% end %>
    </tr>
    <% end %>

  </tbody>
</table>

<br />

