<h2><% unless @min_view %><%= link_to 'Google surveys', google_surveys_path %> &gt; <% end %><%=h @google_survey.name %></h2>

<p id="notice"><%= notice %></p>

<h3>Survey information</h3>
<p>
  <b>Researcher:</b>
  <%=h @google_survey.user.full_name %>,
  <%=h @google_survey.user.researcher_affiliation %>
</p>

<p><%=raw auto_link(CGI.escapeHTML(@google_survey.description)).gsub("\r","").gsub("\n\n","</p><p>") %></p>
<hr>

<h3>Participate</h3>
<% if @can_edit or (current_user and current_user.enrolled and @google_survey.open) -%>
<p>
  <%= button_to 'Participate in this survey', participate_google_survey_path(@google_survey) %>
</p>
<% if ! @google_survey.reminder_email_frequency.blank? -%>
<h3>E-mail reminders</h3>
<p>
  <%= link_to 'Manage e-mail reminders', edit_google_survey_reminder_path(:google_survey_id => @google_survey) %>
</p>
<% end -%>
<% else -%>
  <% if @google_survey.open %>
    <div class="alert" style="width: 250px"><strong>Please log in to take this survey.</strong></div>
  <% end %>
<% end %>
<% if !@google_survey.open %>
<p>
  This survey is currently <%=raw '<b>not</b>' unless @google_survey.open %> open to participants.
</p>
<% end %>

<% if @nonces %>
<h3>Your participation in this survey</h3>
<% if !@nonces.empty? %>
<table class="admin_table">
  <thead>
    <th>Started taking survey</th>
    <th>Completed survey</th>
    <th>Responses retrieved</th>
  </thead>
  <tbody>
    <% @nonces.each do |nonce| %>
    <tr>
      <td><%= nonce.created_at.localtime.ctime %></td>
      <td><%= a=GoogleSurveyAnswer.where(:google_survey_id => @google_survey.id, :nonce_id => nonce.id, :column => 1); (t=Time.parse(a[0].answer)) and t.ctime if a and a.size==1 and a[0].answer %></td>
      <td><%= nonce.used_at.localtime.ctime if nonce.used_at %></td>
      <td><%= link_to('Delete',delete_google_survey_answers_url(nonce), :confirm => 'Are you sure? This set of survey answers will be deleted.', :method => :delete) if nonce.used_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>You have not participated in this survey.</p>
<% end %>
<% end %>

<% if @can_download %>
<h3>Survey responses</h3>
<p>
  <%= button_to "Download responses as CSV", download_google_survey_path(@google_survey) %>
  (<%= @google_survey.responses.size %> responses from <%= @google_survey.responses.collect(&:owner_id).uniq.size %> participants)
</p>
<% end %>

<% if !@google_survey.is_result_public %>
<h3>Survey responses</h3>
<p>
  Currently, responses to this survey are <b>not</b> publicly available.
</p>
<% end %>

<% if !@min_view %>
<h3>Technical details (this section is only displayed to researchers and admins)</h3>

<p>
  <b>Listed in "available surveys"?</b>
  <%= @google_survey.is_listed ? "Yes" : "No" %>
</p>

<p>
  <b>Responses available to public?</b>
  <%= @google_survey.is_result_public ? "Yes" : "No" %>
</p>

<p>
  <b>OAuth service:</b>
  <%=h @google_survey.oauth_service.name %>
</p>

<p>
  <b>Google Form URL:</b>
  <%=h @google_survey.form_url %>
</p>

<p>
  <b>Key or URL for Google Docs spreadsheet where responses appear:</b>
  <%=h @google_survey.spreadsheet_key %>
</p>

<p>
  <b>ID number of entry to pre-populate with user-identifying token:</b>
  <%=h @google_survey.userid_populate_entry %>
</p>

<p>
  <b>Spreadsheet column where user-identifying token appears:</b>
  <%=h @google_survey.userid_response_column %>
</p>

<p>
  <b>Responses last synchronized:</b>
  <%=h @google_survey.last_downloaded_at %>
</p>

<% if @can_edit %>
<p>
  <%= button_to 'Synchronize responses from Google now', synchronize_google_survey_path(@google_survey) %>
</p>
<% end %>
<p>
  <b>Reminder e-mail frequency:</b>
  <%=h @google_survey.reminder_email_frequency %>
</p>
<p>
  <b>Reminder e-mail subject:</b>
  <%=h @google_survey.reminder_email_subject %>
</p>
<p>
  <b>Reminder e-mail body:</b>
  <%=h @google_survey.reminder_email_body %>
</p>

<% if @can_edit %>
<p>
  <%= button_to 'Send myself a test reminder message now', send_test_reminder_google_survey_path(@google_survey) %>
</p>

<%= link_to 'Edit', edit_google_survey_path(@google_survey) %>
<% end %>
<% end %>
