<h2>Consent Form</h2>

<table border="1" cellspacing="0" cellpadding="2">
  <tr>
    <td width="468" valign="top"><br />
      Protocol Title:<strong> Personal Genome Project</strong></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Principal Investigator: <strong>George   M. Church, Ph.D. </strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Site-Responsible   Investigator's Institution:<strong> Harvard Medical School </strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Co-Investigators &amp;   Study Staff: <strong>&nbsp;Joseph Thakuria,   MD</strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Description of Volunteer   Population:<strong> </strong><br />
            <strong>Volunteers knowledgeable   of the benefits and risks of personal genome sequencing and relevant concepts   from genetics and human subjects research.&nbsp; We are seeking a diverse range of volunteers, male and   female, from as varied a set of genetic and environmental backgrounds as   possible.</strong> </p></td>
  </tr>
</table>
<p><strong>What is Informed Consent?</strong><br />
Informed consent means you understand the procedures, risks, possible benefits, and alternatives before you voluntarily agree to participate in a research study. &nbsp;Before you elect to participate, you need to understand if or how this study may affect you and your family.&nbsp; This form, along with other study documents available on the project website (http://www.personalgenomes.org/), is intended to help you make an informed decision about your participation in this study.&nbsp; The PGP website will be revised as needed, possibly on a frequent basis, and participants and prospective participants should check the website regularly to obtain the most current information about this study.</p>
<p><strong>Why have you been asked to participate in this research study?</strong><strong></strong><br />
You have been invited to participate because you are an individual 21 years of age or older and your performance on the entrance exam indicates that you are able to give informed consent for this public and open-ended study.&nbsp; This study (the “Personal Genome Project,” the “PGP” or the “study”) is being conducted by researchers at Harvard Medical School. </p>
 
<p><strong><u>I. PURPOSE</u></strong></p>
<p>The main scientific goal of this study is to explore ways to connect human genetic information with human trait information (i.e., human DNA sequence, medical information, tissue samples and physical traits) so that such data may be used for hypothesis-generating research and other scientific, clinical and commercial development efforts worldwide. Additional goals include (i) the determination of the risks of studies such as the PGP; (ii) developing a fully consented and public dataset to aid in the development of computational tools and user interfaces for scientists, clinicians and individuals; and (iii) the education of participants and the general public about the potential benefits, risks, and uncertainties posed by the widespread availability of genetic information. The PGP also seeks to develop a model system to allow a meeting place for experts on health care, molecular biology, genetic counseling, public health, law, education, and research. &nbsp;We hope that the PGP’s proposed specific datasets will help extend such discussions to planned case studies. &nbsp;We also hope, through the PGP, to discover what individuals, clinicians, and researchers might want or not want in such datasets, and why. </p>

<p><strong><u>II. OVERVIEW</u></strong></p>
<p>The PGP will collect from each participant tissue samples and personal and trait information submitted online.&nbsp; If you are enrolled in the PGP research study, your genetic and trait information will be made available through a publicly accessible website and database, according to the procedures described below.</p>
<p>Participants will receive only research data from the PGP, and any data or other information that you receive due to your participation, including DNA sequence data, is not intended to substitute in any way for professional medical advice, diagnosis or treatment, and it may not be used by you for any medical or clinical purpose unless the relevant sequence or other data, including any interpretations or findings presented in your Preliminary Research Report (described below) are first confirmed at the direction of and in consultation with a licensed healthcare professional.</p>
<p>We expect to enroll 100,000 participants in this project, although the pace at which we expand the project to large numbers of enrollees is unknown.</p>
<p>Participation in this study is voluntary. &nbsp;You do not have to participate in the PGP.&nbsp; You may withdraw your participation from this study at any time, as more fully described in this consent form.<strong></strong></p>
<p>&nbsp;</p>
<p><strong><u>III. DURATION OF THE PROJECT AND YOUR PARTICIPATION</u></strong></p>
<p>You will be deemed to be a participant of the PGP from the time that you sign this consent form and submit it to the PGP.&nbsp; Signing and submitting this consent form <u>does not</u> guarantee your full enrollment in the PGP.&nbsp; Although signing the consent form means that you are a participant in the PGP, your enrollment in the study is contingent upon the availability of resources, your completion of certain pre-enrollment and enrollment procedures requested by the PGP, and other relevant considerations as may be determined by the PGP at its sole discretion and communicated to you.</p>
<p>The duration of your participation is intended to be 25 years from the time of your enrollment, however your participation is entirely voluntary and you may choose to opt-out of the PGP at any time.</p>
<p>Sample analysis and data processing may continue for up to an additional 25 years following completion of your participation in the PGP, unless you choose to withdraw or are removed from the PGP.&nbsp; Cell lines and the public version of your genetic, trait, and other data may be maintained for up to 50 years (or longer, if approval for the continuation of the study is sought by the PGP and granted), unless you request removal of your data and/or cell lines in writing before that time, in which case your data and/or cell lines will be removed in accordance with this consent form.</p>

<p><strong><u>IV. PRE-ENROLLMENT PROCEDURES</u></strong></p>
<p><strong>1. COLLECTION OF BASELINE TRAIT DATA</strong><br />
1.1 To be considered for enrollment in the PGP, you are required to electronically submit baseline trait data about yourself, including: date of birth, medications, allergies, vaccines, personal medical history, race/ethnicity/ancestry, and vital signs (e.g. height, weight, blood pressure).&nbsp; The full list of personal information required for enrollment may be found on the project website.<br />

1.2 Submitting this information will take an estimated 1-3 hours, and that time may be lost if you are not selected for enrollment.&nbsp; You will not be compensated for any lost time.<br />

1.3 Additional personal and trait information may also be requested or required by the PGP, such as a facial photograph, family medical history, or lifestyle traits in order to be considered for enrollment.</p>

<p><strong>2. PLEDGE</strong><strong></strong><br />
2.1 You will be asked to make a financial pledge to the PGP and to specify the amount of the pledge in the event that you are invited to enroll in this project.<br />

2.2 Participants will be enrolled without regard to whether a financial pledge is made or the amount of the pledge, but contributions are encouraged and will be used to subsidize the costs of research and related activities. <br />

2.3 Your enrollment is not guaranteed and will depend, in part, on the availability of funds.
</p>

<p><strong>3. IDENTITY VERIFICATION </strong><br />
3.1 The PGP will ask you to provide your mailing address and may ask you to respond to up to 20 questions about your identity based on information available in public data records.<br />

3.2 If we are unable to verify your identity, we may request that you send additional information to the PGP by mail, fax, and/or online.&nbsp; If we are still unable to verify your identity, you will be notified that (1) you must visit a designated medical center to enroll or (2) your enrollment is rejected.</p>

<p><strong>4. MONOZYGOTIC TWIN</strong><br />
4.1 If you have any living siblings who are your identical (monozygotic) twin, such sibling(s) will need to provide consent for your participation in this research study before the PGP will consider you for enrollment.</p>

<div><p>INSERT FORM ELEMENT</p></div>

<p><strong>5. APPLICATION FOR ENROLLMENT</strong><br />
5.1 After submitting your trait information, specifying your pledge, completing your identity verification and completing any other applicable pre-enrollment activities, your application for enrollment will be considered by the PGP.<br />

5.2 You will then be notified that you are either: (1) selected for the next stage of the enrollment process (2) waitlisted or (3) rejected.</p>

<p><strong>6. TISSUE COLLECTION AT HOME</strong><br />
6.1 If you are invited to continue the enrollment process, you will be asked to supply a mailing address where pre-enrollment and enrollment materials will be sent, including a saliva collection kit and/or a hair collection kit that may be self-administered as directed by the PGP.<br />

6.2 The saliva sample collection kit may be self-administered and requires you to provide 2-4 milliliters of your saliva.&nbsp; The sample will be used for the production of DNA sequence data and other data, as more fully described below.<br />

6.3 The hair sample collection kit may be self-administered and requires 1-5 hairs to be plucked from your body.&nbsp; The skin cells (i.e. keratinocytes) attached to the hair sample will be used to create a living tissue sample known as a cell line, as more fully described below.&nbsp; Cell lines provide a renewable supply of your cells and DNA.&nbsp; The PGP may attempt to generate cell lines from your hair sample once it is received, but will not distribute either your cell line or data derived from your cell line unless and until you have been enrolled in the PGP.&nbsp; The PGP is unable to make any guarantees about the success of cell line creation. <br />
 
6.4 To be eligible for enrollment in the PGP, you must submit a saliva sample and/or a hair sample, as directed by the PGP in the pre-enrollment materials sent to you at the address you provide.&nbsp; Samples must be collected and returned as instructed.&nbsp; The PGP will provide sample collection materials, including instructions and mailing packages.
 </p>

<p><strong><u>V. ENROLLMENT PROCEDURES</u></strong> </p>
<p><strong>1. ENROLLMENT</strong><br />
1.1 After your tissue specimens are received, you will be notified that you are either: (1) enrolled, (2) waitlisted, (3) rejected, or (4) requested to visit a medical center to complete enrollment.<br />

1.2 If you are notified that a visit to medical center is needed to complete your enrollment, you will be asked to schedule an appointment at a designated medical center. <br />

<div>
a. The PGP will also notify you at this time whether tissue specimens will be collected during your visit.&nbsp; You may request to be enrolled without undergoing a skin biopsy procedure by marking NO below. <br />
<div><p>INSERT FORM ELEMENT</p></div>

b. Please review the locations of participating medical centers because they may be located a long distance from your home and the PGP will not reimburse you for any costs you may incur traveling to or from the medical center.&nbsp; A list of participating medical centers may be found on the PGP website.<br />

c. Costs that you might incur the day of your visit to a medical center include, but are not limited to, transportation costs to and from the medical center (tolls, gas, etc.) and the loss of personal time.&nbsp; You will not be compensated for these or for any other costs associated with your visit.<br />

d. The day of your visit to a medical center, you will meet with one or more PGP staff members who will verify your identity and consent, confirm your familiarity with the study protocols, and/or review and confirm your baseline trait data.&nbsp; The interview will take approximately 1 hour.<br />

e. Following the conclusion of the interview, you will be notified that you are either: (1) enrolled, (2) waitlisted, or (3) rejected.<br />
</div>

1.3 Following the conclusion of the interview and if you are enrolled, the PGP will notify you that either (i) a skin biopsy procedure and/or (ii) a blood draw will be performed at the medical center by trained professionals appointed by the PGP, or (iii) that no tissue samples will be collected at all. If you have not indicated your willingness to undergo a skin biopsy procedure above you will not be requested to do so as part of your enrollment in the PGP.<br />

<div>
a. A skin punch biopsy (1/8 inch block, 3 mm diameter) is collected from the underside of the upper arm or hip and requires local anesthesia.<br />
b. A blood sample is collected from your upper arm and requires a minimum of 5ml of blood.<br />
c. The skin cells (i.e., fibroblasts) or blood (i.e., lymphoblasts) that you provide will be used to create a living tissue sample known as a cell line.&nbsp; Cell lines provide a renewable supply of your cells and DNA.<br />
</div>

1.4 If you are rejected for enrollment, within 6 months the PGP will permanently delete the trait data that you submitted and destroy any tissue samples you submitted.</p>


<p><strong>2. CONTRIBUTION </strong><br />

2.1 After you are enrolled in the project, your financial contribution may be paid by check or online via a secure credit card transaction.&nbsp; <br />
2.2 Analysis of your tissue samples may be delayed and your participation in the PGP otherwise limited until your contribution is received according to your pledge. &nbsp;If at any point you should choose to withdraw from the PGP or the PGP should decide to terminate your participation in the project your financial contribution will not be refunded.<br />
2.3 Contributions will be made to the PGP’s implementing and fundraising organization, PersonalGenomes.org, a North Carolina charitable organization qualified under Section 501(c)(3) of the Internal Revenue Code.&nbsp; Contributions to PersonalGenomes.org are tax deductible to the extent permitted by law.</p>

<p><strong>3. DNA ANALYSIS</strong><br />
3.1 DNA analysis and other research will be performed on the tissue samples collected from you and/or the cell lines created from such samples.&nbsp; The nature and extent of the analysis and research will be determined by the PGP at its sole discretion.<br />
3.2 The PGP is unable to make any guarantees about the accuracy or completeness of any DNA analysis or the turn around time for any of these activities.</p>


<p><strong>4. RETURN AND PUBLIC RELEASE OF RESEARCH DATA</strong><br />

4.1 Upon completion of certain DNA analysis conducted by the PGP, your DNA sequence data will be made available to you via a password protected area on the PGP website. &nbsp;This information is for research purposes only and may not be used by you for any medical or clinical purpose unless the relevant sequence or other data, including any interpretations or findings presented in your Preliminary Research Report (described below), are first confirmed at the direction of and in consultation with a licensed healthcare professional.&nbsp; Examples of DNA sequence data similar to what you will receive as an enrollee may be found on the project website.<br />

4.2 In addition to your DNA sequence data, the PGP will provide you with a preliminary research report (the “Preliminary Research Report” or the “Report”) intended to help you make a more informed decision about whether or not to release your DNA sequence data to the PGP’s public website and database.&nbsp; This Report will contain a non-comprehensive list of genetic variants present in your DNA sequence data that are currently believed by the PGP to be of significance in clinical practice, as well as any additional information, resources or interpretation that the PGP may deem appropriate to provide to you as part of your Report.&nbsp; In preparing your Report, the PGP may review your DNA sequence data in conjunction with the trait data and other information that you have submitted to the PGP.<br />

<div>
a. The Preliminary Research Report represents only preliminary research findings and neither the accuracy nor the completeness of the Report is guaranteed.&nbsp; The databases, knowledge and tools used to generate the interpretations contained in the Report are not comprehensive and are also subject to change.&nbsp; Only one Preliminary Research Report will be provided to you.&nbsp; The PGP will not be responsible for updating or supplementing the Report.<br />

b. The Preliminary Research Report is not intended to substitute in any way for professional medical advice, diagnosis or treatment and may not be used by you for any medical or clinical purpose unless the relevant sequence or other data, including any interpretations or findings presented in your Preliminary Research Report, are first confirmed at the direction of and in consultation with a licensed healthcare professional.<br />

c. Examples of other Reports similar to what you may receive as an enrollee are available on the project website.<br />
</div>

4.3 After receiving your DNA sequence data and your Preliminary Research Report, you will be able to choose whether to (i) make your DNA sequence data available, along with your trait information and any other information that you have voluntarily submitted to the PGP, on the PGP’s public website and database or (ii) withdraw from the PGP.<br />

4.4 Following the initial receipt of your DNA sequence data and your Preliminary Research Report the PGP may, at its sole discretion, choose to re-process and/or supplement your DNA sequence data at any time thereafter, consistent with the provisions of this consent form, as new data, information or techniques, whether relating to you or to the PGP generally, become available.&nbsp; Should this occur, and if after reviewing your Report you previously consented to the release of your DNA sequence data, your re-processed and/or supplemented DNA sequence data may be released, at the PGP’s discretion, directly to the PGP’s public website and database without your prior receipt or review of such re-processed and/or supplemented DNA sequence data.&nbsp; You will not be provided an additional or revised Preliminary Research Report or other analysis of your DNA sequence data and you will not be given an opportunity to choose whether or not to release or publicize your re-processed and/or supplemented DNA sequence data.<br />

4.5 <strong>By signing this consent form, you hereby agree that, should you review your Preliminary Research Report and authorize the PGP to proceed with the public release of your DNA sequence data and other personal information, any research data made available to you by the PGP in any form (including your DNA sequence data, whether or not re-processed and/or supplemented, and your Preliminary Research Report) along with your trait information and any other information voluntarily submitted by you to the PGP, may be made publicly available by the PGP, without legal restriction and without your further consent, through the PGP's publicly accessible website and database, or in such other formats and/or locations as the PGP may designate, and you hereby acknowledge the risks associated with the receipt, return and/or public release of such data and information.</strong></p>

<p><strong>5. ESTABLISHMENT, DISTRIBUTION AND ANALYSIS OF CELL LINES</strong><br />

5.1 Tissue samples submitted to the PGP will be used by the PGP for a range of research purposes, including creation of cell lines, transformation into adult stem cells (i.e., induced pluripotent stem cells or iPS cells, which are cells with the ability to divide for indefinite periods and to give rise to specialized cells), the study of biological characteristics, DNA, RNA (gene expression), physical traits, and/or the presence and characteristics of micro-organisms and viruses in the specimen samples.<br />

5.2 If you consent to participate in this study, the PGP will, at its discretion, create or attempt to create cell lines from your tissue samples.&nbsp; Cell lines provide a renewable supply of your cells and DNA.<br />

5.3 Cell lines will be deposited in and distributed by the Coriell NIGMS repository and/or other biorepositories, as determined by the PGP.<br />

5.4 The PGP is unable to make any guarantees about the success of cell line creation, or turn around time for any of these activities.<br />

5.5 At the sole discretion of the PGP, cell lines may be made available by the PGP to third parties under agreements approved and entered into by the PGP or its affiliate, PersonalGenomes.org, without your additional notification or consent.&nbsp; These agreements may permit your cell lines to be used for research, clinical or therapeutic, commercial or other purposes, including involving humans and/or animals.&nbsp; Other than for purposes of cost recovery, neither the PGP nor PersonalGenomes.org will license or otherwise make participant cell lines available to any third party for the financial gain or commercial profit of the PGP or PersonalGenomes.org.<br />

5.6 Unless otherwise determined by the PGP, the results of any analysis, development or other work performed by third parties with access to your tissues or cell lines will not be returned to you by the PGP. &nbsp;However, because such results may be made publicly available, and may be identified as deriving from your tissues or cell lines, you may be made aware, even without your consent, of the results of such activities.<br />

5.7 At the PGP’s sole discretion, the PGP may return to you certain results deriving from your tissues or cell lines and request that you voluntarily choose whether to make the results available, along with your genetic and trait data, on the public website and database.<br />

5.8 <strong>By signing this consent form, you agree that the cell lines created from your tissues may be made available by the PGP without your notification or further consent for the uses and upon the conditions more fully described above and throughout this consent form, and you hereby acknowledge the risks associated with such creation, distribution and use of your cell lines.</strong></p>

<p><strong><u>VI. ONGOING PARTICIPATION FOLLOWING ENROLLMENT</u></strong></p>
<p><strong>1. RECONTACT </strong><br />

1.1 Other than the Safety Questionnaires described below, you are under no obligation to receive study notices or participate after providing the tissue samples and exchange of the information outlined above.&nbsp; If you choose YES to the question below, you may be contacted by the PGP at a future date and asked if you would like to voluntarily submit additional tissue specimens and/or trait or other information and/or participate in research studies or other activities coordinated by the PGP.&nbsp; You may change your choice on this option at any time by notifying the PGP in writing.
</p>

<div><p>INSERT FORM ELEMENT</p></div>

<p><strong>2. ADDITIONAL TRAIT COLLECTION</strong> <strong></strong><br />
2.1 Additional personal and trait information may be requested by the PGP and submitted by you on a voluntary basis.&nbsp; Any additional information disclosed by you may be made publicly available by the PGP via the public website and database without your additional consent.
</p>

<p><strong>3. ADDITIONAL TISSUE SPECIMEN COLLECTION</strong><br />

3.1 Additional tissue samples, such as buccal swabs, skin swabs, hair samples, saliva samples, urine samples and/or fecal samples, may be requested by the PGP and submitted by you on a voluntary basis.&nbsp; Any additional samples submitted by you may be analyzed or otherwise incorporated into the study, and the results may be made publicly available by the PGP via the public website and database.
</p>

<p><strong>4. ADDITIONAL RETURN AND RELEASE OF RESEARCH DATA</strong><br />

4.1 At the PGP’s sole discretion, the PGP may return to you certain research results or analysis generated by the PGP or by its affiliates and deriving from your participation in the project, and request that you voluntarily choose whether or not to make such results available, along with your other information already on the public website and database.</p>

<p><strong>5. SAFETY QUESTIONNAIRES</strong><br />

5.1 Every 3 months the PGP will circulate a "<u>Safety Questionnaire</u>" to all enrollees and request that each enrollee answer the following questions:<br />

<div>
a. What negative and/or positive events have happened to you and/or your relatives or acquaintances due to your participation in the PGP?<br />

b. What are the reactions or responses of your relatives and acquaintances to the posting of your genetic, trait and other data?<br />

c. Please report incidents of being contacted by acquaintances or by strangers (including researchers, health care providers or members of the media) regarding your data being posted online.<br />

d. In what ways has this study positively or negatively influenced your interactions with your medical care providers or your receipt of or access to health care services?<br />

e. Has your involvement in this study triggered any medical work up, investigations, or treatments that would not otherwise have been done? &nbsp;If you answer yes, please describe (a) the specific medical intervention and (b) the findings or consequences of the medical intervention with regard to your health. &nbsp;Medical work up that would have been performed had you not participated in this study, whether due to symptoms, a personal or family medical history, routine screening or any other reason, should not be included.<br />
</div>

<p>&nbsp;</p>

5.2 It will be requested that answers to the Safety Questionnaire or a "no change" reply be returned to the PGP within 1 week of receipt.<br />

5.3 Additionally, at 5 year intervals and at the end of participation in the study, enrollees will be requested to write their thoughts about the PGP overall, including whether this consent form adequately described the procedures and risks associated with your participation.<br />

5.4 We request that enrollees report immediately to the PGP any material differences between their experiences as an enrollee and the contents of this consent form or other study documents.<br />

5.5 The Safety Questionnaire, including the number of questions and the frequency of circulation to enrollees, may be modified by the PGP from time to time.</p>

<p><strong><u>VII. RISKS AND DISCOMFORTS</u></strong></p>
<p>You are strongly encouraged to discuss this study and the potential risks, as outlined below and on the project website, with your immediate family members as well as with your physician and/or other qualified health care providers.&nbsp; You are also encouraged to discuss with the Principal Investigator directly any additional concerns that you may have regarding the risks to you of participating in this study.&nbsp; You are advised that the PGP website will be revised, possibly on a frequent basis, and participants and prospective participants should check the website regularly to obtain the most current information regarding potential risks and discomforts as they become apparent.<br />

1.1 The risks of public disclosure of your genetic and trait information could affect your employment, insurance and financial well-being and social interactions for you and your immediate family.&nbsp; The following is a non-comprehensive list of hypothetical scenarios that could pose risks for you and/or your family:<br />

<div>
a. Data that you provide (such as facial images, other trait data or DNA sequence data) may be used to identify you, resulting in higher than normal levels of contacts from the press and other members of the public motivated by positive or negative feelings about the study. &nbsp;This could mean a significant loss of privacy and personal time. <br />

b. Anyone with sufficient knowledge and resources could take your DNA sequence data and/or posted trait information and use that data, with or without modification, to (1) infer paternity or other features of your genealogy, (2) claim statistical evidence that could affect your employment, insurance or ability to obtain financial services, (3) claim relatedness to criminals or incriminate relatives, (4) make synthetic DNA and plant it at a crime scene, or otherwise use it to falsely identify you, or (5) reveal the possibility of a disease or unknown propensity for a disease. <br />

c. Whether or not it is lawful to do so, you could be subject to actual or attempted employment, insurance, financial or other forms of discrimination or negative treatment on the basis of the public disclosure of your genetic and trait information by the PGP or by a third party.<br />

d. The distribution of your cell lines could result in the creation and further distribution by a third party of additional cell lines, organs or tissues containing your DNA for research, commercial, clinical or other uses, including certain forms of assisted reproduction, some of which you may find objectionable or upsetting.&nbsp; For instance, if scientific technology were to improve, it may one day be possible for a third party to use, without authorization by you or by the PGP, cell lines or biological materials derived from your cell lines for novel or unexpected reproductive or other purposes, including cloning.&nbsp; You may be made aware, without your consent, of the results of such research, commercial, clinical or other uses, whether or not authorized, of your cell lines.<br />

e. If you have previously made available or intend to make available genetic information in a confidential setting, for example in another research study or in a clinical trial, the data that you provide as part of the PGP may be used, on its own or in combination with your previously shared data, to identify you as a participant in otherwise confidential genetic research or trials.&nbsp; This means that any data or other information you may have shared pursuant to a promise of confidentiality or privacy may become public despite your intent that it be kept private and confidential.&nbsp; Depending on the nature and context of the data or information, this could result in certain adverse effects for you, including ones not contemplated by this consent form.<br />
</div>

1.2 Your DNA sequence data, trait data and other information related to you that is made publicly available by the PGP, while directly associated only with you, may also have relevance to your family members.&nbsp; Although in many instances any conclusions that may be inferred from your publicly available information may be speculative with respect to you, and even less predictive with respect to your family members, the complete set and magnitude of the risks that the public availability of this information poses to you and your relatives is not known at this time.&nbsp; You are strongly encouraged to discuss this study and its potential risks with your immediate family members.<br />

1.3 If you are enrolled in the PGP research study and based on your review of your Preliminary Research Report or otherwise according to the procedures described in this consent form, choose not to make your DNA sequence data publicly available, the public disclosure of your DNA sequence data due to unintended data breaches, including hacking or other activities outside of the procedures authorized by the PGP, is still possible and, should this occur, you would be subject to the various risks and discomforts described in this section and throughout this consent form.<br />

1.4 You are advised that the PGP is unable to guarantee the accuracy or the validity of any research data, including your DNA sequence data and your Preliminary Research Report, provided to you by the PGP.&nbsp; The data provided to you by the PGP, including your DNA sequence data and your Preliminary Research Report, is not a suitable substitute for professional medical or clinical advice, diagnosis or treatment, and may not be used by you for any medical or clinical purpose unless the relevant sequence or other data, including any interpretations or findings presented in your Preliminary Research Report, are first confirmed at the direction of and in consultation with a licensed healthcare professional.<br />

<div>
a. Comprehensive screening of DNA sequence data for pathogenic genetic variants is not done clinically or routinely at this time.&nbsp; The clinical importance of even well established pathogenic variants that are found through this type of screening is not known with certainty at this time.&nbsp; Furthermore, although there is considerable information discussing possible connections between genetic information, such as may be disclosed by your DNA sequence data, and clinical or medical outcomes, some of these connections, especially when screened for in the general population, remain uncertain, subject to further research and neither their validity nor their clinical usefulness can be confirmed by the PGP at this time.<br />

b. Regardless of any specific interpretations or findings provided in or omitted from your Preliminary Research Report, you are likely to be subjected to additional interpretations - both accurate and inaccurate - of your public data by outside sources. <br />

c. If you choose to make your DNA sequence data and other information available it will be published via the PGP's publicly accessible website and database, and it will be available to third parties without legal restriction.&nbsp; As a result, neither you nor the PGP will be able to control or restrict the access, use, reproduction, modification or analysis of your data and other public information.&nbsp; Your data and other public information may be made public in other forms beyond its inclusion in the PGP database.&nbsp; It may also be altered or modified, without either your or the PGP's consent, in a way that might be inaccurate and/or upsetting to you.&nbsp; For instance, a third party could access your publicly available sequence data, alter it and republish it to suggest that you had a propensity for a disease or other detrimental trait.&nbsp; Additional adverse effects are also possible.<br />

d. Knowledge of potentially detrimental genetic variants may cause anxiety.&nbsp; As a result, you may be motivated to seek Health or Medical Care, as defined below, to verify the accuracy of such interpretations, whether provided by the PGP or by other sources.&nbsp; Should you choose to pursue such Health or Medical Care you could be exposed to additional risks and/or discomforts, several of which are identified below.<br />
</div>

1.5 The PGP will not (i) provide you with, (ii) arrange for, (iii) pay for, reimburse you for or otherwise subsidize or (iv) provide you, your physician or any other health care provider with any recommendations, advice or other guidance with respect to, any of your Health or Medical Care.&nbsp; For purposes of this consent form, “<u>Health or Medical Care</u>” means both of any (i) current medical or clinical advice, diagnosis or treatment, preventative action or other related course of action of any kind and (ii) follow up clinical or medical advice, diagnosis or treatment, preventative action or other related course of action of any kind.<br />

<div>
a. The PGP is not responsible for any aspect of your Health or Medical Care, including, without limitation, accurately predicting disease or disease risk, informing you of pathogenic sequence variants, or providing you with accurate or valid DNA sequence data or interpretations of your DNA sequence data.&nbsp; No Health or Medical Care will be made available by the PGP and, as described above, no special arrangements, for compensation or otherwise, will be made by the PGP should you require or choose to pursue any Health or Medical Care as a result of your participation in the PGP.<br />

b. You should seek the advice of your physician or other qualified health care provider if you have questions regarding any information provided to you by the PGP, including with respect to your DNA sequence data or Preliminary Research Report.&nbsp; You should not ignore professional medical advice from your doctor or any other qualified health care provider on the basis of any information contained or not contained in your Preliminary Research Report or in other information provided to you by the PGP, and you should not interpret your DNA sequence data or your Report as recommending or discouraging any specific treatment plan, product or course of action with respect to your Health or Medical Care.<br />

c. In the event that you, in conjunction with your physician or other qualified health care provider, decide that any change in your Health or Medical Care is necessary or advisable as a result of any information you obtained as a participant in the PGP, you (or your third party payer, if applicable) will be solely responsible for all resulting payments and costs associated with such Health or Medical Care.<br />

d. Any Health or Medical Care that you may determine, after consultation with your physician or other qualified health care provider, is necessary, whether as a result of your participation in this study or otherwise, may be invasive and have its own associated risks and expenses.&nbsp; Serious risks, including death, may be involved in any such Health or Medical Care. &nbsp;You should carefully consider these risks, as well as whether or not you have access to the financial and other resources to pursue such Health or Medical Care.<br />

e. In the event that your physician or other qualified health care provider is directly or indirectly involved with the PGP, as either a researcher or a participant, any Health or Medical Care that you receive from such provider, including medical advice or clinical management, represents Health or Medical Care provided by such provider pursuant to your existing physician-patient relationship, and is not to be construed or interpreted as the provision of Health or Medical Care by the PGP. <br />
</div>

1.6 A Data Safety Monitoring Board (DSMB) will monitor the progress of the PGP, including the risks to study participants.&nbsp; Although the PGP will take reasonable measures to notify you of any additional risks identified by the DSMB, including through updates to the project website, the DSMB will be unable to monitor all of the risks of participation in this project, and it may not be able to advise you or the PGP of those risks that it monitors or identifies.&nbsp; <br />

1.7 There are no known or foreseeable risks or side effects are associated with saliva, hair, buccal, skin swab, urine, or fecal sampling procedures.&nbsp; The blood draw and skin biopsy may involve a small amount of pain, bleeding and/or fainting, and may also cause temporary bruising and/or infection at the site of puncture.&nbsp; Some degree of permanent scarring can be expected from the skin biopsy procedure.<br />

1.8 If physical injury resulting from participation in this project should occur, please seek medical care immediately and contact the Principal Investigator.&nbsp; Although, as described above, the PGP will not normally provide any Health or Medical Care to participants it may, in rare instances and at its sole discretion, provide Health or Medical Care in the event of an emergency.&nbsp; Should this occur, you (or your third party payer, if applicable) may be billed for the cost of such Health or Medical Care.&nbsp; Should the PGP make any Health or Medical Care available neither the PGP, nor any individual associated with the PGP, are admitting any fault or liability for any injury that you may have suffered.
</p>


<p><strong><u>VIII. BENEFITS</u></strong></p>

<p>
1.1 There are no proven benefits to you from your participation in the PGP.<br />
1.2 The study may benefit the medical science and research community as a whole.&nbsp; For example, the PGP may help establish genetic causes and predispositions for common diseases or that preventative measures observable in existing populations might be due to variation in lifestyle. You may experience satisfaction from participating in research that may benefit medical science.
</p>

<p><strong><u>IX. INTELLECTUAL PROPERTY</u></strong></p>

<p>
1.1 Other than for purposes of cost recovery, neither the PGP nor PersonalGenomes.org will license or otherwise make available your tissue specimens, cell lines, DNA samples, DNA sequence data, and personal information to any person, institution, company or other third party for the financial gain or commercial profit of the PGP or PersonalGenomes.org.&nbsp; However, information and materials that you provide, including DNA sequence data and cell lines derived from your tissue specimens, may be made available to third parties for research, clinical or therapeutic, commercial or other purposes.<br />

1.2 You will not be compensated for your participation in the PGP.&nbsp; Neither you nor your heirs will gain financially from any discoveries, whether or not of a commercial nature, made using the information and/or specimens that you provide.
</p>

<p><strong><u>X. CONFIDENTIALITY</u></strong></p>

<p>
1.1 If you are enrolled in the PGP, your genetic and trait information will not be maintained or made available in a confidential or anonymous fashion.&nbsp; Your genetic and trait information will be made available via a publicly accessible website and database, according to the procedures described above.&nbsp; Public disclosure of your information due to unintended data breaches, including hacking or other activities outside of the procedures described above, is also possible. <br />

1.2 Your genetic and trait data will not be sent to your health care provider by the PGP and will not become part of your medical record due to any activities of the PGP.&nbsp; However, because this information will be publicly available, and may be identified as yours, it could become part of your medical record or be shared with your health care provider or provided to others due to the activities of one or more third parties.<br />

1.3 Your reply to the Safety Questionnaires will be confidential by default. &nbsp;However, the DSMB, governmental agencies or study sponsor may request or require this information in order to judge the risks to you and any other study participants and the PGP will share your replies to the Safety Questionnaire with such entities to the extent required or reasonably requested.<br />

1.4 Responses to the Safety Questionnaires that may impact other PGP participants or the public generally will be paraphrased and/or will have all information reasonably likely to identify you removed prior to making this information publicly available on the public website or elsewhere for purposes of public education or risk management.&nbsp; If you would like your answers to be identified as yours, then you will need to indicate that as part of your response to the Safety Questionnaires.&nbsp; Although the PGP will take reasonable steps to ensure that your responses to Safety Questionnaires, if published, are not identified as yours without your consent, the PGP is unable to guarantee the anonymity of your responses.<br />

1.5 The results of this study may be published in a medical book, journal, website or webpage, or used for teaching purposes. &nbsp;Your name and other identifiers (such as your photograph and medical information provided during the course of your participation in the study) may be used in such publications or teaching materials. &nbsp;You will not be notified by the PGP prior to such use.
</p>

<p><strong><u>XI. REFUSAL OR WITHDRAWAL OF PARTICIPATION</u></strong></p>
<p>
1.1 Participation in this study is voluntary. &nbsp;You do not have to participate in the PGP.&nbsp; You may withdraw your participation and/or your data from this study at any time, as described in this consent form, and you need not provide a reason.<br />

1.2 You are free to decide at any time that you no longer want your tissue samples, DNA sequence data, cell lines or other information to be used as part of this research study, but you are advised that there are significant limitations on your ability to prevent the future use of such data and/or information.<br />
<div>
a. If you choose to withdraw from the study and request that your genetic and trait data to be removed, within 6 months the PGP will delete all DNA sequence and trait data pertaining solely to you and held by the PGP, and issue requests to any organizations or researchers with whom the PGP has any formal data sharing agreements to likewise delete such data within a reasonable time frame.&nbsp; You are advised, however, that once any information obtained about you during the course of your participation in the study is posted on the Internet, other organizations and individuals who have no formal data sharing agreement with the PGP may acquire copies of it, and there will be no mechanism to ensure that they delete their copies or for the PGP to even know what copies may exist.<br />

b. If you decide to withdraw from participation and request that the PGP remove cell lines created from your tissues, the PGP will destroy all tissue samples and cell lines held by the PGP and send a notice to all biorepositories with which the PGP has formal agreements requesting that such biorepositories destroy your cell lines.&nbsp; You are advised, however, that once tissue samples and/or cell lines have been distributed, the ability to control their use by you, the PGP or the biorepository to which they were distributed will be limited.&nbsp; Because your cell lines and/or tissue samples will have been widely distributed, it will not be possible to retrieve and/or destroy all copies of your cell lines and/or tissue samples.<br />
</div>

1.3 The PGP may decide, at its sole discretion, to end your participation in this study at any time.&nbsp; If the PGP terminates your participation it will provide an explanation for its doing so.<br />

1.4 Your participation in the PGP may be ended if you do not comply with the instructions related to Safety Questionnaires, as described above.<br />

1.5 If the event that you are refused enrollment in the PGP or your participation in the PGP is terminated by the PGP, you may request that the PGP destroy any of your tissue samples and/or cell lines and delete any of your data in accordance with the provisions set forth above.<br />

1.6 In order to comply with the terms of this consent form, as well as with other requirements, the PGP may continue to maintain certain information about you, including your name, date of first participation, date of enrollment and date of termination or withdrawal, following the conclusion of your participation in the PGP, including if your participation is terminated or you should decide to withdraw.</p>

<p><strong><u>XII. ALTERNATIVES</u></strong></p>
<p>
1.1 The alternative is not to participate in the PGP.<br />

1.2 If you choose not to participate, your medical treatment at your hospital and other medical care providers will be unaffected.</p>


<p><strong><u>XIII. RESEARCH-RELATED CONTACT INFORMATION:</u></strong></p>
<p>
1.1 If you have any questions or concerns about the study, or if you suffer a research related injury, you may contact the Principal Investigator: George Church, PhD, at (617) 432-7562 or <a href="mailto:consent@personalgenomes.org">consent@personalgenomes.org</a><br />

1.2 If you wish to discuss your rights as a participant in a research study, or if you feel under any pressure to enroll in this study you may contact: Carolyn Connelly, PhD, the Director of the Office for Research Subject Protection at Harvard Medical School (617) 432-0651 or <a href="mailto:carolyn_connelly@hms.harvard.edu">carolyn_connelly@hms.harvard.edu</a></p>


<p><strong><u>SIGNATURE</u></strong></p>
<p>I have read this entire informed consent form and I understand it completely.&nbsp; &nbsp;I confirm that I understand the purpose of this study, the study procedures, the possible risks and discomforts of participating in this study, the potential benefits that I may experience, and the alternatives to my participation in this study. &nbsp;All of my questions have been answered to my complete satisfaction. </p>

<p>I understand that by typing my name and email address in the box below I am signing this informed consent form, I am acknowledging and agreeing to all of the terms and conditions of participation set forth above, and I am providing my informed consent to participate in the PGP.
</p>

<% form_for :participation_consent do |f| %>
  <div class="inputs">
    <%= f.label 'name' %>
    <%= f.text_field 'name' %>
    <span>(Must match &ldquo;<%= h current_user.full_name %>&rdquo;)</span>
  </div>
  <br/>
  <div class="inputs">
    <%= f.label 'email' %>
    <%= f.text_field 'email' %>
    <span>(Must match &ldquo;<%= h current_user.email %>&rdquo;)</span>
  </div>
  <br/>
  <%= f.submit %>
<% end %>
