<%= error_messages_for :sample, :header_message => 'Error: data could not be saved.', :message => nil %>
<% if not @sample.is_destroyed.nil? %>
  <div class="<%= raw(alert_classes_for_flash_key(:error)) %>">This sample was marked as destroyed on <%= @sample.is_destroyed %>.</div> 
<% end %>
<%= form_for(@sample) do |f| %>
  <div class="field">
    <%= f.label :study_id %><br />
    <%= @sample.study.name %>
  </div>
  <div class="field">
    <%= f.label :kit_id %><br />
    <%= @sample.kit.name if @sample.kit %>&nbsp;
  </div>
  <div class="field">
    <%= f.label :participant_id %><br />
    <%= @sample.participant.hex if @sample.participant %>&nbsp;
  </div>
  <div class="field">
    <%= f.label :original_kit_design_sample_id %><br />
    <%= @sample.original_kit_design_sample.name if @sample.original_kit_design_sample %>&nbsp;
  </div>
  <div class="field">
    <%= f.label :kit_design_sample_id %><br />
    <%= @sample.kit_design_sample.name if @sample.kit_design_sample %>&nbsp;
  </div>
  <div class="field">
    <%= f.label :when_originated %><br />
    <%= @sample.when_originated %>&nbsp;
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <% if @sample.owner.nil? %>
    &nbsp;
    <% elsif @sample.owner.is_researcher? %>
    <%= @sample.owner.full_name %>
    <% else %>
    <%= @sample.owner.hex %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :last_mailed %><br />
    <%= @sample.last_mailed %>&nbsp;
  </div>
  <div class="field">
    <%= f.label :last_received %><br />
    <%= @sample.last_received %>&nbsp;
  </div>
  <div class="field">
    <%= f.label :participant_note %><br />
    <pre>
    <%= @sample.participant_note %>
    </pre>
  </div>
  <div class="field">
    <%= f.label :researcher_note %><br />
    <%= f.text_area :researcher_note, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :concentration %><br />
    <% if @sample.is_destroyed.nil? then %>
      <%= f.text_field :concentration %>
    <% else %>
      <%= @sample.concentration %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <% if @sample.is_destroyed.nil? then %>
      <%= f.text_field :amount %>
    <% else %>
      <%= @sample.amount %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <% if @sample.is_destroyed.nil? then %>
      <%= f.text_field :unit %>
    <% else %>
      <%= @sample.unit %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <% if @sample.is_destroyed.nil? then %>
      <%= f.text_field :material %>
    <% else %>
      <%= @sample.material %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
