<h2>Specimens</h2>

<% content_for :js do %>
jQuery(function() {
    var $ = jQuery.noConflict();
    $(document).ready(function() {
        $("noscript").remove();
        $("#samples").removeClass('admin_table');
        $('#samples').dataTable( {
            "oSearch": { "sSearch": <%= raw (params[:q] || '').to_json %> },
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": true,
            "sAjaxSource": '<%=j(samples_path(:include_derived_samples => params[:include_derived_samples]))%>',
            "aoColumns": [
                { 'mDataProp': 'crc_id',
                  'fnRender': function(oObj) {
                      var r = '' + oObj.aData.crc_id;
                      if(oObj.aData.id)
                          r = '<a href="/samples/'+oObj.aData.id+'">'+r+'</a>';
                      if (oObj.aData.url_code)
                          r += ' (' + oObj.aData.url_code + ')';
                      return r;
                  }
                },
                { 'mDataProp': 'material',
                        'fnRender': function(oObj) {
                        var s='';
                        if (oObj.aData.material) {
                            s += oObj.aData.material;
                            if (oObj.aData.amount && oObj.aData.unit)
                                s += ', ' + oObj.aData.amount + ' ' + oObj.aData.unit;
                        }
                        return s;
                    }
                },
                { 'mDataProp': 'study.name' },
                { 'mDataProp': 'kit.name',
                  'bVisible': <%= (current_user) ? 'true' : 'false' %>
                },
                { 'mDataProp': 'participant.hex',
                  'fnRender': function(oObj) {
                      if (!oObj.aData.participant ||
                          !oObj.aData.participant.hex)
                          return '';
                      return '<a href="/profile/'+oObj.aData.participant.hex+'">'+oObj.aData.participant.hex+'</a>';
                  }
                },
                { 'mDataProp': 'qc_result.QC Status',
                  'bVisible': <%= (current_user and current_user.is_admin?) ? 'true' : 'false' %>,
                  'asSorting': ['desc','asc']
                },
                { 'mDataProp': 'owner.display_name',
                  'bSortable': false,
                  'fnRender': function(oObj) {
                      if (!oObj.aData.owner)
                          return '';
                      if (oObj.aData.owner.hex)
			  return '<a href="/profile/'+oObj.aData.owner.hex+'">'+oObj.aData.owner.hex+'</a>';
                      if (oObj.aData.owner.researcher_affiliation)
                          return oObj.aData.owner.researcher_affiliation;
                      else
                          return oObj.aData.owner.full_name;
                  }
                },
                { 'mDataProp': 'log_url',
                  'bVisible': <%= (current_user and current_user.is_admin?) ? 'true' : 'false' %>,
                  'bSortable': false,
                  'fnRender': function(oObj) {
                      if(!oObj.aData.id)
                          return null;
                      return '&nbsp;<a href="/samples/'+oObj.aData.id+'/log">log</a>&nbsp;';
                  } },
                { 'mDataProp': 'edit_url',
                  'bVisible': <%= (current_user and current_user.is_admin?) ? 'true' : 'false' %>,
                  'bSortable': false,
                  'fnRender': function(oObj) {
                      if(!oObj.aData.id)
                          return null;
                      return '&nbsp;<a href="/samples/'+oObj.aData.id+'/edit">edit</a>&nbsp;';
                  } },
                { 'mDataProp': 'delete_url',
                  'bVisible': <%= (current_user and current_user.is_admin?) ? 'true' : 'false' %>,
                  'bSortable': false,
                  'fnRender': function(oObj) {
                      if(!oObj.aData.id || oObj.aData.last_mailed)
                          return null;
                      return '&nbsp;<a href="/samples/'+oObj.aData.id+'/delete">delete</a>&nbsp;';
                  } } ]
            } ).
            fnSetFilteringDelay().
            fnSkipMissingDataProps();
    } );
});
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.dataTables.fnSetFilteringDelay' %>
  <%= javascript_include_tag 'jquery.dataTables.fnSkipMissingDataProps' %>
  <%= javascript_include_tag 'jquery.dataTables.renderers' %>
<% end %>

<p>
<% if current_user and current_user.is_admin? %>
Because you are an administrator, this page lists all samples (specimen containers) that have been created by any researcher, even unclaimed/unused ones.
<% elsif current_user and current_user.is_researcher? %>
This page lists all samples (specimen containers) created for your collection events, and all specimens that have been collected from participants.
<% elsif current_user %>
This page lists all specimen containers claimed by you, and all specimens that have been collected from participants.
<% else %>
This page lists all specimens that have been collected from participants.
<% end %>
</p>

<p>
The "Search" box may be used to search on any field; e.g., "blood", "Coriell", "hu43860C".
</p>

<% if current_user and current_user.is_researcher? %>
<p>
  <%= link_to 'Enter IDs of received samples here', receive_sample_path %>
  when you receive samples from a participant or researcher.
</p>
<% end %>

<noscript><%= will_paginate @samples %></noscript>
<table id="samples" style="width: 100%" class="admin_table">
  <thead>
    <tr>
      <th width="10%">Number</th>
      <th width="10%">Material</th>
      <th width="35%">Collection event</th>
      <th width="8%">Kit</th>
      <th width="7%">Participant</th>
      <th width="8%">QC</th>
      <th width="12%">Location</th>
      <th width="5%">&nbsp;</th>
      <th width="5%">&nbsp;</th>
      <th width="5%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <noscript>
      <% @samples.each do |sample| %>
      <tr>
	<td><%= link_to sample.crc_id_s, sample %></td>
	<td><%= sample.study.name %></td>
	<td><%= sample.kit.name if sample.kit %></td>
	<td><%= sample.participant.nil? ? '' : link_to(sample.participant.hex, public_profile_path(sample.participant.hex)) %></td>
	<td>
	  <% if sample.owner.nil? %>
	  <% elsif sample.owner.is_researcher? %>
	  <%= sample.owner.full_name %>
	  <% else %>
	  <%= sample.owner.hex %>
	  <% end %>
	</td>
        <td><%= sample.qc_result ? 'Y' : '' %></td>
	<td><%= link_to 'Log', show_sample_log_path(sample), :class => "iframe", :title => "Sample log for #{sample.name} (#{sample.kit ? sample.kit.name : 'no'} kit)" %></td>
	<td><%= link_to 'Edit', edit_sample_path(sample) %></td>
	<td><%= sample.last_mailed.nil? ? link_to('Delete', sample, :confirm => 'Are you sure?', :method => :delete) : '' %></td>
      </tr>
      <% end %>
    </noscript>
  </tbody>
</table>
<noscript><%= will_paginate @samples %></noscript>
