<h2>Samples</h2>

<% content_for :js do %>
jQuery(function(){
        var $ = jQuery.noConflict();
        $('form.receive-sample').bind('submit', function(){
                var thisform = this;
		var $crc_input = $('input[name=crc_id]',this);
                var crc_id = $crc_input.val();
                $('.response', thisform).html('[loading]');
                $.ajax( { 'dataType': 'json',
                            'type': 'POST',
                            'url': '/samples/'+crc_id+'/receive_by_crc_id',
                            'success': function(d,t,r) {
                            $('.response', thisform).html(crc_id + (d.ok ? ': ' : ': Error: ') + d.message);
			    if (d.ok)
				$crc_input.attr('value', '');
			    $crc_input.focus();
                        }
                    } );
                return false;
            });
    });
<% end %>

<div style="border: 1px dashed black; padding: 0.5em 1em">
<p>When you receive a sample from a participant or another researcher, enter the sample ID number here.</p>
<form action="#" class="receive-sample"><input type="text" name="crc_id" isindex /> <input type="submit" value="Receive" /><br /><span class="response">&nbsp;</span></form>
</div>

<% if current_user.is_admin? %>
<p>Because you are an administrator, this page lists all samples by any researcher.</p>
<% else %>
<p>This is the list of your samples.</p>
<% end %>

<% if @samples.count > 0 %>
<%= will_paginate @samples %>
<table class="admin_table">
  <tr>
    <th>Number</th>
    <th>Study</th>
    <th>Kit</th>
    <th>Participant</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= link_to sprintf("%08d", sample.crc_id), sample %></td>
    <td><%= sample.study.name %></td>
    <td><%= sample.kit.name %></td>
    <td><%= sample.participant.nil? ? '' : link_to(sample.participant.hex, public_profile_path(sample.participant.hex)) %></td>
    <td>
      <% if sample.owner.nil? %>
      <% elsif sample.owner.is_researcher? %>
      <%= sample.owner.full_name %>
      <% else %>
      <%= sample.owner.hex %>
      <% end %>
    </td>
    <td><%= link_to 'Log', show_sample_log_path(sample), :class => "iframe", :title => "Sample log for #{sample.name} (kit #{sample.kit.name})" %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
    <td><%= sample.last_mailed.nil? ? link_to('Delete', sample, :confirm => 'Are you sure?', :method => :delete) : '' %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @samples %>

<% end %>
