<h2>Samples</h2>

<% if current_user.is_admin? %>
<p>Because you are an administrator, this page lists all samples by any researcher.</p>
<% else %>
<p>This is the list of your samples.</p>
<% end %>

<% if @samples.count > 0 %>
<%= will_paginate @samples %>
<table class="admin_table">
  <tr>
    <th>Number</th>
    <th>Study</th>
    <th>Kit</th>
    <th>Participant</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= link_to sprintf("%08d", sample.crc_id), sample %></td>
    <td><%= sample.study.name %></td>
    <td><%= sample.kit.name %></td>
    <td><%= sample.participant.nil? ? '' : sample.participant.full_name %></td>
    <td><%= sample.owner.nil? ? '' : sample.owner.full_name %></td>
    <td><%= link_to 'Log', show_sample_log_path(sample), :class => "iframe", :title => "Sample log for #{sample.name} (kit #{sample.kit.name})" %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
    <td><%= sample.last_mailed.nil? ? link_to('Delete', sample, :confirm => 'Are you sure?', :method => :delete) : '' %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @samples %>

<% end %>
