<html>
<head>
<link href="/stylesheets/none.css" media="screen" rel="stylesheet" type="text/css" /> 
</head>
<body>

<div align="center" width="100%">
  <% flash.each do |key, value| -%>
    <div class="flash <%= raw(key) %>"><%= raw(flash.delete key) %></div>
  <% end -%>
  <% flash = {} -%>
</div>

<p align="center"><font size="+9"><strong><%= @sample.crc_id %></strong></font><br/><font size="+3"><%= @sample.name %></font></p>

<font size="+9">
<% if @sample.owner == current_user then %>
<p align="center"><font color="darkgreen"><strong>RECEIVED</strong></font></p>

<p align="center"><font color="red"><%= link_to('UNMARK AS RECEIVED', mobile_sample_undo_reception_path(@sample.url_code)) %></font></p>

<% else %>
<p align="center"><font color="darkred"><strong>NOT RECEIVED</strong></font></p>

<p align="center"><font color="green"><%= link_to('MARK AS RECEIVED', mobile_sample_receive_path(@sample.url_code), :method => :get) %></font></p>

<% end %>

<div style="width:60%; margin:0 auto"><%= button_to "Resume #{session[:scan_context_gerund]}", session[:scan_context_path], :method => :get, :style => "width:100%; padding:1em 2em; white-space:normal" if @have_scan_context %></div>

<div style="width:60%; margin:0 auto"><%= button_to "Scan another", "http://zxing.appspot.com/scan", :method => :get, :class => "launch_scanner", :style => "width:100%; padding:1em 2em; white-space:normal" %></div>

</font>

</body>
</html>

