<h2><%= link_to 'Samples', samples_path %> &rarr; <%= link_to 'receive', receive_sample_path %> &rarr; multiple samples</h2>

<% content_for :head do %>
    <style type="text/css">
    table#which-samples tbody tr td {
        vertical-align: middle;
    }
    table#which-samples tbody tr.checkable:hover {
	background: #c7d1e7;
    }
    </style>
<% end %>
<% content_for :js do %>
jQuery(function(){
    var $ = jQuery.noConflict();
    $(document).
	delegate('table#which-samples tbody tr.checkable', 'click', {},
		 function(event, ui) {
                     if ($(event.srcElement).is('input,button,a'))
                         return true;
		     var i = $(this).find('input[type=checkbox]');
		     i.attr('checked', !i[0].checked);
		 });
    $(document).
	delegate('button.selectall,button.deselectall', 'click', {},
		 function(event, ui) {
		     $('table#which-samples tr.checkable input[type=checkbox]').
			 attr('checked', $(event.srcElement).hasClass('selectall'));
		 });
    });
<% end %>

<p>
  <b>Please indicate which samples you received.</b>  Compare the
  following sample codes with the labels on the samples themselves.
  Tick the checkboxes for the samples you have in front of you.
  Then click the "Receive" button below.
</p>

<p>
  <button class="selectall">Select all</button>
  <button class="deselectall">Deselect all</button>
</p>

<% rownumber = 0 %>
<%= form_for(:sample, :url => receive_multiple_samples_confirm_path, :method => :post) do |f| %>
<%= hidden_field_tag :selection_id, @selection.id if @selection %>
<div class="profile-data">

  <table id="which-samples">
    <thead>
      <tr>
	<th style="text-align:center">Received?</th>
	<th>Kit name / sample code</th>
	<th>Sample name / device</th>
	<th>Participant</th>
	<th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @samples.each do |sample| %>
      <% row_is_checkable = (sample.owner != current_user || (@sample_info[sample.id] && @sample_info[sample.id][:plate])) %>
      <tr class="<%= "checkable" if row_is_checkable %>">
	<td style="text-align:center"><%= check_box 'confirm_url_codes', sample.url_code, :checked => !!@default_checked_hack[sample.url_code] if row_is_checkable %></td>
	<td>
	  <% if sample.kit %>
	  <%= sample.kit.name %> &mdash;
	  <% end %>
	  <code><b><%= sample.url_code %></b></code>
	</td>
	<td>
	  <%= sample.name %>
	  <% if sample.original_kit_design_sample %>
	  <br />
	  <%= sample.original_kit_design_sample.device %>
	  <% end %>
	</td>
	<td>
	  <% if sample.participant %>
	  <%= @reveal_participant ? link_to(sample.participant.hex, public_profile_path(sample.participant.hex)) : "Yes" %>
	  <% else %>
	  <b>Unknown!</b>
	  <% end %>
	</td>
	<td>
	  <% if sample.owner != current_user %>
	  Receive
	  <% if (sample.participant && (!sample.owner || sample.owner == sample.participant)) %>
	  from participant <%= sample.participant.hex if sample.participant.is_enrolled? %>
	  <% elsif sample.owner and sample.owner.researcher %>
	  from 
	  <%= sample.owner.full_name %>,
	  <%= sample.owner.researcher_affiliation %>
	  <% end %>
	  <br />
	  <% end %>
	  <% if @selection and @sample_info[sample.id] and @sample_info[sample.id][:plate] %>
	  &rarr; <%= @sample_info[sample.id][:plate_layout_position].name %>
	  on
	  <%= link_to @sample_info[sample.id][:plate].crc_id_s, @sample_info[sample.id][:plate] %>
	  (<%= @sample_info[sample.id][:plate].description %>)
	  <% if @sample_info[sample.id][:position_collision] %>
	  <br />
	  <span style="background:#f88; padding: 1px 1em">
	    Replacing sample <%= link_to @sample_info[sample.id][:position_collision].sample.crc_id_s, @sample_info[sample.id][:position_collision].sample %>
	  </span>
	  <% end %>
	  <% elsif sample.owner == current_user %>
	  <span style="color: #888">(already received; nothing to do)</span>
	  <% end %>
	</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br clear="all" />
  <span style="margin: 1em auto; padding: 1em; background: #c7d1e7">
    <%= f.submit "Receive" %>
  </span>
</div>

<% end %>

<% if @selection and (nfk = @selection.notfound_keys) and !nfk.empty? %>
<div style="clear:both; border:1px dashed #800;padding:.5em 1em;margin-top:2em">
  <p>
    <%= nfk.size %> of the provided sample IDs <%= nfk.size==1 ? 'was' : 'were' %> not found.
    <ul>
      <% i=-1; nfk.each do |k| %>
      <% if (i += 1) == 32 and nfk.size > 64 %>
      <li><b>[and <%= nfk.size-32 %> more, not shown]</b></li>
      <% break %>
      <% end %>
      <li>
        <% if k %>
        &ldquo;<%= k %>&rdquo;
        <% else %>
        nil
        <% end %>
      </li>
      <% end %>
    </ul>
  </p>
</div>
        
<% end %>
