<h2><%= link_to 'Samples', samples_path %> &rarr; receive</h2>

<% content_for :js do %>
jQuery(function(){
        var $ = jQuery.noConflict();
        $('form.receive-sample').bind('submit', function(){
                var thisform = this;
		var $crc_input = $('input[name=crc_id]',this);
                var crc_id = $crc_input.val();
                $('.response', thisform).html('[loading]');
                $.ajax( { 'dataType': 'json',
                            'type': 'POST',
                            'url': 'samples/'+crc_id+'/receive_by_crc_id',
                            'success': function(d,t,r) {
                            $('.response', thisform).html(crc_id + (d.ok ? ': ' : ': Error: ') + d.message);
                            if (d.redirect_to) {
                                $('.response', thisform).html(d.message);
                                window.location.href = d.redirect_to;
                            }
			    else if (d.ok)
				$crc_input.attr('value', '');
			    $crc_input.focus();
                        }
                    } );
                return false;
            });
        $('input[name=crc_id]',this).focus();
    });
<% end %>

<p>When you receive a sample from a participant or another researcher, enter the sample ID number or alphanumeric code here.</p>

<form action="#" class="receive-sample">
<input type="text" name="crc_id" isindex />
<input type="submit" value="I have received this sample / kit" />
<br />
<br />
<span class="response">&nbsp;</span>
</form>

<p>If you are receiving many samples at once, note:</p>
<ul>
  <li>You can enter multiple IDs.  Separate them with commas or spaces.</li>
  <li>You can enter kit IDs and kit names.</li>
  <li>If you enter a kit ID, or multiple sample IDs, you will confirm the individual sample IDs on the next page.  (If you enter just one sample ID, we will just process it right away.)</li>
</ul>

<% if current_user.is_admin? # (not hardened yet; see FiltersController) %>

<p>You can also upload a CSV file containing <em>one sample bar code per row</em> (and optionally a plate ID like "1234567890" and well ID like "A01")<br />
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'Sample' %>
<%= hidden_field_tag :target_id_attribute, 'url_code' %>
<%= hidden_field_tag :return_to, receive_multiple_samples_path('FILE') %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Upload CSV of sample bar codes' %>
<% end %>

<% end %>
