
<h2>Sample <%= "#{@sample.crc_id_s} (#{@sample.name})" %></h2>

<p id="notice"><%= notice %></p>

<% if !@sample.parent_samples.empty? %>
<p>
  <b>Derived from:</b>
  <% @sample.parent_samples.each do |s| %>
  <%= link_to s.crc_id, s %>
  <% end %>
</p>
<% end %>

<% if !@sample.child_samples.empty? %>
<p>
  <b>Derived samples:</b>
  <% @sample.child_samples.each do |s| %>
  <%= link_to s.crc_id, s %>
  <% end %>
</p>
<% end %>

<p>
  <b>Study:</b>
  <%= @sample.study.name %>
</p>

<p>
  <b>Kit:</b>
  <%= link_to(@sample.kit.name, kit_path(@sample.kit)) if @sample.kit %>
</p>

<p>
  <b>Name:</b>
  <%= @sample.name %>
</p>

<p>
  <b>Number:</b>
  <%= @sample.crc_id_s %>
</p>

<% if current_user.researcher_onirb or current_user.id == @sample.participant_id %>
<p>
  <b>URL code:</b>
  <%= @sample.url_code %>
</p>
<% end %>

<p>
  <b>Participant:</b>
  <%= @sample.participant.nil? ? '' : link_to(@sample.participant.hex, public_profile_path(@sample.participant.hex)) %>
</p>

<p>
  <b>Original kit design sample:</b>
  <%= @sample.original_kit_design_sample.name if @sample.original_kit_design_sample %>
</p>

<p>
  <b>Kit design sample:</b>
  <%= @sample.kit_design_sample.name if @sample.kit_design_sample %>
</p>

<p>
  <b>When originated:</b>
  <%= @sample.when_originated %>
</p>

<p>
  <b>Owner:</b>
  <% if @sample.owner.nil? %>
  <% elsif @sample.owner.is_researcher? %>
  <%= @sample.owner.full_name %>
  <% else %>
  <%= @sample.owner.hex %>
  <% end %>
</p>

<p>
  <b>Last mailed:</b>
  <%= @sample.last_mailed %>
</p>

<p>
  <b>Last received:</b>
  <%= @sample.last_received %>
</p>

<p>
  <b>Participant note:</b>
  <pre>
  <%= @sample.participant_note %>
  </pre>
</p>

<p>
  <b>Researcher note:</b>
  <pre>
  <%= @sample.researcher_note %>
  </pre>
</p>

<p>
  <b>Concentration:</b>
  <%= @sample.concentration %>
</p>

<p>
  <b>Amount:</b>
  <%= @sample.amount %>
</p>

<p>
  <b>Unit:</b>
  <%= @sample.unit %>
</p>

<p>
  <b>Material:</b>
  <%= @sample.material %>
</p>

<% if current_user and current_user.is_researcher? %>
<p>
  <b>QC result:</b>
  <% unless @sample.qc_result and @sample.qc_result.size > 0 %>
  N/A
  <% else %>
  <div class="profile-data">
    <table>
      <tbody>
	<% @sample.qc_result.each do |k,v| %>
	<tr>
	  <th>
	    <%= k %>
	  </th>
	  <td>
	    <%= v %>
	  </td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</p>
<% end %>
