
<h2>Sample <%= sprintf("%08d", @sample.crc_id) + ' (' + @sample.name + ')' %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @sample.study.name %>
</p>

<p>
  <b>Kit:</b>
  <%= link_to(@sample.kit.name, kit_path(@sample.kit)) %>
</p>

<p>
  <b>Name:</b>
  <%= @sample.name %>
</p>

<p>
  <b>Number:</b>
  <%= sprintf("%08d", @sample.crc_id) %>
</p>

<p>
  <b>ULR code:</b>
  <%= @sample.url_code %>
</p>

<p>
  <b>Participant:</b>
  <%= @sample.participant.nil? ? '' : @sample.participant.full_name %>
</p>

<p>
  <b>Original kit design sample:</b>
  <%= @sample.original_kit_design_sample_id %>
</p>

<p>
  <b>Kit design sample:</b>
  <%= @sample.kit_design_sample_id %>
</p>

<p>
  <b>When originated:</b>
  <%= @sample.when_originated %>
</p>

<p>
  <b>Owner:</b>
  <%= @sample.owner_id %>
</p>

<p>
  <b>Last mailed:</b>
  <%= @sample.last_mailed %>
</p>

<p>
  <b>Last received:</b>
  <%= @sample.last_received %>
</p>

<p>
  <b>Participant note:</b>
  <%= @sample.participant_note %>
</p>

<p>
  <b>Researcher note:</b>
  <%= @sample.researcher_note %>
</p>

<p>
  <b>Concentration:</b>
  <%= @sample.concentration %>
</p>

<p>
  <b>Amount:</b>
  <%= @sample.amount %>
</p>

<p>
  <b>Unit:</b>
  <%= @sample.unit %>
</p>

<p>
  <b>Material:</b>
  <%= @sample.material %>
</p>

