<h2>International Users</h2>

There are currently <%= InternationalParticipant.find(:all).count %> international users registered.
Download the scoreboard and the list of international users on the <%= link_to 'Reports', admin_reports_url %> page.
<table class="admin_table">
<tr>
  <th>#</th>
  <th>Country</th>
  <th>Count</th>
</tr>
<% @internationalUsers.each_with_index do |u,i| %>
<tr>
  <td><%= i+1 %></td>
  <td><%= u.country %></td>
  <td><%= u.count %></td>
</tr>
<% end %>
</table>
