<p>
  <b>Title:</b>
  <%=h @exam_definition.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @exam_definition.description %>
</p>

<p>
  <b>Content Area:</b>
  <%= link_to @exam_definition.content_area.title,
              [:admin, @exam_definition.content_area] %>
</p>

<%= link_to 'Edit', edit_admin_exam_definition_path(@exam_definition) %> |
<%= link_to 'Back', admin_exam_definitions_path %>
