<% if @family_members.blank? %>
<h2>Family Relationships</h2>
  <% form_tag update_has_family_relations_url do %>
  <p>Please specify whether you have family members enrolled: </p>
  <p><label><%= radio_button_tag 'has_family_members_enrolled', 'yes', @current_user.has_family_members_enrolled == 'yes'%> Yes, I have family members currently enrolled in the PGP</label><br />
  <label><%= radio_button_tag 'has_family_members_enrolled', 'no', @current_user.has_family_members_enrolled == 'no' %> No, I do not have family members currently enrolled in the PGP</label>
  </p>
  <p><%= submit_tag('Update') %></p>
  <% end %>
<% end %>

<% if @current_user.has_family_members_enrolled == 'yes' %>
<h2>Add Family Members</h2>
<p>Since you have family members who are enrolled in the PGP, you may add this information to your PGP public profile.
Your family member will be asked to confirm the relationship before the information is added to your public profile.</p>
 
<% if @family_members.blank? %>
<p>
You have not added any family relationships.</p>
<% else %>

<table class="admin_table">
  <tr>
    <th>E-mail address</th>
    <th>Relation</th>
    <th>Confirmed</th>
    <th>Remove</th>
  </tr>
  <% @family_members.each do |fm| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td>
        <%= h fm.relative.email -%>
      </td>
      <td>
        <%= h fm.relation -%>
      </td>
      <td>
        <%= fm.is_confirmed ? 'Yes' : 'No' -%>
      </td>
      <td><%= link_to 'Remove', [ fm ], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<% end %>
<%= link_to 'Add family_member', new_family_relation_path %>

<h2>Pending Relationship Requests</h2>
<% if @pending_family_members.blank? %>
<p>No Pending Requests</p>
<% else %>
<p>The people with the following emails have listed you as family member. Please confirm or reject the relationship.</p>
<table class="admin_table">
<tr>
  <th>Email</th>
  <th>Relation</th>
  <th>Confirm</th>
  <th>Reject</th>
<tr>
<% @pending_family_members.each { |fm| %>
<tr>
  <td><%= h fm.user.email %></td>
  <td><%= h FamilyRelation.relations[fm.relation] %></td>
  <td><%= link_to 'Confirm', confirm_family_relation_path(fm), :method => 'post'%></td><td><%= link_to 'Reject', reject_family_relation_path(fm), :method => 'post' %></td>
</tr>
<% } %>
</table>
<% end %>
<% end #if has_family_members_enrolled %>
<br />
<%= link_to 'Back to public profile', public_profile_path(current_user.hex) %>

