<h2><%=h @exam.title %> Exam: Versions</h2>

<h3>Versions</h3>
<table class="admin_table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Version</th>
    <th>Published?</th>
    <th>Last Updated</th>
  </tr>

<% for exam_version in @exam_versions -%>

  <tr class="<%= cycle 'even', 'odd' %>">
    <td><%= link_to h(exam_version.title), [:admin, @content_area, @exam, exam_version] %></td>
    <td><%=h exam_version.description %></td>
    <td><%=  exam_version.version %></td>
    <td><%= exam_version.published? ? 'Yes' : 'No' %></td>
    <td><%= time_ago_in_words(exam_version.updated_at) %> ago</td>
    <td><%= link_to 'Edit', [:edit, :admin, @content_area, @exam, exam_version] %></td>
    <td><%= link_to 'Duplicate', duplicate_admin_content_area_exam_exam_version_url(@content_area, @exam, exam_version), :method => :post %></td>
    <td><%= link_to 'Destroy',   [:admin, @content_area, @exam, exam_version], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New version', new_admin_content_area_exam_exam_version_url(@content_area, @exam) %>
