  <p>
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </p>
  <p>
    <%= f.label :ordinal %><br />
    <%= f.text_field :ordinal %>
  </p>
  <p>
    <%= f.label :kind %><br />
    <%= f.select :kind, [['Multiple Choice', 'MULTIPLE_CHOICE'],
                         ['Check All', 'CHECK_ALL']] %>
  </p>
  <%= f.hidden_field :exam_version_id, :value => @exam_version.id %>

