<h1>Editing content_area</h1>

<% form_for(@content_area, :namespace => 'admin') do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_content_area_path(@content_area) %> |
<%= link_to 'Back', admin_content_areas_path %>
