<h2>Content Area: <%=h @content_area.title %></h2>

<p>
  <strong>Description:</strong>
  <%=h @content_area.description %>
</p>

<h2><%=h @content_area.title %> Exam Definitions</h2>

<table class="admin_table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Versions</th>
  </tr>

<% for exam in @content_area.exams %>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td><%= link_to h(exam.title), [:admin, @content_area, exam] %></td>
    <td><%=h exam.description %></td>
    <td><%=  exam.versions.count %></td>
    <td><%= link_to 'Edit', edit_admin_content_area_exam_path(@content_area, exam) %></td>
    <td><%= link_to 'Destroy', [:admin, @content_area, exam], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'Add a new exam', new_admin_content_area_exam_path(@content_area) %>
</p>
