<p>
  <b>Title:</b>
  <%=h @content_area.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @content_area.description %>
</p>

<p>
<%= link_to "Exams for this content area (#{@content_area.exam_definitions.count})",
            admin_content_area_exam_definitions_path(@content_area) %>
</p>

<%= link_to 'Edit', edit_admin_content_area_path(@content_area) %> |
<%= link_to 'Back', admin_content_areas_path %>
