<h2>Informed Consent for Eligibility Screening</h2>

<% if @user.errors.any? -%>
<p class="errorExplanation">Please check over your name and email address below.</p>
<% end -%>

<%= render :partial => 'mini_consent' %>

<div class="full_name_warning">
  <p>Failure to accurately represent your full name on this informed consent will invalidate your eligibility for enrollment.</p>
  <p>Once you submit this consent form, you will not be able to change the name associated with your account.  We recommend that you enter your name as it appears on government issued identification, such as a valid driver's license.</p>
</div>

<% @user.password = @user.password_confirmation = nil %>

<% form_for :user, :url => new2_user_url, :html => { :method => :get, :class => 'signup', :id => 'signup_form' } do |f| -%>

<table><tr><td>
  <%= f.label :first_name %>
  <%= error_message_on :user, :first_name, :append_text => '.' %><br/>
  <%= f.text_field :first_name %>
</td><td>
  <%= f.label :middle_name, "MI" %>
  <%= error_message_on :user, :middle_name, :append_text => '.' %><br/>
  <%= f.text_field :middle_name %><span class="optional">(optional)</span>
</td><td>
  <%= f.label :last_name %>
  <%= error_message_on :user, :last_name, :append_text => '.' %><br/>
  <%= f.text_field :last_name %>
</td></tr><tr><td colspan="4">

<%= f.label :email %>
<%= error_message_on :user, :email, :append_text => '.' %><br/>
<%= f.text_field :email %>
</td></tr></table>

<p><%= submit_tag 'Step 2 &rarr;' %></p>
<% end -%>
