<h2>Sign up as a new user</h2>

<%= render :partial => 'mini_consent' %>

<div class="full_name_warning">
  <p>Failure to accurately represent your full name on this informed consent will invalidate your eligibility for enrollment.</p>
  <p>Once you submit this consent form, you will not be able to change the name associated with your account.  We recommend that you enter your name as it appears on government issued identification, such as a valid driver's license.</p>
</div>

<% @user.password = @user.password_confirmation = nil %>

<% form_for :user, :url => users_path, :html => { :class => 'signup' } do |f| -%>
<%= error_messages_for :user %>

<p><%= f.label :first_name %><br/>
<%= f.text_field :first_name %></p>

<p><%= f.label :middle_name %><br/>
<%= f.text_field :middle_name %></p>

<p><%= f.label :last_name %></label><br/>
<%= f.text_field :last_name %></p>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :email_confirmation %><br/>
<%= f.text_field :email_confirmation %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<%= recaptcha_tags %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
