<h2>Sign up as a new user</h2>

<p>Please check over your name and email below.</p>
<p><strong>We will send a confirmation email to this address</strong> that you will need to check in order to complete your registration.</p>

<p style="padding: 20px; border: 1px solid #ccc;"><%= @user.full_name %>: <%= @user.email %></p>

<% form_for :user, :url => users_url, :html => { :class => 'signup' } do |f| -%>

<% %w(first_name middle_name last_name email).each do |attr| -%>
  <%= f.hidden_field attr %>
<% end -%>

<p><%= f.label :password %>
<% if @user.errors.on(:password).nil? -%>(minimum is 6 characters)<% end -%>
<%= error_message_on :user, :password, :append_text => '.' %>
<br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Confirm password' %>
<%= error_message_on :user, :password_confirmation, :append_text => '.' %>
<br/>
<%= f.password_field :password_confirmation %></p>

<%= recaptcha_tags %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
