<h2>Exam Responses</h2>

<p>Exams for <%= link_to h(user.full_name), edit_admin_user_url(user) %>:</p>

<table class="admin_table">
  <tr>
    <th>Content Area</th>
    <th>Exam</th>
    <th>Results</th>
    <th>Details</th>
  </tr>

<% for exam_response in @exam_responses %>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td><%=h exam_response.exam_version.exam.content_area.title %></td>
    <td><%=h exam_response.exam_version.title %></td>
    <td><%= format_exam_response_results(exam_response) %></td>
    <td><%= link_to 'Details', admin_user_exam_response_url(user, exam_response) %></td>
  </tr>
<% end %>
</table>
