<h2>Trait Surveys</h2>
<ul>
  <li><%= link_to "Absolute Pitch Survey", "/absolute_pitch_surveys" %></li>
  <li><%= link_to "Google Health Profile", "/phrccr" %></li>
  <li><%= link_to "Family Relationships", "/family_relations" %></li>
  <li><%= link_to "Geographic Information", "/geographic_information/#{current_user.id}/edit" %></li>
  <li><%= link_to "Traitwise Surveys", "/traitwise_surveys" %></li>
</ul>
  
