<%= form_for [:admin, @admin_oauth_service] do |f| %>
  <% if @admin_oauth_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_oauth_service.errors.count, "error") %> prohibited this admin_oauth_service from being saved:</h2>

      <ul>
      <% @admin_oauth_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :scope %><br />
    <%= f.text_field :scope, :size => 100 %>
  </div>
  <div class="field">
    <% options = [] %>
    <% options << [ 'Open Humans', OauthService::OPEN_HUMANS ] if include_section?( Section::OPEN_HUMANS ) %>
    <% options << [ 'Google', OauthService::GOOGLE ] if include_section?( Section::GOOGLE_SURVEYS ) %>
    <%= f.label :oauth2_service_type %><br />
    <%= f.select :oauth2_service_type,
        options_for_select( options,
                            @admin_oauth_service.oauth2_service_type),
        :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :endpoint_url, 'Endpoint URL' %><br />
    <%= f.text_field :endpoint_url %>
    <blockquote>
      Example: <code>https://www.openhumans.org</code>.
      (Leave blank for Google.)
    </blockquote>
  </div>
  <div class="field">
    <%= f.label :callback_url, 'Callback URL' %><br />
    <%= f.text_field :callback_url %>
    <blockquote>
       Example: <code><%= url_for(:action => :oauth2callback, :only_path => false) %></code>.
       (Leave blank for Google.)
    </blockquote>
  </div>
  <div class="field">
    <%= f.label :oauth2_key, 'Key' %><br />
    <%= f.text_field :oauth2_key %>
  </div>
  <div class="field">
    <%= f.label :oauth2_secret, 'Secret' %><br />
    <%= f.text_field :oauth2_secret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
