<h2><%= link_to 'OAuth services', admin_oauth_services_path %> &gt; show</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_oauth_service.name %>
</p>

<p>
  <b>Type:</b>
  <%= @admin_oauth_service.oauth2_service_type %>
</p>

<p>
  <b>Scope:</b>
  <%= @admin_oauth_service.scope %>
</p>

<p>
  <b>Endpoint URL:</b>
  <%= @admin_oauth_service.endpoint_url %>
</p>

<p>
  <b>Callback URL:</b>
  <%= @admin_oauth_service.callback_url %>
</p>

<p>
  <b>Key:</b>
  <%= @admin_oauth_service.oauth2_key %>
</p>

<p>
  <b>Secret:</b>
  <%= @admin_oauth_service.oauth2_secret %>
</p>


<%= link_to 'Edit', edit_admin_oauth_service_path(@admin_oauth_service) %> |
<%= link_to 'Back', admin_oauth_services_path %>
