<h2><%=h @content_area.title %> Exams</h2>

<table class="admin_table">
  <tr>
    <th>Ordinal</th>
    <th>Title</th>
    <th>Description</th>
    <th>Versions</th>
  </tr>

  <% for exam in @exams %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= exam.ordinal %></td>
      <td><%= link_to h(exam.title), admin_content_area_exam_exam_versions_url(@content_area, exam) %></td>
      <td><%=h exam.description %></td>
      <td><%= exam.versions.count %></td>
      <td><%= link_to 'Destroy',   admin_content_area_exam_path(@content_area, exam), :method => :delete, :confirm => 'Are you sure?' %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Create a new exam', admin_content_area_exams_path(@content_area), :method => :post %>
