<h2>Exam: <%= h @exam.title %></h2>

<p>
  <b>Description:</b>
  <%=h @exam.versions.last.description %>
</p>

<h3>Versions</h3>

<table class="admin_table">
  <thead>
    <th>Version</th>
    <th>Title</th>
    <th>Description</th>
    <th>Updated</th>
  </thead>
  <% @exam.versions.each_with_index do |version, i| -%>
    <tr>
      <td><%= i %></td>
      <td><%=h version.title %></td>
      <td><%=h version.description %></td>
      <td><%=  version.updated_at %></td>
    </tr>
  <% end -%>
</table>

<%= link_to 'Add a new version', new_admin_content_area_exam_exam_version_url(@content_area, @exam) %>
