<table class="admin_table table table-bordered table-hover studiestable">
  <tr>
    <th></th>
    <% if who != 'researcher' %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <% if who == 'admin' %>
    <th></th>
    <% end %>
    <th colspan="7">Click to download CSV</th>
    <th colspan="3">Click to view/manage</th>
  </tr>
  <tr>
    <th>Name</th>
    <% if who != 'researcher' %>
    <th>Researcher</th>
    <% end %>
    <th>IRB associate</th>
    <th>Status</th>
    <% if who == 'admin' %>
    <th></th>
    <% end %>
    <th>U</th>
    <th>I</th>
    <th>NI</th>
    <th>A</th>
    <th>NA</th>
    <th>R</th>
    <th>Samples</th>
    <th></th><%# map %>
    <th></th><%# manage participants %>
    <th>Kits</th>
  </tr>
  <% studies.sort { |a,b| b.created_at <=> a.created_at }.each do |study| %>
    <tr class="status-<%= study.status %>">
      <td><%= link_to study.name, (who == 'admin' ? edit_admin_study_url(study) : edit_collection_event_url(study) ) %></td>
      <% if who != 'researcher' %>
      <td><%= link_to study.researcher.full_name, admin_user_url(study.researcher) %></td>
      <% end %>
      <td>
        <% if study.irb_associate.nil? then %>
        <%= link_to_if(who == 'admin', 'unassigned', edit_admin_study_url(study)) %>
        <% else %>
        <%= link_to_if(who == 'admin', study.irb_associate.full_name, admin_user_url(study.irb_associate)) %>
        <% end %>
      </td>
      <td><%= study.long_status %></td>
      <% if who == 'admin' %>
      <td>
	<% if study.status == 'requested' %>
        <%= link_to 'Approve', edit_admin_study_url(study.id) %>
	<% elsif study.approved %>
	<%= link_to 'Remove approval', edit_admin_study_url(study.id) %>
	<% end %>
      </td>
      <% end %>
      <td><%= link_to(study.study_participants.undecided.count, study_users_path(study, :format => 'csv', :type => 'undecided')) %></td>
      <td><%= link_to(study.study_participants.interested.count, study_users_path(study, :format => 'csv', :type => 'interested')) %></td>
      <td><%= link_to(study.study_participants.not_interested.count, study_users_path(study, :format => 'csv', :type => 'not_interested')) %></td>
      <td><%= link_to(study.study_participants.accepted.count, study_users_path(study, :format => 'csv', :type => 'accepted')) %></td>
      <td><%= link_to(study.study_participants.not_accepted.count, study_users_path(study, :format => 'csv', :type => 'not_accepted')) %></td>
      <td><%= link_to(study.study_participants.removed.count, study_users_path(study, :format => 'csv', :type => 'removed')) %></td>
      <td>
      <% if !(samples = Sample.find_all_by_study_id(study.id)).empty? %>
	<%= link_to("#{samples.size}", samples_path(:study_id => study.id, :format => 'csv')) %>
      <% end %>
      </td>
      <td>
	<%= link_to('map', study_map_path(study)) if study.approved %>
      </td>
      <td>
	<% if study.approved %>
	<%= link_to('Manage participants', study_users_path(study)) %>
	<% end %>
      </td>
      <td>
	<% if study.approved %>
	<%= link_to study.kits.size.to_s, kits_path(:study_id => study.id) if study.kits.size > 0 %>
	<% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if Study.accessible(current_user).size > 0 %>

<h2>Download participant lists</h2>
<%= render :partial => 'admin/researchers/study_participants_filter' %>

<% end %>
