<h2>Researcher Admin Tools</h2>

<h3>Studies</h3>

<h4>Requested studies</h4>

<%= render :partial => 'studiestable', :locals => { :studies => @requested_studies, :type => 'requested' } %>

<h4>Approved studies</h4>

<%= render :partial => 'studiestable', :locals => { :studies => @approved_studies, :type => 'approved' } %>

<h4>Draft studies</h4>

<%= render :partial => 'studiestable', :locals => { :studies => @draft_studies, :type => 'draft' } %>

Legend: U: Undecided | I: Interested | NI: Not interested | A: Accepted | NA: Not accepted | R: Removed

<h3>Parameters</h3>

<ul>
  <li><%= link_to raw("<strong>Tissue Types</strong>"), url_for(:controller => '/tissue_types', :action => 'index') %></li>
  <li><%= link_to raw("<strong>Device Types</strong>"), url_for(:controller => '/device_types', :action => 'index') %></li>
  <li><%= link_to raw("<strong>Units</strong>"), url_for(:controller => '/units', :action => 'index') %></li>
</ul>
