<h2>Researcher Admin Tools</h2>

<h3>Third Party Studies</h3>

<% if @requested_studies.count > 0 %>
<h4>Requested collection events</h4>
<%= render :partial => 'admin/researchers/studiestable', :locals => { :studies => @requested_studies, :type => 'requested', :who => 'admin' } %>
<% end %>

<% if @approved_studies.count > 0 %>
<h4>Approved collection events</h4>
<%= render :partial => 'admin/researchers/studiestable', :locals => { :studies => @approved_studies, :type => 'approved', :who => 'admin' } %>
<% end %>

<% if @draft_studies.count > 0 %>
<h4>Draft collection events</h4>
<%= render :partial => 'admin/researchers/studiestable', :locals => { :studies => @draft_studies, :type => 'draft', :who => 'admin' } %>
<% end %>

<% if @requested_studies.count > 0 or @approved_studies.count > 0 or @draft_studies.count > 0 then %>
Legend: U: Undecided | I: Interested | NI: Not interested | A: Accepted | NA: Not accepted | R: Removed
<% else %>
You do not have any collection events yet.
<% end %>

<h3>Parameters</h3>

<ul>
  <li><%= link_to raw("<strong>Tissue Types</strong>"), url_for(:controller => '/tissue_types', :action => 'index') %></li>
  <li><%= link_to raw("<strong>Device Types</strong>"), url_for(:controller => '/device_types', :action => 'index') %></li>
  <li><%= link_to raw("<strong>Units</strong>"), url_for(:controller => '/units', :action => 'index') %></li>
</ul>
