<h1>Listing exam_definitions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% for exam_definition in @exam_definitions %>
  <tr>
    <td><%=h exam_definition.title %></td>
    <td><%=h exam_definition.description %></td>
    <td><%= link_to 'Show', exam_definition %></td>
    <td><%= link_to 'Edit', edit_exam_definition_path(exam_definition) %></td>
    <td><%= link_to 'Destroy', exam_definition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exam_definition', new_exam_definition_path %>
