
<h2>Personal Genome Project Enrollment Exam</h2>

<p>
This enrollment exam is meant to ensure that you are informed of the risks and
procedures involved in participating in the Personal Genome Project. The exam
consists of 6 modules. Each module will begin with a study section, and is then
followed by 3-6 questions. All questions must be answered correctly: if you
answer one or more incorrectly, you will be asked to retake that module.
Answers for study questions should be present in the study material for each
module.
</p>

<p>
How long the exam takes varies depending on how much knowledge you already
have of the project. You may also wish to <a href="http://personalgenomes.org/exam/v20120430-study-guide.pdf">download the study
material</a> (which is identical to that provided in the exam)
and read it separately. Not all modules must be completed at once: once you
successfully complete a module, this is recorded by our system and won't
need to be retaken.
</p>

<p>
The modules are as follows:
</p>
<ul>
<li>Module 1: Human Subjects Research and Informed Consent (4 questions)</li>
<li>Module 2: Genetic Concepts (6 questions)</li>
<li>Module 3: PGP Enrollment Procedures (5 questions)</li>
<li>Module 4: PGP Participation, Sample Collection & Data Release Procedures (4 questions)</li>
<li>Module 5: Potential Consequences of Receiving Personal Genome Data (4 questions)</li>
<li>Module 6: Risks Associated with Making Your Data Public (4 questions)</li>
</ul>

<ol id="exam_listing">
<% @content_areas.each do |area| %>
  <%= content_tag_for 'li', area, :class => content_area_class(area) do %>
    <span><%=h area.title %></span>
    <ol>
    <% area.exams.each do |exam| %>

      <% version = exam.version_for(current_user) %>
      <% if not version.nil? %>
        <%= content_tag_for 'li', exam, :class => exam_class(exam) do %>
          <% exam_response = version.exam_responses.for_user(current_user).first %>
          <% if exam.any_version_completed_by?(current_user) %>
            <span>
              <%= version.title %>
              <div class="completion_time">
                Completed <%= distance_of_time_in_words_to_now(exam_response.created_at) %> ago
              </div>
            </span>
          <% else %>
            <%= render :partial => 'exams/exam_response_status',
                       :locals => {
                         :content_area  => area,
                         :exam          => exam,
                         :exam_response => exam_response,
                         :exam_version  => version} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </ol>
  <% end %>
<% end %>
</ol>
