<h2>Confirm your kit claim</h2>


Your kit has been located in our records. Please double check that the following information is correct:


<p>
<strong>Kit name</strong><br/>
<%= @kit.name %>
</p>
<p>
<strong>Study name</strong><br/>
<%= @kit.study.name %>
</p>
<p>
<strong>Kit contents:</strong><br/>
<table class="admin_table">
  <tr>
    <th>Kit name</th>
    <th>Public sample ID</th>
    <th>Sample name</th>
    <th>Label code</th>
  </tr>
  <% @kit.samples.sort { |a,b| a.original_kit_design_sample.sort_order <=> b.original_kit_design_sample.sort_order }.each do |s| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= @kit.name %></td>
      <td><%= s.crc_id_s %></td>
      <td><%= s.name %></td>
      <td><b><%= s.url_code %></b></td>
    </tr>
  <% end %>
</table>
</p>

<% unless @kit.kit_design.errata.nil? or @kit.kit_design.errata.empty? %>

<p><strong>Errata</strong><br/>
<div class="ui-widget ui-state-highlight ui-corner-all" style="padding-left: 2em; padding-right: 2em;">
<%= raw(RedCloth.new(@kit.kit_design.errata).to_html) %>
</div>
</p>

<% end %>

<p><strong>Legal</strong><br/>

You acknowledge and agree that you will use this kit to collect and
submit only your own sample to the Personal Genome Project, and that
you will neither collect nor submit a sample taken from any other
person, whether in your own name or on behalf of any other
person. Your participation in the Personal Genome Project, including
this sample collection opportunity, is governed by the
PGP&rsquo;s <a href="http://www.personalgenomes.org/tos.html">Terms of
Service</a>
and <a href="http://www.personalgenomes.org/consent/">informed consent
agreement</a>. Failure to be abide by these terms may result in your
removal from the project.

</p>

<%= form_tag kit_confirm_claim_path(@kit), :method => 'post' do %>
  <div class="field">
    <%= check_box_tag :agreed, nil, params[:agreed] -%> I agree<p/>
    <%= submit_tag("Confirm", :name => nil) %>
  </div>
  </p>
<% end %>


