<h2>Confirm your kit claim</h2>

<div class="flash error">
  <strong>WARNING!</strong><br/>We made a mistake when we shipped your kit. We shipped two different kits with the <strong>Danforth</strong> name. In order to determine which kit you have, please indicate below what the kit id number is for your kit. The picture below will help you locate your kit id number. You can click on the picture to see a larger version of it.
</div>

<p>
My kit id number is:
</p>
<%= form_tag kit_claim_danforth_path, :method => 'post' do %>

  <%= radio_button_tag :danforth_or_adair, 37764001  %>
  <%= label_tag 37764001  %><br />
  <%= radio_button_tag :danforth_or_adair, 79615591 %>
  <%= label_tag 79615591 %><br />

  <%= submit_tag 'Continue' %>
<% end %>

<div align="center">
<%= link_to image_tag('kit_label_circled_small.jpg', :size => '400x300'), image_path('kit_label_circled.jpg') %>
</div>

