<%- content_for :head do -%>
<%= javascript_include_tag 'apply_action' %>
<%- end -%>

<div style="float:right">
  <table><tr><td valign="bottom" style="background:#ffd">
	<div>
	  Select a range of kits:
	</div>
	<div style="text-align:right">
<%= form_for :name_range, :url => kits_path, :html => { :method => "GET" } do |f| %>
between <%= f.text_field :a, :size => 10, :value => (params[:name_range].respond_to?(:[]) ? params[:name_range][:a] : '') %><br />
and <%= f.text_field :b, :size => 10, :value => (params[:name_range].respond_to?(:[]) ? params[:name_range][:b] : '') %><br />
<%= f.submit 'Select range' %>
<% end %>
	</div>
  </td><td valign="bottom" style="background:#ffe">
	<div>
	  Upload CSV with kit names:<br />&nbsp;
	</div>
	<div>
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'Kit' %>
<%= hidden_field_tag :target_id_attribute, 'name' %>
<%= hidden_field_tag :return_to, request.path %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Select kits by name' %>
<% end %>
	</div>
  </td><td valign="bottom" style="background:#ffd">
	<div style="text-align:right">
	  <%= button_to 'Select all', kits_path, :method => :get %>
	</div>
      </td></tr>
    <% if @selection and !@selection.target_ids.empty? %>
    <tr><td colspan="3" style="text-align:right">
	Apply to selected items:
	<%= form_tag '', :method => :post do %>
	<%= hidden_field_tag :return_to, request.fullpath %>
	<%= hidden_field_tag :selection_id, @selection.id %>
	<%= select_tag :apply_action, options_for_select([['(Choose action)',nil], ['Mark as sent',sent_selected_kits_path]]) %>
	<%= submit_tag 'Apply', :confirm => "Confirm:  Do you really want to apply this action to all #{@selected_kits.size} selected kits?" %>
	<% end %>
    </td></tr>
    <% end %>
  </table>
</div>

<h2>Kits</h2>

<% if @kits.empty? %>
<p>No kits selected.</p>
<% elsif @selection %>
<p>Selected <%= @selected_kits.size %> kits <%= @selected_kits_description -%>.</p>
<% elsif current_user.is_admin? %>
<p>Because you are an administrator, this page lists all <%= @all_kits.size -%> kits created by all researchers.</p>
<% else %>
<p>Showing all <%= @all_kits.size %> of your kits.</p>
<% end %>

<br clear="all" />

<% if @kits.count > 0 %>
<%= will_paginate @kits %>
<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Collection event</th>
    <th>Kit design</th>
    <th>Participant</th>
    <th>Owner</th>
    <th>Originator</th>
    <th>Shipper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kits.each do |kit| %>
  <tr>
    <td><%= link_to(kit.name, kit_path(kit)) %></td>
    <td><%= kit.crc_id_s %></td>
    <td><%= kit.study.name %></td>
    <td><%= kit.kit_design.name %></td>
    <td><%= kit.participant.nil? ? '' : link_to(kit.participant.hex, admin_user_path(kit.participant)) %></td>
    <td><%= kit.owner.nil? ? '' : (kit.owner.is_researcher? ? kit.owner.full_name : kit.owner.hex) %></td>
    <td><%= (kit.originator.nil? || !kit.originator.is_researcher?) ? '' : kit.originator.full_name %></td>
    <td><%= kit.shipper.nil? ? link_to('Mark as sent', sent_kit_path(kit), :method => :post, :confirm => "Are you sure you want to mark kit #{kit.name} as sent?") : kit.shipper.full_name %></td>
    <td><%= link_to 'Log', show_kit_log_path(kit), :class => "iframe", :title => "Kit log for #{kit.name}" %></td>
    <td><%= link_to 'Edit', edit_kit_path(kit) %></td>
    <td><%= kit.last_mailed.nil? ? link_to('Delete', kit, :confirm => 'Are you sure?', :method => :delete) : '' %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @kits %>
<% end %>


