<h2>Kit <%= @kit.crc_id_s %>, &ldquo;<%= @kit.name %>&rdquo;</h2>

<table class="admin_table">
  <tr>
    <td>Status:</td>
    <td><b><%= @kit.short_status %></b></td>
  </tr><tr>
    <td colspan="2"><%= @kit.status %>.</td>
  </tr>
</table>

<p id="notice"><%= notice %></p>

<p>
  <b>Collection event:</b>
  <%= link_to @kit.study.name, collection_event_path(@kit.study) %>
</p>

<p>
  <b>Kit design:</b>
  <%= link_to_if (current_user && current_user.is_researcher?), @kit.kit_design.name, edit_kit_design_path(@kit.kit_design) %>
</p>

<p>
  <b>Participant:</b>
  <%= @kit.participant.nil? ? '' : link_to(@kit.participant.hex, public_profile_path(@kit.participant.hex)) %></td>
</p>

<p>
  <b>Owner:</b>
  <%= @kit.owner.public_name if @kit.owner %>
</p>

<p>
  <b>Originator:</b>
  <%= @kit.originator.public_name if @kit.originator %>
</p>

<p>
  <b>Shipper:</b>
  <%= @kit.shipper.public_name if @kit.shipper %>
</p>

<h2>Samples</h2>

<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= link_to(sample.name, sample_path(sample)) %></td>
    <td><%= sample.crc_id_s %></td>
    <% if sample.owner.nil? and not sample.participant.nil? then %>
    <td><%= link_to('Mark as received', received_sample_path(sample), :method => :post, :confirm => "Are you sure you want to mark sample #{sample.name} as received?") %></td>
    <% else %>
    <td><%= sample.owner.nil? ? '' : (sample.owner.is_researcher? ? sample.owner.full_name : sample.owner.hex) %></td>
    <% end %>
    <td><%= link_to 'Log', show_sample_log_path(sample), :class => "iframe", :title => "Sample log for #{sample.name} (kit #{sample.kit.name})" %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
    <% if sample.last_mailed.nil? %>
    <td><%= link_to('Delete', sample, :confirm => 'Are you sure?', :method => :delete) %></td>
    <% elsif not sample.is_destroyed.nil? %>
    <td><%= 'Marked as destroyed on ' + sample.is_destroyed.to_s %></td>
    <% elsif sample.is_destroyed.nil? %>
    <td><%= button_to 'Mark as destroyed', sample_destroyed_path(sample), :confirm => 'Are you sure?', :method => :post %></td>
    <% end %>
  </tr>
<% end %>
</table>


<h2>Log</h2>

<%= render :partial => 'log' if @kit.kit_logs.first %>

<% if current_user and current_user.is_researcher? %>
<table class="admin_table">
  <tbody>
    <% if @kit.lost_at.nil? %>
    <tr>
      <td><%= button_to raw('Mark as lost'), lost_kit_path(@kit), :confirm => 'Are you sure?', :method => :post %></td>
      <td>Do this if the kit has been lost in the mail on the way to a participant (e.g., you shipped it a long time ago, and nobody has claimed it or seen it since).</td>
    </tr>
    <% end %>
    <% if @kit.shipper.nil? or @kit.owner == current_user %>
    <tr>
      <td>
        <%= button_to 'Mark as sent', sent_kit_path(@kit), :method => :post, :confirm => "Are you sure you want to mark kit ##{@kit.crc_id_s} (#{@kit.name}) as sent?" %>
      </td>
      <td>Do this if you have shipped the kit to a participant.</td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
