
<h2>Kit '<%= @kit.name %>'</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= link_to(@kit.name, kit_path(@kit)) %>
</p>

<p>
  <b>Number:</b>
  <%= sprintf("%08d", @kit.crc_id) %>
</p>

<p>
  <b>Study:</b>
  <%= @kit.study.name %>
</p>

<p>
  <b>Kit design:</b>
  <%= @kit.kit_design.name %>
</p>

<p>
  <b>Participant:</b>
  <%= @kit.participant.nil? ? '' : link_to(@kit.participant.hex, public_profile_path(@kit.participant.hex)) %></td>
</p>

<p>
  <b>Owner:</b>
  <% if @kit.owner.nil? %>
  <% elsif @kit.owner.is_researcher? %>
  <%= @kit.owner.full_name %>
  <% else %>
  <%= @kit.owner.hex %>
  <% end %>
</p>

<p>
  <b>Originator:</b>
  <%= (@kit.originator.nil? || !@kit.originator.is_researcher?) ? '' : @kit.originator.full_name %></td>
  <%= @kit.creator_id %>
</p>

<p>
  <b>Shipper:</b>
  <%= (@kit.shipper.nil? or (@kit.owner == current_user and @kit.owner.is_researcher?)) ? link_to('Mark as sent', sent_kit_path(@kit), :method => :post, :confirm => "Are you sure you want to mark kit #{@kit.name} as sent?") : @kit.shipper.full_name %>
</p>

<h2>Samples</h2>

<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= link_to(sample.name, sample_path(sample)) %></td>
    <td><%= sprintf("%08d", sample.crc_id) %></td>
    <% if sample.owner.nil? and not sample.participant.nil? then %>
    <td><%= link_to('Mark as received', received_sample_path(sample), :method => :post, :confirm => "Are you sure you want to mark sample #{sample.name} as received?") %></td>
    <% else %>
    <td><%= sample.owner.nil? ? '' : (sample.owner.is_researcher? ? sample.owner.full_name : sample.owner.hex) %></td>
    <% end %>
    <td><%= link_to 'Log', show_sample_log_path(sample), :class => "iframe", :title => "Sample log for #{sample.name} (kit #{sample.kit.name})" %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
    <% if sample.last_mailed.nil? %>
    <td><%= link_to('Delete', sample, :confirm => 'Are you sure?', :method => :delete) %></td>
    <% elsif not sample.is_destroyed.nil? %>
    <td><%= 'Marked as destroyed on ' + sample.is_destroyed.to_s %></td>
    <% elsif sample.is_destroyed.nil? %>
    <td><%= link_to('Mark as destroyed', sample_destroyed_path(sample), :confirm => 'Are you sure?', :method => :post) %></td>
    <% end %>
  </tr>
<% end %>
</table>


