<h2>Study details</h2>

    <strong>Name</strong><br />
    <p><%= @study.name %></p>
    <strong>Description</strong><br />
    <p><pre><%= @study.participant_description %></pre></p>
    <strong>Researcher</strong><br />
    <p><%= @study.researcher.nil? ? '' : @study.researcher.full_name %></p>
    <strong>IRB Researcher</strong><br />
    <p><%= @study.irb_associate.nil? ? '' : @study.irb_associate.full_name %></p>


    <div  class="prominent">
    <% if not @study_participant.nil? and (@study_participant.is_accepted? or @study_participant.is_not_accepted? or @study_participant.is_removed?) then %>
      Your current status for this study is <strong><%= @study_participant.pretty_status %></strong>.
    <% else %>

    <% if @study.shipping_address_required %>
    <p>
      <% if @user.shipping_address.nil? %>
        <strong>This study requires a shipping address, which you have not yet provided.</strong><br />
        <% verb = 'provide' %>
      <% elsif Time.now - @user.shipping_address.updated_at > 86400 * 30 %>
        <strong>This study requires a shipping address.</strong><br />
        Your shipping address was last updated <%= @user.shipping_address.updated_at.strftime('%B %-d, %Y') -%>.<br />
        <% verb = 'confirm or update' %>
      <% else %>
        <% verb = 'confirm or update' %>
      <% end %>
      Please take a moment to <%= link_to "#{verb} your shipping address", user_shipping_address_url(:return_to => request.path) -%> before expressing interest in this study.
    </p>
    <% elsif @study.phone_number_required %>
    <%# shipping address has mandatory phone number; no need to demand both. %>
    <p>
      <% if @user.phone_number.nil? %>
        <strong>This study requires a phone number, which you have not yet provided.</strong><br />
        <% verb = 'provide' %>
      <% else %>
        <strong>This study requires a phone number.</strong><br />
        <% verb = 'confirm or update' %>
      <% end %>
      Please take a moment to <%= link_to "#{verb} your phone number", edit_user_url(:return_to => request.path) -%> before expressing interest in this study.
    </p>
    <% end %>

    <%= form_for :study_participant, :url => user_update_study_url, :html => { :method => :post, :class => 'study_participant', :id => 'create' } do |f| -%>
    <%= f.radio_button :status, 'undecided', :checked => (@study_participant.nil? or @study_participant.is_undecided? ? true : false) %> 
    <%= label :status, 'undecided' %>
    <%= f.radio_button :status, 'interested', :checked => (not @study_participant.nil? and @study_participant.is_interested? ? true : false) %>
    <%= label :status, 'interested' %>
    <%= f.radio_button :status, 'not interested', :checked => (not @study_participant.nil? and @study_participant.is_not_interested? ? true : false) %>
    <%= label :status, 'not interested' %>
    <p><%= submit_tag raw('Submit') %></p>
    <% end -%>
    <% end -%>
    </div>

