<h2>Edit User Account</h2>

<% @user.password = @user.password_confirmation = nil %>

<% if @user.enrolled then %>
This information is private and not part of your public profile.
<% end %>
  
<%= error_messages_for :user, :header_message => 'Error: data could not be saved.', :message => nil %>

<%= form_for :user, :url => user_path, :html => { :method => :put } do |f| -%>
  <p><label for="name">Name</label>: <%=h @user.full_name %></p>

  <p>
  <%= f.label :email %><br/>
  <%= f.text_field :email %>
  </p>

  <p><label for="password">Password</label><br/>
  <%= f.password_field :password %>
  </p>

  <p><label for="password_confirmation">Confirm Password</label><br/>
  <%= f.password_field :password_confirmation %>
  </p>

  <p>
  <%= f.label :security_question %>
  <br/>
  <%= f.text_field :security_question, :size => 80 %>
  </p>

  <p>
  <%= f.label :security_answer %>
  <br/>
  <%= f.text_field :security_answer, :size => 80 %>
  </p>
<p>
<% if @user.enrolled or @user.has_completed?('named_proxies') %>
  <h2>Manage designated proxies</h2>
  <%= link_to 'Manage designated proxies', named_proxies_path %>
<% end %>
</p>

<% if @user.enrolled then %>

<h2>Shipping address</h2>
<%= link_to 'Update shipping address', user_shipping_address_url %>

<h2>Manage mailing list subscriptions</h2>
<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Subscribed</th>
  </tr>
  <% @mailing_lists.each do |mailing_list| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= mailing_list.name %></td>
      <td align="right">
        <%= check_box_tag "user[mailing_list_ids][]", mailing_list.id, @user.mailing_list_ids.include?(mailing_list.id) -%>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
  <p><%= submit_tag 'Save Changes' %></p>
<% end -%>

<% if @user.enrolled then %>
<% unless @user.authsub_token.blank? %>
<h2>Unlink my Google Health account</h2>
<p>If you wish to stop sharing your Google Health information, click below to unlink your health profile:</p>
<%= button_to 'Unlink Google Health profile',
              :controller => 'phrccr',
              :action => 'unlink_googlehealth' %>
<% end %>

<h2>Withdraw from the PGP</h2>
<p>Participation in this study is voluntary.  You may withdraw your participation (including your data, subject to certain limitations) from this study at any time.  You will never have to provide a reason for your withdrawal.</p>
<p><%= button_to 'Withdraw from the PGP...', page_path(:withdrawal_menu), :method => :get %></p>

<% end %>
