<h2>Participant profiles</h2>

<% content_for :js do %>
jQuery(function() {
    var $ = jQuery.noConflict();
    $(document).ready(function() {
        $("noscript").remove();
        $('#participants').dataTable( {
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": true,
            "sAjaxSource": '<%=j(users_path(:selection_id => params[:selection_id]))%>',
            "aoColumns": [
                { 'mDataProp': 'pgp_id',
                  'fnRender': function(oObj) {
                      var r = oObj.aData.pgp_id;
                      if(r)
                          r = 'PGP' + r;
                      return r;
                  }
                },
                { 'mDataProp': 'hex',
                  'fnRender': function(oObj) {
                      var r = oObj.aData.hex;
                      if(r)
                          r = '<a href="/profiles/'+r+'">'+r+'</a>';
                      return r;
                  }
                },
                { 'mDataProp': 'enrolled',
                  'fnRender': Renderer.date },
                { 'mDataProp': 'received_sample_materials',
                  'asSorting': ['desc','asc'] },
                { 'mDataProp': 'has_ccrs',
                  'asSorting': ['desc','asc'],
                  'fnRender': Renderer.yes_or_nothing },
                { 'mDataProp': 'has_relatives_enrolled',
                  'asSorting': ['desc','asc'],
                  'fnRender': Renderer.hide_zeroes },
                { 'mDataProp': 'has_whole_genome_data',
                  'asSorting': ['desc','asc'],
                  'fnRender': Renderer.hide_zeroes },
                { 'mDataProp': 'has_other_genetic_data',
                  'asSorting': ['desc','asc'],
                  'fnRender': Renderer.hide_zeroes }
                ]
            } ).
            fnSetFilteringDelay().
            fnSkipMissingDataProps();
    } );
});
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.dataTables.fnSetFilteringDelay' %>
  <%= javascript_include_tag 'jquery.dataTables.fnSkipMissingDataProps' %>
  <%= javascript_include_tag 'jquery.dataTables.renderers' %>
<% end %>

<p>The participants in the PGP have volunteered to share their DNA sequences, medical information, and other personal information with the research community and the general public.</p>

<% if current_user and (current_user.is_admin? or current_user.is_researcher_onirb?) %>
<p><i>Because you are an IRB-listed researcher or administrator,</i> you can search for participants by full name or huID.  Regular users can only search by huID.</p>
<% end %>

<noscript><%= will_paginate @users %></noscript>
<table id="participants" style="width: 100%">
  <thead>
    <tr>
      <th>PGP#</th>
      <th>Participant ID</th>
      <th>Date enrolled</th>
      <th>Received samples</th>
      <th>Health records</th>
      <th>Relatives enrolled</th>
      <th>Whole genome datasets</th>
      <th>Other genetic data</th>
    </tr>
  </thead>
  <tbody>
    <noscript>
      <% @users.as_api_response(:public).each do |e| -%>
      <tr><td>
          PGP<%= e[:pgp_id] %>
	</td><td>
          <%= link_to e[:hex], url_for(:controller => 'profiles', :action => 'public', :hex => e[:hex]) %>
	</td><td>
          <%= e[:enrolled] %>
	</td><td>
          <%= e[:received_sample_materials] %>
	</td><td>
          <%= e[:has_ccrs] %>
	</td><td>
          <%= e[:has_relatives_enrolled] %>
	</td><td>
          <%= e[:has_whole_genome_data] %>
	</td><td>
          <%= e[:has_other_genetic_data] %>
      </td></tr>
      <% end -%>
    </noscript>
  </tbody>
</table>
<noscript><%= will_paginate @users %></noscript>
