<h2>Informed Consent for Eligibility Screening</h2>

<% if @user.errors.any? %>
<table width="100%"><tr><td align="center">
<div id="errorExplanation">
  <h2><%= pluralize(@user.errors.reject { |k,v| k != :first_name and k != :last_name and k != :email }.count, "error") %> prohibited this record from being saved:</h2>
  <ul>
  <% @user.errors.reject { |k,v| k != :first_name and k != :last_name and k != :email }.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
</td></tr></table>
<% end %>

<%= render :partial => 'mini_consent' %>

<div class="full_name_warning">
  <p>Failure to accurately represent your full name on this informed consent
will invalidate your eligibility for enrollment. You may not submit or sign
this consent form on behalf of any other person, even if you are the
parent, guardian or hold a power of attorney or comparable authority with
respect to such person.</p>
  <p>Once you submit this consent form, you will not be able to change the name
associated with your account. Please enter your name as it appears on
government issued identification, such as a valid driver's license.</p>
</div>

<% @user.password = @user.password_confirmation = nil %>

<%= form_for :user, :url => new2_user_url, :html => { :method => :get, :class => 'signup', :id => 'signup_form' } do |f| -%>

<table><tr><td>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</td><td>
  <%= f.label :middle_name, "MI" %>
  <%= f.text_field :middle_name %><span class="optional">(optional)</span>
</td><td>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</td></tr><tr><td colspan="4">

<%= f.label :email %>
<%= f.text_field :email %>
</td></tr></table>

<p><%= submit_tag "Step 2 ->" %></p>
<% end -%>
