<h2>Double-check your email</h2>

<p>Please check over your name and email; we will send a confirmation email to </p>
<p>
  &nbsp;&nbsp;<strong><%=h @user.full_name %></strong> &lt;<%= link_to h(@user.email), "mailto:#{h(@user.email)}" %>&gt;</p>

<h2>Choose a password</h2>
<p>Please enter a password for your PGP account:</p>

<% form_for :user, :url => users_url, :html => { :class => 'signup' } do |f| -%>

<% %w(first_name middle_name last_name email).each do |attr| -%>
  <%= f.hidden_field attr %>
<% end -%>

<br/>
<%= f.label :password %>
<% if @user.errors.on(:password).nil? -%>(minimum 6 characters)<% end -%>
<%= error_message_on :user, :password, :append_text => '.' %>
<br/>
<%= f.password_field :password %>
<br/>

<br/>
<%= f.label :password_confirmation, 'Confirm password' %>
<%= error_message_on :user, :password_confirmation, :append_text => '.' %>
<br/>
<%= f.password_field :password_confirmation %>
<br/>

<br/>
<%= f.label :security_question %>
<% if @user.errors.on(:security_question).nil? -%>(minimum 5 characters)<% end -%>
<%= error_message_on :user, :security_question, :append_text => '.' %>
<br/>
<%= f.text_field :security_question, :size => 80 %>
<br/>

<br/>
<%= f.label :security_answer %>
<% if @user.errors.on(:security_answer).nil? -%><% end -%>
<%= error_message_on :user, :security_answer, :append_text => '.' %>
<br/>
<%= f.text_field :security_answer, :size => 80 %>
<br/>

<p>        
<%= check_box_tag :pgp_newsletter, nil, params[:pgp_newsletter] -%> <%= "Sign me up for the PGP newsletter!" -%>
</p>

<h2>Are you a robot?</h2>
<p>Please type the two words you see below to confirm that you&rsquo;re a real person.</p>
<%= recaptcha_tags :ssl => true %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
