<h2>Double-check your email</h2>

<p>Please check over your name and email; we will send a confirmation email to </p>
<p>
  &nbsp;&nbsp;<strong><%=h @user.full_name %></strong> &lt;<%= link_to h(@user.email), "mailto:#{h(@user.email)}" %>&gt;</p>

<h2>Choose a password and security question/answer</h2>
<%= error_messages_for :user, :header_message => 'Please double check your name and e-mail address below', :message => nil %>
<%= form_for :user, :url => users_url, :html => { :class => 'signup' } do |f| -%>

<% %w(first_name middle_name last_name email).each do |attr| -%>
  <%= f.hidden_field attr %>
<% end -%>

<br/>
<%= f.label :password %> (minimum 6 characters)
<br/>
<%= f.password_field :password %>
<br/>

<br/>
<%= f.label :password_confirmation, 'Confirm password' %>
<br/>
<%= f.password_field :password_confirmation %>
<br/>

<br/>
<%= f.label :security_question %> (minimum 5 characters)
<br/>
<%= f.text_field :security_question, :size => 80 %>
<br/>

<br/>
<%= f.label :security_answer %>
<br/>
<%= f.text_field :security_answer, :size => 80 %>
<br/>

<p>        
<%= check_box_tag :pgp_newsletter, nil, params[:pgp_newsletter] -%> <%= "Sign me up for the PGP newsletter!" -%>
</p>

<h2>Are you a robot?</h2>
<p>Please type the two words you see below to confirm that you&rsquo;re a real person.</p>
<%= recaptcha_tags :ssl => true %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
