<h2>Withdraw from the PGP<%= ' and request removal' if @request_removal %></h2>

<p>Please confirm that you want to withdraw from the PGP and
deactivate your account.  After doing so, you will no longer be able
to access or update your account and the PGP will no longer contact
you.</p>

<%= form_for(@removal_request, { :url => withdraw_confirm_user_path(current_user) }) do |f| %>

<%= f.hidden_field :remove_data %>
<%= f.hidden_field :destroy_samples %>

<% if @removal_request.remove_data or @removal_request.destroy_samples %>
<p>As you requested:

<ul>

<% if @removal_request.remove_data %>
<li>Your DNA sequence and trait data will be removed from the PGP public database.
</li>
<% end %>

<% if @removal_request.destroy_samples %>
<li>Tissue samples and cell lines controlled by the PGP will be destroyed.
</li>
<% end %>

</ul>
</p>
<% end %>

<div class="actions">
  <%= f.submit 'Confirm' %>
</div>

<% end %>

