<h2><%= link_to 'Requests to remove data and destroy samples', admin_removal_requests_path %> &rarr; #<%= @admin_removal_request.id %></h2>

<table class="admin_table">
  <thead></thead>
  <tbody>
    <tr>
      <td>
        <b>User</b>
      </td><td>
        <%= @admin_removal_request.user.full_name %>
      </td><td>
        <% unless @admin_removal_request.user.hex.blank? %>
          <%= link_to "public profile #{@admin_removal_request.user.hex}", public_profile_path(@admin_removal_request.user.hex) %>
          /
        <% end %>
        <%= link_to 'show', admin_user_path(@admin_removal_request.user) %>
        /
        <%= link_to 'edit', edit_admin_user_path(@admin_removal_request.user) %>
      </td>
    </tr><tr>
      <td>
        <b>Requested data removal?</b>
      </td><td colspan="2">
        <%= @admin_removal_request.remove_data %>
      </td>
    </tr><tr>
      <td>
        <b>Requested sample destruction?</b>
      </td><td>
        <%= @admin_removal_request.destroy_samples %>
      </td><td>
        <%= link_to "#{@admin_removal_request.user.samples.count} samples associated with this participant", specimens_path(:q => @admin_removal_request.user.hex, :include_derived_samples => true) %>
      </td>
    </tr><tr>
      <td>
        <b>Requested at:</b>
      </td><td colspan="2">
        <%= @admin_removal_request.created_at %>
      </td>
    </tr><tr>
      <td>
        <b>Fulfilled at:</b>
      </td><td colspan="2">
        <%= @admin_removal_request.fulfilled_at %>
      </td>
    </tr>
  </tbody>
</table>

<br clear="all" />
<%= form_for @admin_removal_request, :url => admin_removal_request_path(@admin_removal_request), :method => :post do |f| %>

<% unless @admin_removal_request.fulfilled_at %>
  <%= f.submit 'Mark this request as fulfilled', :name => 'close', :confirm => 'Mark this request as fulfilled?' %>
<% end %>

<p>
  <b>Admin notes:</b>
  <br />
  <%= f.text_area :admin_notes, :cols => 80, :rows => 16 %>
</p>

<%= f.submit 'Save' %>

<% end %>
