<h2>Edit content area</h2>

<%= form_for([:admin, @content_area]) do |f| %>
  <%= error_messages_for :content_area, :header_message => 'Error: data could not be saved.', :message => nil %>

  <p>
    <%= f.label :ordinal %><br />
    <%= f.text_field :ordinal %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_content_area_path(@content_area) %> |
<%= link_to 'Back', admin_content_areas_path %>
