<h2><%=h @exam_version.title %></h2>
<p><%=h @exam_version.description %></p>

<h3>Your exam response:</h3>
<% if @exam_response -%>
  <p><%= @exam_response.response_count         %> / <%= @exam_version.question_count %> questions answered.</p>
  <p><%= @exam_response.correct_response_count %> / <%= @exam_version.question_count %> correct.</p>
  <%= link_to 'Retake the exam', retake_content_area_exam_path(@content_area, @exam), :method => 'post' %>
<% else -%>
  <p>Not started.</p>
  <%= link_to 'Start the exam', start_content_area_exam_path(@content_area, @exam), :method => 'post' %>
<% end -%>

