<h2>Administer the Tapestry application</h2>

<ul>
  <li><%= link_to 'Users',   admin_users_path %> - includes per-user entrance exam response reporting.</li>
  <li><%= link_to 'Exams',   admin_content_areas_path %></li>
  <li><%= link_to 'Invited Email Addresses', admin_invited_emails_path %></li>
  <li><%= link_to 'Mailing lists', admin_mailing_lists_path %></li>
  <li><%= link_to 'PHR Reports', '/admin/phr_reports' %></li>
  <li><%= link_to 'International Users Scoreboard', '/admin/scoreboards' %></li>

  <li><%= link_to 'Researcher Admin Tools', '/admin/researchers' %></li>
  <li><%= link_to 'OAuth Services', '/admin/oauth_services' %></li>
  <li><%= link_to 'Removal Requests', admin_removal_requests_path %></li>
  <li><%= link_to 'Withdrawal Comments', withdrawal_comments_path %></li>
</ul>
