<div class="user-dashboard-summary">

<% if @user and @user.researcher %>

<div>
<p><span class="highlight-nextstep">Researcher account:</span>
  <br /><b><%= @user.full_name %>,
  <br /><%= @user.researcher_affiliation %></b>
</p>

<% if @user and @user.researcher_onirb %>
<p>You are listed on the IRB roster.</p>
<% end %>
</div>

<% elsif @user and !@user.is_enrolled? %>

<p>You are not enrolled.</p>

<% elsif @user %>

<p><%= t('messages.enrolled_since', :since_date => humanize_date(@user.enrolled)) %></p>

<% end %>

<% if @user and @user.deactivated_at %>
<div>
<p>
  <span class="highlight-nextstep">Your account was deactivated</span> on <%= humanize_date(@user.deactivated_at) %>.
</p>
</div>
<% end %>

<% if @user and @user.is_enrolled? %>
<div>
<% if @user.safety_questionnaires.last %>
<p>Your most recent safety questionnaire was submitted on <%= humanize_date(@user.safety_questionnaires.last.datetime) %>.</p>
<ul>
  <li><%= link_to 'Submit one now', new_safety_questionnaire_path %></li>
  <li><%= link_to 'Show previous questionnaires', safety_questionnaires_path %></li>
</ul>
<% else %>
<p>You have not yet submitted any safety questionnaires.</p>
<ul>
  <li><%= link_to 'Submit one now', new_safety_questionnaire_path %></li>
</ul>
<% end %>
</div>
<% end %>

<% if @user and @user.is_enrolled? and !@user.deactivated_at %>

<div>
<% if @user.named_proxies.size > 0 %>
<p>You have provided <%= n_things(@user.named_proxies.size, 'designated proxy') %>:</p>
<% else %>
<p><span class="highlight-nextstep">You have not provided a designated proxy for your PGP participation.</span></p>
<% end %>
<ul>
  <% @user.named_proxies.each do |np| %>
  <li><%= np.name %>, <%= np.email %></li>
  <% end %>
  <li><%= link_to 'Manage designated proxies', named_proxies_path %></li>
</ul>
</div>

<p>Your contact information:</p>
<ul>
  <li>tel: <%= @user.phone_number or raw('<i>none provided</i>') %></li>
  <li>email: <%= @user.email %></li>
  <li><%= link_to 'Manage contact information', edit_user_path(@user) %></li>
</ul>

<% if include_section?(Section::SHIPPING_ADDRESS) %>
  <div>
  <% if @user.shipping_address %>
  <p><span class="<%= 'highlight-nextstep' if @user.shipping_address.updated_at < 6.months.ago %>">Your shipping address was last updated on <%= humanize_date(@user.shipping_address.updated_at) %>.</span></p>
  <% else %>
  <p><span class="highlight-nextstep">You have not yet provided a shipping address.</span></p>
  <% end %>
  <ul>
    <li><%= link_to 'Update shipping address', user_shipping_address_path %></li>
  </ul>
  </div>
<% end %>

<% end %>

<div>
  <p><%= link_to 'Show all user log entries', url_for(:controller => 'users', :action => 'show_log') %></p>
</div>

</div>

