<h2>Users</h2>

<% if params[:completed_enrollment_exam] -%>
  <em>Only showing users who have completed the enrollment exam. (<%= link_to 'Show all.', admin_users_url %>)</em>
<% else -%>
  <%= link_to 'Only show users who have completed the enrollment exam.', admin_users_url(:completed_enrollment_exam => true) %>
<% end -%>

<p>Download list of users as <%= link_to 'CSV', formatted_admin_users_url(:format => 'csv', :completed_enrollment_exam => params[:completed_enrollment_exam]) %></p>

<table class="admin_table">
  <tr>
    <th>Name</th><th>Email</th><th>Active?</th><th>Is Admin?</th><th>Edit</th><th>Delete</th><th>Activate</th>
  </tr>
  <% @users.each do |user| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%=h user.full_name %></td>
      <td><%=h user.email %></td>
      <td><%=  user.active? %></td>
      <td><%=  user.is_admin? %></td>
      <td><%= link_to 'Edit', edit_admin_user_url(user) %></td>
      <td><%= link_to 'Delete', admin_user_url(user),
                :method => 'DELETE',
                :confirm => 'Are you sure you want to delete this user?' %></td>
      <td><%= link_to 'Activate', activate_admin_user_url(user), :method => 'PUT' %></td>
    </tr>
  <% end -%>
</table>
