<div style="display:table" id="participant-dashboard">
  <div style="display:table-row">
    <div style="display:table-cell; width: 25%">
      <h2>News</h2>
      <%= render_cell :news_item, :feed, :user => current_user, :show => [:blogs], :limit => 5 %>
    </div>
    <div style="display:table-cell; width: 5%">
    </div>
    <div style="display:table-cell; width: 40%">
      <h2>Your public profile / participation</h2>
      <%= render_cell :profile, :dashboard_summary, :user => current_user %>
      <%= render_cell :study, :dashboard_summary, :user => current_user %>
      <%= render_cell :ccr, :dashboard_summary, :user => current_user %>
      <%= render_cell :user_files, :dashboard_summary, :user => current_user %>
      <%= render_cell :family_relation, :dashboard_summary, :user => current_user %>
      <%= render_cell :survey, :dashboard_summary, :user => current_user %>
    </div>
    <div style="display:table-cell; width: 5%">
    </div>
    <div style="display:table-cell; width: 25%">
      <h2>Your account</h2>
      <%= render_cell :user, :dashboard_summary, :user => current_user %>

      <% if current_user.is_enrolled? and !current_user.deactivated_at %>

        <% if current_user.datasets.released_to_participant.size > 0 -%>
          <h2>Specimen analysis data</h2>
          <span class="<%= 'highlight-nextstep' if current_user.datasets.released_to_participant.unpublished.size > 0 %>">
            <%= link_to 'Review and publish', specimen_analysis_data_index_path %> analysis data
          </span>
        <% end -%>

        <% if include_section?(Section::SAMPLES) %>
          <h2>Your specimens</h2>
          <%= render_cell :news_item, :feed, :user => current_user, :show => [:specimens], :limit => 10 %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
