<h2>Collection events</h2>

<p>To organize specimen collection for scientific studies, researchers
can list studies and specimen collection events here and participants
can tell us whether they are interested in a particular collection event. Tissue
samples and other specimens submitted to the PGP and collaborating
groups will be used for a range of research purposes. This can include
a variety of derived data and samples which will become public,
including whole genome sequences and cell lines. As described in the
full consent form, the results will initially be privately available
to you. After 30 days, provided you do not withdraw from the project,
they will automatically become publicly available.</p>

<p>Some studies will involve us sending you kits for self-collection of
specimens, while others may arrange for collection of specimens by a
trained professional. To arrange these, your shipping address and/or
phone number may be needed.</p>

<% if ShippingAddress.find_by_user_id(current_user.id).nil? %>
  <p>Please <%= link_to 'add a shipping address', user_shipping_address_url %>.</p>
<% else %>
  <p>Please make sure that <%= link_to 'your shipping address', user_shipping_address_url %> is up to date.</p>
  <p>You last updated your shipping address <%= distance_of_time_in_words(Time.now(),ShippingAddress.find_by_user_id(current_user.id).updated_at) %> ago.</p>
<% end %>

<% if @open_collection_events.size > 0 %>

<h3>The following collection event<%= @open_collection_events.size > 1 ? 's are' : ' is' %> currently seeking interested participants:</h3>

 <table class="admin_table">
  <tr>
    <th>Your participation status</th>
    <th>Name</th>
    <th>Researcher</th>
    <th>Researcher Affiliation</th>
    <th>Opened</th>
  </tr>
  <% @open_collection_events.sort { |a,b| b.date_opened <=> a.date_opened }.each do |s| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= s.study_participants.where('user_id = ?',current_user.id).empty? ? 'Undecided' : StudyParticipant::STATUSES[s.study_participants.where('user_id = ?',current_user.id).first.status] %></td>
      <td><%= link_to s.name, user_edit_study_url(:id => current_user.id, :study_id => s.id) %></td>
      <td><%= s.researcher.full_name %></td>
      <td><%= s.researcher.researcher_affiliation %></td>
      <td><%= s.date_opened %></td>
    </tr>
  <% end %>
</table>

<% else %>
<strong>There are currently no open studies. We hope to create some soon, please check again later!</strong>
<% end %>

<% if @closed_collection_events.size > 0 %>

<h3>The following collection event<%= @closed_collection_events.size > 1 ? 's are' : ' is' %> currently closed and <strong>not</strong> seeking participants:</h3>

 <table class="admin_table">
  <tr>
    <th>Your participation status</th>
    <th>Name</th>
    <th>Researcher</th>
    <th>Researcher Affiliation</th>
    <th>Approved</th>
  </tr>
  <% Study.where('open = ? and approved = ?', false, true).sort { |a,b| b.date_approved <=> a.date_approved }.each do |s| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%=
	     sp = s.study_participants.where('user_id = ?',current_user.id)
	     sp = sp.empty? ? nil : sp.first
	     (sp.nil? or sp.is_undecided? || sp.is_not_interested?) ? 'Did not participate' : sp.pretty_status
	     %></td>
      <td><%= link_to s.name, collection_event_url(:id => s.id) %></td>
      <td><%= s.researcher.full_name %></td>
      <td><%= s.researcher.researcher_affiliation %></td>
      <td><%= s.date_approved %></td>
    </tr>
  <% end %>
</table>

<% end %>

<a name="kits"></a>

<h3>Your kits</h3>
<% if not @kits.empty? then %>
<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Collection event</th>
    <th>Status</th>
    <th>Last change</th>
    <th></th>
  </tr>
  <% @kits.each do |k| %>
    <tr>
      <td><%= link_to(k.name, kit_path(k)) %></td>
      <td><%= k.study.name %></td>
      <td><%= k.status %></td>
      <td><%= k.updated_at %></td>
      <td><%= k.status == 'Participant has kit' ? link_to('Mark as returned', returned_kit_path(k), :method => :post, :confirm => "Are you sure you want to mark kit #{k.name} as returned to the researcher?") : '' %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>You currently do not have any kits.</p>
<% end %>
<p><%= link_to "Claim a kit", study_claim_kit_url %></p>
