<% if ! current_user -%>

  <%= render :partial => 'pages/blog_feed' %>

  <h2>Log In</h2>

  <%= form_tag session_path do -%>
  <p><label for="email">Email</label><br/>
  <%= text_field_tag 'email', @email %></p>

  <p><label for="password">Password</label><br/>
  <%= password_field_tag 'password', nil %></p>

  <p><%= link_to 'Forgot your password?', new_password_path %></p>
  <p><%= submit_tag 'Log in' %></p>

  <h2>Sign up for the PGP</h2>
 
  <p>Interested in enrolling in the PGP? <a href="http://www.personalgenomes.org/signup.html">Sign-up here</a>.</p>
  
  <% end -%>

<% elsif current_user.deactivated_at %>

<p>
  <b>Your account was deactivated</b> at <%= current_user.deactivated_at.localtime.ctime %>.
</p>

<% elsif !current_user.researcher and !current_user.enrolled -%>

  <% content_for 'sidebar' do %>
   <div class="bubble">
      <h2>Did you know?</h2>
      <div class="text">
        <p>Your progress through the Eligibility Screening process is tracked on this page.</p>
        <p>Eligibility Screening does not need to be finished all at once.  You can leave and return at a later time, and your progress will be saved.</p>
      </div>
    </div>
  <% end %>

  <h2>Home</h2>

  <p>Welcome, <%=h current_user.full_name %>!</p>

  <ol id="enrollment_steps">
    <% @steps.each do |step| -%>
      <li class="<%= step_item_class(step) %>">
        <span class="duration"><%= step.duration_amount %><br/>
        <span class="unit"><%= step.duration_unit %></span></span>
        <span class="title">
          <% if step == @next_step -%>
            <%= link_to step.title, :controller => step.keyword, :action => 'index'  %>
          <% else -%>
            <%= step.title %>
          <% end -%>
          <br/>
          <span class="completion_time"><%= completion_time_for step -%></span>
        </span>
      </li>
    <% end -%>
  </ol>
<% else -%>

<div id="contentbody">

<div class="clear"><!-- --></div>
<div class="submenu">
<ul>
  <li><strong>Your profile</strong><br>
  &nbsp;&nbsp;<%= link_to "Edit", url_for(:controller => 'profiles', :action => 'public', :hex => current_user.hex) %></li>
  <li><strong>Safety questionnaires</strong><br>
  &nbsp;&nbsp;<%= link_to "Submit new", url_for(:controller => 'safety_questionnaires', :action => 'new') %><br>
  &nbsp;&nbsp;<%= link_to "Review previous", url_for(:controller => 'safety_questionnaires', :action => 'index') %></li>
  <li><strong>Surveys</strong><br>
  &nbsp;&nbsp;<%= link_to "Participant survey", "/users/participant_survey" %><br>
  &nbsp;&nbsp;<%= link_to "More surveys", "/trait_surveys" %></li>
  <li><strong>Studies &amp; collections</strong><br>
  &nbsp;&nbsp;<%= link_to "Learn more", "/pages/studies" %><br/>
  &nbsp;&nbsp;<%= link_to "Claim a kit", "/studies/claim" %></li>
  <li><strong>Upload &amp; manage data</strong><br>
  &nbsp;&nbsp;<%= link_to 'Personal health records', phrccr_path %><br />
  <% if current_user.datasets.released_to_participant.size > 0 -%>
  &nbsp;&nbsp;<%= link_to 'Specimen analysis data', specimen_analysis_data_index_path %><br />
  <% end -%>
  &nbsp;&nbsp;<%= link_to 'Other files', user_files_path %></li>
  <li><strong>Enrollment application</strong><br>
  &nbsp;&nbsp;<%= link_to "Review results", enrollment_application_results_path %></li>
  <li><strong>User log</strong><br>
  &nbsp;&nbsp;<%= link_to "Show", url_for(:controller => 'users', :action => 'show_log') %></li>
</ul>
</div>



<div class="narrow main">
<h2>Public Profile Management</h2>

<p>
The profile management tool enables you to voluntarily add genetic,
health, and trait data to <%= link_to_if current_user.hex, 'your PGP
public profile', public_profile_path(current_user.hex) %>.
</p>
<p>
Here are some things you can do:
</p>
<p>
<ul>
<li><%= link_to 'Specimen collection', page_path('studies') %>: Sign up to donate specimens such as saliva or blood.</li>
<li>Access research data generated about you: Review and download specimen analysis data generated in the research study.</li>
<li>Share your data with the public: Upload your <%= link_to 'health and medical records', phrccr_path %> as well as <%= link_to 'genetic data and other files', user_files_path %> to your public profile.</li>
<li><%= link_to 'Trait surveys', trait_surveys_path %>: Respond to questionnaires and surveys about yourself.</li>
<li><%= link_to 'Link accounts with family members', family_relations_path %> enrolled in the PGP.</li>
<li>Join research activities: We will periodically announce new <%= link_to 'studies', page_path('studies') %> and research activities that you can join.</li>
<li>Quarterly safety reports: Respond to <%= link_to 'a new safety questionnaire', new_safety_questionnaire_path %> and <%= link_to 'review previous responses', safety_questionnaires_path %>.</li>
<li>Consenting tools: Stay informed and keep your consent up-to-date.</li>
</ul>
</p>

<p>
<h3>GET Conference 2012</h3>
<p>
The 2012 GET Conference was held on April 25th at Harvard Medical
School in Boston.  We are hoping to post videos online soon.
</p>

</div>

<div class="clear"><!-- --></div>


  <div style="width: 480px;">

  </div>

</div>
<% end -%>
