<% if ! current_user -%>

  <%= render :partial => 'pages/blog_feed' %>

  <h2>Log In</h2>

  <%= form_tag session_path do -%>
  <p><label for="email">Email</label><br/>
  <%= text_field_tag 'email', @email %></p>

  <p><label for="password">Password</label><br/>
  <%= password_field_tag 'password', nil %></p>

  <p><%= link_to 'Forgot your password?', new_password_path %></p>
  <p><%= submit_tag 'Log in' %></p>

  <h2>Sign up for the PGP</h2>
 
  <p>Interested in enrolling in the PGP? <a href="http://www.personalgenomes.org/signup.html">Sign-up here</a>.</p>
  
  <% end -%>

<% elsif current_user.deactivated_at %>

<p>
  <b>Your account was deactivated</b> at <%= current_user.deactivated_at.localtime.ctime %>.
</p>

<% elsif !current_user.researcher and !current_user.enrolled -%>

  <% content_for 'sidebar' do %>
   <div class="bubble">
      <h2>Did you know?</h2>
      <div class="text">
        <p>Your progress through the Eligibility Screening process is tracked on this page.</p>
        <p>Eligibility Screening does not need to be finished all at once.  You can leave and return at a later time, and your progress will be saved.</p>
      </div>
    </div>
  <% end %>

  <h2>Home</h2>

  <p>Welcome, <%=h current_user.full_name %>!</p>

  <ol id="enrollment_steps">
    <% @steps.each do |step| -%>
      <li class="<%= step_item_class(step) %>">
        <span class="duration"><%= step.duration_amount %><br/>
        <span class="unit"><%= step.duration_unit %></span></span>
        <span class="title">
          <% if step == @next_step -%>
            <%= link_to step.title, :controller => step.keyword, :action => 'index'  %>
          <% else -%>
            <%= step.title %>
          <% end -%>
          <br/>
          <span class="completion_time"><%= completion_time_for step -%></span>
        </span>
      </li>
    <% end -%>
  </ol>
<% else -%>

<%= render :partial => 'pages/dashboard' %>

<% end -%>
