<% if ! current_user -%>

  <h2>Log In</h2>

  <%= form_tag session_path do -%>
  <p><label for="email">Email</label><br/>
  <%= text_field_tag 'email', @email %></p>

  <p><label for="password">Password</label><br/>
  <%= password_field_tag 'password', nil %></p>

  <p><%= link_to 'Forgot your password?', new_password_path %></p>
  <p><%= submit_tag 'Log in' %></p>

  <h2>Sign up for the PGP</h2>
 
  <p>Interested in enrolling in the PGP? <a href="http://www.personalgenomes.org/signup.html">Sign-up here</a>.</p>
  
  <% end -%>
<% elsif !current_user.researcher and !current_user.enrolled -%>

  <% content_for 'sidebar' do %>
   <div class="bubble">
      <h2>Did you know?</h2>
      <div class="text">
        <p>Your progress through the Eligibility Screening process is tracked on this page.</p>
        <p>Eligibility Screening does not need to be finished all at once.  You can leave and return at a later time, and your progress will be saved.</p>
      </div>
    </div>
  <% end %>

  <h2>Home</h2>

  <p>Welcome, <%=h current_user.full_name %>!</p>

  <ol id="enrollment_steps">
    <% @steps.each do |step| -%>
      <li class="<%= step_item_class(step) %>">
        <span class="duration"><%= step.duration_amount %><br/>
        <span class="unit"><%= step.duration_unit %></span></span>
        <span class="title">
          <% if step == @next_step -%>
            <%= link_to step.title, :controller => step.keyword, :action => 'index'  %>
          <% else -%>
            <%= step.title %>
          <% end -%>
          <br/>
          <span class="completion_time"><%= completion_time_for step -%></span>
        </span>
      </li>
    <% end -%>
  </ol>
<% else -%>

<div id="contentbody">

<div class="clear"><!-- --></div>
<div class="submenu">
<ul>
  <li><strong>Your profile</strong><br>
  &nbsp;&nbsp;<%= link_to "Edit", url_for(:controller => 'profiles', :action => 'public', :hex => current_user.hex) %></li>
  <li><strong>Safety Questionnaires</strong><br>
  &nbsp;&nbsp;<%= link_to "Submit new", url_for(:controller => 'safety_questionnaires', :action => 'new') %><br>
  &nbsp;&nbsp;<%= link_to "Review previous", url_for(:controller => 'safety_questionnaires', :action => 'index') %></li>
  <li><strong>Surveys</strong><br>
  &nbsp;&nbsp;<%= link_to "Participant survey", "https://spreadsheets.google.com/spreadsheet/viewform?hl=en_US&formkey=dHRaNUxmUHdVaktxZXdsRlVyMlIwUUE6MQ&entry_71=" + Digest::MD5.hexdigest( SURVEY_SALT + current_user.hex) %><br>
  &nbsp;&nbsp;<%= link_to "Learn more", "/trait_surveys" %></li>
  <li><strong>Genetic data</strong><br>
  &nbsp;&nbsp;<%= link_to "Manage your data",'/genetic_data' %></li>
  <li><strong>Specimen collection</strong><br>
  &nbsp;&nbsp;<%= link_to "Learn more", "/pages/specimen_collection" %></li>
  <li><strong>Enrollment Application</strong><br>
  &nbsp;&nbsp;<%= link_to "Review results", enrollment_application_results_path %></li>
  <li><strong>User log</strong><br>
  &nbsp;&nbsp;<%= link_to "Show", url_for(:controller => 'users', :action => 'show_log') %></li>
</ul>
</div>



<div class="narrow main">
<h2>Public Profile Management</h2>

<p>
The profile management tool will enable you to voluntarily add genetic,
health, and trait data to your PGP public profile.  One of the first
features we have implemented is the ability to link your Google Health
account with your PGP public profile. By linking these two accounts,
information contained in your Google Health account will be added to your
PGP public profile.  When your Google Health account is updated with new
information, your PGP public profile will be updated too.  We hope you find
this is a convenient way to share basic health information with the PGP.
</p>

<p>
In the coming weeks and months, we will be rolling out a variety of new
tools such as:
<ul>
<li>Trait surveys: explore and share different aspects of your personal phenome</li>
<li>Tissue tools: Sign-up for tissue donation and track your cell lines</li>
<li>Genetic data: Review your Preliminary Research Report or add genetic data
obtained elsewhere</li>
<li>Link accounts with immediate family members enrolled in the PGP</li>
<li>Volunteer opportunities: Volunteer for sponsored research programs with
collaborating scientists</li>
<li>Quarterly safety reports: Respond to new safety questionnaires</li>
<li>Consenting tools: Stay informed and keep your consent up-to-date</li>
</ul>
</p>

</div>

<div class="clear"><!-- --></div>


  <div style="width: 480px;">

  </div>

</div>
<% end -%>
