<% if ! current_user -%>

  <h2>Log In</h2>

  <%= form_tag session_path do -%>
  <p><label for="email">Email</label><br/>
  <%= text_field_tag 'email', @email %></p>

  <p><label for="password">Password</label><br/>
  <%= password_field_tag 'password', nil %></p>

  <p><%= link_to 'Forgot your password?', new_password_path %></p>
  <p><%= submit_tag 'Log in' %></p>

  <h2>Sign up for the PGP</h2>
 
  <p>Interested in enrolling in the PGP? <a href="http://www.personalgenomes.org/signup.html">Sign-up here</a>.</p>
  
  <% end -%>

<% elsif current_user.deactivated_at %>

<p>
  <b>Your account was deactivated</b> at <%= current_user.deactivated_at.localtime.ctime %>.
</p>

<% elsif !current_user.researcher and !current_user.enrolled -%>

  <% content_for 'sidebar' do %>
   <div class="bubble">
      <h2>Did you know?</h2>
      <div class="text">
        <p>Your progress through the Eligibility Screening process is tracked on this page.</p>
        <p>Eligibility Screening does not need to be finished all at once.  You can leave and return at a later time, and your progress will be saved.</p>
      </div>
    </div>
  <% end %>

  <h2>Home</h2>

  <p>Welcome, <%=h current_user.full_name %>!</p>

  <ol id="enrollment_steps">
    <% @steps.each do |step| -%>
      <li class="<%= step_item_class(step) %>">
        <span class="duration"><%= step.duration_amount %><br/>
        <span class="unit"><%= step.duration_unit %></span></span>
        <span class="title">
          <% if step == @next_step -%>
            <%= link_to step.title, :controller => step.keyword, :action => 'index'  %>
          <% else -%>
            <%= step.title %>
          <% end -%>
          <br/>
          <span class="completion_time"><%= completion_time_for step -%></span>
        </span>
      </li>
    <% end -%>
  </ol>
<% else -%>

<div id="contentbody">

<div class="clear"><!-- --></div>
<div class="submenu">
<ul>
  <li><strong>Your profile</strong><br>
  &nbsp;&nbsp;<%= link_to "Edit", url_for(:controller => 'profiles', :action => 'public', :hex => current_user.hex) %></li>
  <li><strong>Safety Questionnaires</strong><br>
  &nbsp;&nbsp;<%= link_to "Submit new", url_for(:controller => 'safety_questionnaires', :action => 'new') %><br>
  &nbsp;&nbsp;<%= link_to "Review previous", url_for(:controller => 'safety_questionnaires', :action => 'index') %></li>
  <li><strong>Surveys</strong><br>
  &nbsp;&nbsp;<%= link_to "Participant survey", "/users/participant_survey" %><br>
  &nbsp;&nbsp;<%= link_to "Learn more", "/trait_surveys" %></li>
  <li><strong>Studies</strong><br>
  &nbsp;&nbsp;<%= link_to "Learn more", "/pages/studies" %><br/>
  &nbsp;&nbsp;<%= link_to "Claim a kit", "/studies/claim" %></li>
  <li><strong>Genetic data</strong><br>
  &nbsp;&nbsp;<%= link_to "Manage your data",'/genetic_data' %></li>
  <li><strong>Enrollment Application</strong><br>
  &nbsp;&nbsp;<%= link_to "Review results", enrollment_application_results_path %></li>
  <li><strong>User log</strong><br>
  &nbsp;&nbsp;<%= link_to "Show", url_for(:controller => 'users', :action => 'show_log') %></li>
</ul>
</div>



<div class="narrow main">
<h2>Public Profile Management</h2>

<p>
The profile management tool will enable you to voluntarily add genetic,
health, and trait data to your PGP public profile. 
</p>
<p>
Here are some things you can do
</p>
<p>
<ul>
<li>Specimen collection: Sign-up to donate specimens such as saliva or blood.</li>
<li>Access research data generated about you: Review and download specimen analysis data generated in the research study.</li>
<li>Share your data with the public: Upload genetic datasets, your health and medical records, and other files to your public profile.</li>
<li>Trait surveys: Respond to questionnaires and surveys about your traits.</li>
<li>Link accounts with family members enrolled in the PGP.</li>
<li>Join research activities: We will periodically announce new studies and research activities that you can join.</li>
<li>Quarterly safety reports: Respond to new safety questionnaires and review previous ones.</li>
<li>Consenting tools: Stay informed and keep your consent up-to-date.</li>
</ul>
</p>

<p>
<h3>GET Conference 2012</h3>
<p>
You are invited to attend the 2012 GET Conference on April 25th at Harvard
Medical School in Boston.
</p>

<p>
Enrolled participants in the PGP may register to attend at no cost, for
everyone else tickets are $225.  To register for the conference, you will
need to add a unique Promo Code.
</p>
<p>
Your Personal Promo Code: <strong><%= "PGP_" + Digest::SHA1.hexdigest(GET_2012_SECRET + current_user.email)[0,6].upcase %></strong><br/>
 (please do not share this promo code with others)
</p>
<p>
We hope you are able to join us!  This year, we are trying something a
little different and adding a bunch of activities specifically for PGP
participants.  For example, we are going to have one room where PGP
participants can volunteer to be measured in different ways.  Some of the
trait measurement stations we are considering include: 3D-photogrammetry,
dermatoglyphs, eccrine sweat gland activity, musical ability, vital signs,
and hair follicle density, and others!  There will be nurses on-hand for
PGP participants who would like to donate a blood specimen.  We will be
announcing more program announcements soon.
</p>
<p>
For PGP participants unable to travel to Boston, we will share videos of
the event and find ways to keep you engaged from afar!
</p>
<p>
For more details, please visit the website: <a href="http://www.getconference.org">www.getconference.org</a>
</p>

</div>

<div class="clear"><!-- --></div>


  <div style="width: 480px;">

  </div>

</div>
<% end -%>
