<div id="contentbody">

<div class="clear"><!-- --></div>
<div class="submenu">
<ul>
  <li><strong>Your collection events</strong><br/>
  <% @studies.sort { |a,b| a.name <=> b.name }.each do |study| %>
  &nbsp;&nbsp;<%= link_to study.name + (study.is_open? ? ' (OPEN)' : ''), edit_collection_event_path(study.id) %><br/>
  <% end %>
  &nbsp;&nbsp;<small><%= link_to 'View all', collection_events_path %>
  /
  <%= link_to 'Create new', new_collection_event_path %>
  </small>
  </li>
  <li><strong>Your kit designs</strong><br/>
  <% current_user.kit_designs.sort { |a,b| a.name <=> b.name }.each do |kd| %>
  &nbsp;&nbsp;<%= link_to kd.name + (kd.frozen ? ' (FROZEN)' : ''), edit_kit_design_path(kd.id) %><br/>
  <% end %>
  &nbsp;&nbsp;<%= link_to raw("<strong>New Kit Design</strong>"), url_for(:controller => 'kit_designs', :action => 'new') %></li>

  <li><strong>Kits</strong><br/>
  &nbsp;&nbsp;<small><%= link_to 'View all', url_for(:controller => 'kits', :action => 'index') %>
  /
  <%= link_to 'Create new', url_for(:controller => 'kits', :action => 'new') %>
  </small>
  </li>

  <li><strong>Samples</strong><br/>
  &nbsp;&nbsp;<small><%= link_to 'View all', url_for(:controller => 'samples', :action => 'index') %>
  </small>
  </li>

  <li><strong>Plates</strong><br/>
  &nbsp;&nbsp;<small><%= link_to 'View all', url_for(:controller => 'plates', :action => 'index') %>
  </small>
  </li>

  <li><%= link_to raw("<strong>Device Types</strong>"), url_for(:controller => 'device_types', :action => 'index') %></li>
  <li><%= link_to raw("<strong>Sample Types</strong>"), url_for(:controller => 'sample_types', :action => 'index') %></li>

  <li><strong>Your surveys</strong><br/>
  <% @google_surveys.sort { |a,b| a.name <=> b.name }.each do |survey| %>
  &nbsp;&nbsp;<%= link_to survey.name, edit_google_survey_path(survey.id) %><br/>
  <% end %>
  &nbsp;&nbsp;<small>Google: <%= link_to 'View all', url_for(:controller => 'google_surveys', :action => 'index') %>
  /
  <%= link_to 'Create new', url_for(:controller => 'google_surveys', :action => 'new') %><br/>
  </small>
  &nbsp;&nbsp;<small>Traitwise: <%= link_to 'View all', url_for(:controller => 'traitwise_surveys', :action => 'index') %>
  /
  <%= link_to 'Create new', url_for(:controller => 'traitwise_surveys', :action => 'new') %>
  </small>
  </li>

  <li><strong>Your Google spreadsheets</strong><br/>
  <% @google_spreadsheets.sort { |a,b| a.name <=> b.name }.each do |spreadsheet| %>
  &nbsp;&nbsp;<%= link_to spreadsheet.name, google_spreadsheet_path(spreadsheet.id) %><br/>
  <% end %>
  &nbsp;&nbsp;<small><%= link_to 'View all', url_for(:controller => 'google_spreadsheets', :action => 'index') %>
  /
  <%= link_to 'Create new', url_for(:controller => 'google_spreadsheets', :action => 'new') %>
  </small></li>

  <li><strong>External data sources</strong><br/>
  &nbsp;&nbsp;<%= link_to raw("Authorizations"), url_for(:controller => 'oauth_tokens', :action => 'index') %></li>

  <li><%= link_to raw("<strong>Manage Permissions</strong>"), url_for(:controller => 'permissions', :action => 'index') %></li>

</ul>
</div>



<div class="narrow main">

<p>
Your IRB status: <strong><%= current_user.researcher_onirb? ? 'on the IRB roster' : 'not on the IRB roster' %></strong>
</p>

<% if @studies.count > 0 %>
<h4>Collection events / studies</h4>
<%= render :partial => 'admin/researchers/studiestable', :locals => { :studies => @studies, :type => 'all', :who => 'researcher' } %>

Legend: U: Undecided | I: Interested | NI: Not interested | A: Accepted | NA: Not accepted | R: Removed

<% else %>
You do not have any collection events yet.
<% end %>

<% if Study.accessible(current_user).size > 0 %>

<h4>Download participant lists</h4>
<%= render :partial => 'admin/researchers/study_participants_filter' %>

<% end %>

</div>

<div class="clear"><!-- --></div>


  <div style="width: 480px;">

  </div>

</div>
