<div style="display:table" class="sitemap">
  <div style="display:table-row">
    <% if current_user %>
    <div style="display:table-cell; width: 30%">
      <h2>Account</h2>
      <p>
	<%= link_to 'Email and password', edit_user_path(current_user) %>
	<br />
	<%= link_to 'Shipping address', user_shipping_address_path %>
	<br />
	<%= link_to 'Mailing lists', edit_user_path(current_user, :anchor => 'mailinglists') %>
	<br />
	<%= link_to 'Withdraw', edit_user_path(current_user, :anchor => 'withdraw') %>
<!--
	<br />
	<%= content_tag :span, 'Identity verification', :class => 'nolink' %>
-->
      </p>
      <h2>Consent</h2>
      <p>
	<%= link_to 'Consent documents', participation_consent_path %>
	<br />
	&rarr;&nbsp;<%= link_to 'submit new', participation_consent_path %>
	<br />
<!--
	<%= content_tag :span, raw('&rarr;&nbsp;history'), :class => 'nolink' %>
	<br />
-->
	<%= link_to 'Safety questionnaires', safety_questionnaires_path %>
	<br />
	&rarr;&nbsp;<%= link_to 'submit new', new_safety_questionnaire_path %>
	<br />
	&rarr;&nbsp;<%= link_to 'history', safety_questionnaires_path %>
	<br />
	<%= link_to 'Designated proxies', named_proxies_path %>
	<br />
	<%= link_to 'Enrollment letter', enrollment_application_results_path %>
      </p>
    </div>
    <div style="display:table-cell; width: 5%">
    </div>
    <div style="display:table-cell; width: 30%">
      <h2>Public profile</h2>
      <p>
	<%= link_to_if current_user.hex, 'View and edit', public_profile_path(current_user.hex) %>
	<br />
	<%= link_to_if current_user.hex, 'Upload and manage files', user_files_path %>
	<br />
	<%= link_to_if current_user.hex, 'Personal health records', phrccr_path %>
	<br />
	<%= link_to_if current_user.hex, 'Specimen tracking', public_profile_path(current_user.hex, :anchor => 'samples') %>
	<br />
	<%= link_to_if current_user.hex, 'Specimen analysis results', specimen_analysis_data_index_path %>
      </p>
      <h2>Specimens</h2>
      <p>
	<%= link_to_if current_user.hex, 'Donate specimens', page_path('studies') %>
	<br />
	<%= link_to_if current_user.hex, 'Claim a kit', study_claim_kit_path %>
	<br />
	<%= link_to_if current_user.hex, 'Specimen log', public_profile_path(current_user.hex, :anchor => 'samples') %>
	<br />
	<%= link_to_if current_user.hex, 'Review and publish specimen analysis results', specimen_analysis_data_index_path %>
      </p>
      <h2>Contributing trait data</h2>
      <p>
	<%= link_to_if current_user.hex, 'Personal health records', phrccr_path %>
	<br />
	<%= link_to_if current_user.hex, 'Trait surveys', trait_surveys_path %>
	<br />
	<%= link_to_if current_user.hex, 'Upload and manage files', user_files_path %>
      </p>
    </div>
    <% end %>
    <div style="display:table-cell; width: 5%">
    </div>
    <div style="display:table-cell; width: 30%">
      <% if current_user %>
      <h2>Help</h2>
      <p>
<!--
	<%= content_tag :span, 'FAQ', :class => 'nolink' %>
	<br />
-->
	<%= link_to 'Site map', page_path('sitemap') %>
	<br />
	<%= link_to 'Contact us', new_message_path %>
	<br />
	<%= link_to 'Report a bug', new_message_path %>
      </p>
      <% else %>
      <h2>Account</h2>
      <p>
	<%= link_to 'Log in', new_session_path %>
	<br />
	<%= link_to 'Sign up', 'http://www.personalgenomes.org/signup.html' %>
      </p>
      <% end %>
      <h2>Community</h2>
      <p>
	<%= link_to 'Learn more about the PGP', 'http://www.personalgenomes.org/', :title => 'www.personalgenomes.org' %>
	<br />
	<%= link_to 'PGP blog', 'http://blog.personalgenomes.org/', :title => 'blog.personalgenomes.org' %>
	<br />
	<%= link_to 'Participant directory', users_path %>
<!--
	<br />
	<%= content_tag :span, 'Discussion forum', :class => 'nolink' %>
-->
      </p>
    </div>
  </div>
</div>
