<h2>Studies</h2>

<p>Many studies will involve us sending you kits, to participate in these
you need to provide us with a shipping address.</p>

<% if ShippingAddress.find_by_user_id(current_user.id).nil? %>
  <p>Please <%= link_to 'add a shipping address', "/users/#{current_user.id}/shipping_address" %>.</p>
<% else %>
  <p>Please make sure that <%= link_to 'your shipping address is up to date', "/users/#{current_user.id}/shipping_address" %>.</p>
  <p>You last updated your shipping address <%= distance_of_time_in_words(Time.now(),ShippingAddress.find_by_user_id(current_user.id).updated_at) %> ago.</p>
<% end %>

<p>Some studies involve making an arrangement with another organization
for sample collection (e.g. a phlebotomist for blood draws), to
participate in these you need to provide us with a phone number where
you can be contacted. Please add a phone number / make sure your phone
number is up to date.</p>

<% if Study.where('open = ?',true).size > 0 %>

The following stud<%= Study.where('open = ?',true).size > 1 ? 'ies are' : 'y is' %> currently ongoing:

 <table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Researcher</th>
    <th>Affiliation</th>
  </tr>
  <% Study.where('open = ?', true).each do |s| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= link_to s.name, study_url(s.id) %></td>
      <td><%= s.researcher.full_name %></td>
      <td><%= s.researcher.researcher_affiliation %></td>
    </tr>
  <% end %>
</table>

<% end %>
