<h2>Withdraw from the PGP</h2>

<p>Participation in this study is voluntary.  You may withdraw your
participation from this study at any time.  If you choose to withdraw,
your account will be deactivated.  This means that the <b>PGP will
maintain your tissues, cell lines, genetic data, trait data and all
other participant data</b> and information associated with your
account, but the PGP will no longer contact you and you will not be
able to access or update your account.</p>

<p>You are free to decide at any time that <b>you no longer want your
tissue samples, DNA sequence or other specimen analysis data, cell
lines or other information to be used</b> as part of this study.  As
described in the consent form, it may not be possible to prevent the
future use of your data, cell lines and/or other information in
certain circumstances.</p>

<%= form_for RemovalRequest.new, :url => withdraw_user_url, :method => :post do |f| %>
<p>

<%= f.check_box :remove_data %>
<%= f.label :remove_data, 'Please remove my DNA sequence and trait data from the PGP public database. I understand that copies of my public data may have already been made by others, and the PGP cannot guarantee that all copies are removed.' %>

<br />

<%= f.check_box :destroy_samples %>
<%= f.label :destroy_samples, 'Please destroy tissue samples and cell lines controlled by the PGP. I understand that the PGP cannot guarantee that all of my cells or samples are destroyed if they have already been distributed to parties
beyond our control.' %>

<br />

<%= f.submit 'Withdraw from the study', :class => 'the-action-button' %>

</p>
<% end -%>


<% content_for :js do %>
jQuery(document).ready(function($) {
  var update_button = function() {
    var remove = $('input[type=checkbox][name="removal_request[remove_data]"]').is(':checked');
    var destroy = $('input[type=checkbox][name="removal_request[destroy_samples]"]').is(':checked');
    var andwhat = '';
    if (remove && destroy)
      andwhat = ', remove data, and destroy samples';
    else if (remove)
      andwhat = ' and remove data';
    else if (destroy)
      andwhat = ' and destroy samples';
    $('input.the-action-button').attr('value','Withdraw from the study' + andwhat);
    return true;
  };
  $('input').bind('change', update_button);
  update_button();
});
<% end %>
