<h2>Public anonymous genetic data</h2>

<%= form_tag(public_genetic_data_path, :method => 'get') do -%>
<%= select_tag :data_type, options_for_select(@data_type_options, params[:data_type]) %>
<%= submit_tag 'Search' %>
<% end %>

<table class="admin_table">
  <tr>
    <th>Data type</th>
    <th>ID</th>
    <th>Download</th>
    <% if current_user and current_user.is_admin? %>
    <th style="text-align:center">Admin</th>
    <% end %>
  </tr>
  <% @datasets.sort { |a,b| a.get_evidence_genome_id <=> b.get_evidence_genome_id }.each do |dataset| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= dataset.data_type %></td>
      <td><%= dataset.get_evidence_genome_id %></td>
      <td>
	<% if dataset.download_url %>
	<%= link_to 'Download', dataset.anonymous_download_url, :rel => 'nofollow' %>
	<%= "(#{number_to_human_size(dataset.data_size)})" if dataset.data_size %>
	<%= link_to 'Download GFF file', dataset.anonymous_gff_download_url, :rel => 'nofollow' %>
	<% end %>
      </td>
      <% if current_user and current_user.is_admin? %>
      <td style="text-align:center">
	<div style="display:inline-block">
	  <%= link_to 'Edit user', edit_admin_user_path(dataset.participant) %>
	</div>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
