<h2>Public genetic data</h2>

<%= form_tag(public_genetic_data_path, :method => 'get') do |f| -%>
<%= select_tag :data_type, options_for_select(@data_type_options, params[:data_type]) %>
<%= submit_tag 'Search' %>
<% end %>

<table class="admin_table">
  <tr>
    <th>Participant</th>
    <th>Source<br/>Date&nbsp;published</th>
    <th>Data type</th>
    <th>Name</th>
    <th>Download</th>
    <th>Report</th>
  </tr>
  <% @datasets.each do |dataset| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= link_to dataset.participant.hex, public_profile_path(:hex => dataset.participant.hex) %><%= ", PGP#{dataset.participant.pgp_id}" if dataset.participant.pgp_id %></td>
      <td>
	<%= dataset.class == Dataset ? 'PGP' : dataset.participant.hex %>
	<br />
	<%= (dataset.respond_to?(:published_at) ? dataset.published_at : dataset.created_at).strftime('%Y-%m-%d') %>
      </td>
      <td><%= dataset.data_type %></td>
      <td><%= dataset.name %></td>
      <td>
	<% if dataset.class == UserFile %>
	<%= link_to 'Download', user_file_download_path(dataset) %>
	<% elsif dataset.download_url %>
	<%= link_to 'Download', dataset.download_url %>
	<% end %>
      </td>
      <td>
	<% if dataset.report_ready? %>
	<%= link_to raw('View&nbsp;report'), dataset.report_url %>
	<% elsif current_user and current_user.is_admin? and dataset.processing_status %>
	<%= dataset.processing_status[:status] %>
	<% end %>
      </td>
    </tr>
  <% end %>
</table>
