<% content_for :js do %>
jQuery(function() {
    var $ = jQuery.noConflict();
    $(document).ready(function() {
        $('#data_types').removeClass('admin_table');
        $('#data_types').dataTable( {
            "bInfo": false,
            "sPaginationType": 'full_numbers',
            "sDom": '<"H">t<"F">',
            "bProcessing": false,
            "bServerSide": false,
            "bJQueryUI": true,
            "bAutoWidth": true,
            "bLengthChange": false,
            "iDisplayLength": -1,
            "aaSorting": [[4,'desc'],[2,'desc']],
            "aoColumns":
                [
                 { },
                 { 'asSorting': [ 'desc', 'asc' ], 'iDataSort': 2 },
                 { 'bVisible': false },
                 { 'asSorting': [ 'desc', 'asc' ], 'iDataSort': 4 },
                 { 'bVisible': false }
                 ]
            } ).
            fnSkipMissingDataProps();
    } );
});
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.dataTables.fnSetFilteringDelay' %>
  <%= javascript_include_tag 'jquery.dataTables.fnSkipMissingDataProps' %>
  <%= javascript_include_tag 'jquery.dataTables.renderers' %>
<% end %>


<h2><%= link_to 'Public genetic data', public_genetic_data_path %>
  &rarr;
  statistics</h2>

<div style="width: 50em">
<table class="admin_table" id="data_types" style="width:100%">
  <thead>
    <tr>
      <th>Data type</th>
      <th style="text-align:right">Number of datasets</th>
      <th style="text-align:right;display:none">Number of datasets</th>
      <th style="text-align:right">Positions covered</th>
      <th style="text-align:right;display:none">Positions covered</th>
    </tr>
  </thead>
  <tbody>
      <% @data_type_stats.each do |data_type, stats| -%>
      <tr>
	<td>
	  <%= link_to (data_type == 'other' ? 'other' : @data_type_name[data_type]), public_genetic_data_path(:data_type => data_type) %>
	</td>
	<td style="text-align:right">
	  <%= number_with_delimiter stats[:N] %>
	</td>
	<td style="text-align:right;display:none">
	  <%= stats[:N] %>
	</td>
	<td style="text-align:right">
          <%= number_with_delimiter stats[:positions_covered] if stats[:positions_covered] > 0 %>
	</td>
	<td style="text-align:right;display:none">
          <%= stats[:positions_covered] %>
	</td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>

<div style="width:800px">
  <div style="width:800px;height:400px" id="plotdiv"></div>

  <p style="text-align:center">
    <b>
      &ldquo;<span id="extrapolated-positions-covered"><%= @total_positions_covered %></span>&nbsp;positions&nbsp;covered.&rdquo;
    </b>
  </p>
</div>

<% content_for :js do %>
var time_series_plot;
jQuery(function() {
    var $ = jQuery.noConflict();
    $(document).ready(function() {
            var time_series = <%=raw @time_series.values.sort_by{|s| 0-s['data'].last[1]}.to_json %>;
            for (var i=0; i<time_series.length; i++)
                if (time_series[i].label == 'Positions covered') {
                    time_series[i].yaxis = 2;
                    time_series.unshift(time_series.splice(i,1)[0]);
                    break;
                }
            var o = {
                xaxes: [{
                    mode: 'time'
                }],
                yaxes: [ { position: 'right' },
                         { position: 'left',
                           tickFormatter: function(v) {
                                 if (v>=1000000000000)
                                     return '' + Math.floor(v/1000000000000) + 'T';
                                 if (v>=1000000000)
                                     return '' + Math.floor(v/1000000000) + 'G';
                                 if (v>=1000000)
                                     return '' + Math.floor(v/1000000) + 'M';
                                 return v;
                             }
                         } ],
                legend: {
                    position: 'nw'
                }
            };
            time_series_plot = $.plot($('div#plotdiv'), time_series, o);

            var t0 = <%= @extrapolate_x1.to_i * 1000 %>;
            window.setInterval(function() {
                    var t1 = new Date();
                    var x = <%= @total_positions_covered %> + <%= @positions_covered_per_s %> * (t1-t0) / 1000;
                    var s = '' + Math.floor(x);
                    while (s.match(/\d\d\d\d/)) {
                        s = s.replace(/(.*\d)(\d\d\d)/,'$1,$2');
                    }
                    $('span#extrapolated-positions-covered').html(s);
                }, 200);
    } );
});
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.flot.js' %>
  <%= javascript_include_tag 'jquery.flot.time.js' %>
<% end %>
