<% content_for :js do %>
jQuery(function() {
    var $ = jQuery.noConflict();
    $(document).ready(function() {
        $('#data_types').removeClass('admin_table');
        $('#data_types').dataTable( {
            "bInfo": false,
            "sPaginationType": 'full_numbers',
            "sDom": '<"H">t<"F">',
            "bProcessing": false,
            "bServerSide": false,
            "bJQueryUI": true,
            "bAutoWidth": true,
            "bLengthChange": false,
            "iDisplayLength": -1,
            "aaSorting": [[6,'desc'],[4,'desc'],[2,'desc']],
            "aoColumns":
                [
                 { },
                 { 'asSorting': [ 'desc', 'asc' ], 'iDataSort': 2 },
                 { 'bVisible': false },
                 { 'asSorting': [ 'desc', 'asc' ], 'iDataSort': 4 },
                 { 'bVisible': false },
                 { 'asSorting': [ 'desc', 'asc' ], 'iDataSort': 6 },
                 { 'bVisible': false }
                 ]
            } ).
            fnSkipMissingDataProps();
    } );
});
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.dataTables.fnSetFilteringDelay' %>
  <%= javascript_include_tag 'jquery.dataTables.fnSkipMissingDataProps' %>
  <%= javascript_include_tag 'jquery.dataTables.renderers' %>
<% end %>


<h2><%= link_to 'Public genetic data', public_genetic_data_path %>
  &rarr;
  statistics</h2>

<div style="width: 60em">
<table class="admin_table" id="data_types" style="width:100%">
  <thead>
    <tr>
      <th style="text-align:left">Data type</th>
      <th style="text-align:right">Number of datasets</th>
      <th style="text-align:right;display:none">Number of datasets</th>
      <th style="text-align:right">Number of participants</th>
      <th style="text-align:right;display:none">Number of participants</th>
      <th style="text-align:right">Positions covered</th>
      <th style="text-align:right;display:none">Positions covered</th>
    </tr>
  </thead>
  <tbody>
      <% @data_type_stats.each do |data_type, stats| -%>
      <tr>
	<td>
	  <%= link_to (data_type == 'other' ? 'other' : @data_type_name[data_type]), public_genetic_data_path(:data_type => data_type) %>
	</td>
	<td style="text-align:right">
	  <%= number_with_delimiter stats[:n_datasets] %>
	</td>
	<td style="text-align:right;display:none">
	  <%= stats[:n_datasets] %>
	</td>
	<td style="text-align:right">
	  <%= number_with_delimiter stats[:participants].size %>
	</td>
	<td style="text-align:right;display:none">
	  <%= stats[:participants].size %>
	</td>
	<td style="text-align:right">
          <%= number_with_delimiter stats[:positions_covered] if stats[:positions_covered] > 0 %>
	</td>
	<td style="text-align:right;display:none">
          <%= stats[:positions_covered] %>
	</td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>

<div style="width:700px">
  <h2>Positions covered</h2>
  <div style="width:700px;height:350px" id="coverage_series"></div>
  <h2>Number of participants per data type</h2>
  <div style="width:700px;height:350px" id="participants_series"></div>
  <h2>Pipeline: enrolled &rarr; samples collected &rarr; WGS data published</h2>
  <div style="width:700px;height:350px" id="samples_series"></div>
</div>

<% content_for :js do %>
var time_series_plot;
jQuery(function() {
    var $ = jQuery.noConflict();
    $(document).ready(function() {
        var coverage_series = <%=raw @coverage_series.to_json %>;
        var participants_series = <%=raw @participants_series.to_json %>;
        var samples_series = <%=raw @samples_series.to_json %>;
        var o = {
            xaxis: {
                mode: 'time'
            },
            yaxis: {
                position: 'right',
                tickFormatter: function(v) {
                    if (v>=1000000000000)
                        return '' + Math.floor(v/1000000000000) + 'T';
                    if (v>=1000000000)
                        return '' + Math.floor(v/1000000000) + 'G';
                    if (v>=1000000)
                        return '' + Math.floor(v/1000000) + 'M';
                    if (v>=1000)
                        return '' + Math.floor(v/1000) + 'K';
                    return v;
                }
            },
            legend: {
                position: 'nw',
		backgroundOpacity: 0.4
            }
        };
        o.yaxis.transform = function(v) { if(v==0)return v; return Math.log(v); };
        o.yaxis.inverseTransform = function(v) { if(v==0)return v; return Math.exp(v); };

        o.xaxis.min = Math.max(1274567890000, <%=jstime(@t0)%>);
        o.yaxis.ticks = [0,10,100,1000,10000];
        samples_series_plot = $.plot($('div#samples_series'), samples_series, o);
        o.xaxis.min = Math.max(1274567890000, <%=jstime(@t0)%>);
        o.yaxis.ticks = [0,10,100,1000];
        participants_series_plot = $.plot($('div#participants_series'), participants_series, o);
        o.xaxis.min = Math.max(1274567890000, <%=jstime(@t0)%>);
        o.yaxis.ticks = [0,1000,1000000,1000000000,1000000000000];
        coverage_series_plot = $.plot($('div#coverage_series'), coverage_series, o);
    } );
});
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.flot.js' %>
  <%= javascript_include_tag 'jquery.flot.time.js' %>
<% end %>
