<h2>Enrollment Application Results</h2>

<p>Thanks for submitting your enrollment application.  It will be reviewed as soon as possible.  The review process may take 1-2 months or more.  We will try to get back to you as soon as possible.  If the process will take longer than 1-2 months, we will update this page with more information about your application status.  Once a determination has been made you will be notified by email that you are either (1) selected to continue, (2) waitlisted, or (3) rejected.</p>

<p>The PGP will prioritize the selection of participants for the PGP-100 in the following manner:</p>

<% form_tag :eligibility_application_results do %>

  <p>#1. Everyone must meet the minimum eligibility criteria, including 100% on the entrance exam, 21 years old or more, US resident/citizen, and able to travel to Boston at own expense.</p>

  <p>#2. Anyone from #1 who also, possesses an exome (>60% gene coding regions) or genome sequence.</p>
  <div style="padding-left: 2em;">
    <p>Do you possess an exome or whole genome sequence?  If yes, please notify us now:</p>

    <p>
      <%= check_box_tag 'has_sequence', '1', @has_sequence %>
      <label for="has_sequence">Yes, I possess an exome or whole genome sequence.</label>
    </p>

    <p>
      <label for="has_sequence_explanation">Please provide us with a more details about your exome or whole genome sequence.</label><br/>
      <%= text_field_tag 'has_sequence_explanation', @has_sequence_explanation %>
    </p>

    <%= submit_tag 'Save my sequence information' %>
  </div>

  <p>#3. Anyone from #1 who also, has a known genetic disease (rare or common), AND is an under-represented category in the PGP, AND has one or more family members who are enrolled or wish to enroll in the PGP.</p>

  <div style="padding-left: 2em;">
    <p>
      <label for="family_members_passed_exam">Do you have family members who have passed the entrance exam?  If yes, please add their name, email address, and relationship to you now.</label><br/>
      <%= text_area_tag 'family_members_passed_exam', @family_members_passed_exam, :rows => 5, :style => "width: 100%;" %>
    </p>

    <%= submit_tag 'Save my family member information' %>
  </div>

  <p>#4. Anyone from #1 who also, has a known genetic disease (rare or common), AND is an under-represented category in the PGP.</p>
<% end %>
