
<%= error_messages_for :study, :header_message => 'Error: data could not be saved.', :message => nil %>

<%= form_for(@study, :url => collection_events_path) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <% if @study.approved then %>
      <%= @study.name %>
    <% else %>
      <%= f.text_field :name, :size => 80 %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :participant_description, 'Description of collection event, to be seen by
participants (displayed on recruitment page)' %><br />
    <% if @study.approved then %>
      <pre>
      <%= @study.participant_description %>
      </pre>
    <% else %>
      <%= f.text_area :participant_description, :cols => 80 %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :researcher_description, 'Technical description of collection event for other
researchers and internal use' %><br />
    <%= f.text_area :researcher_description, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :researcher_id %><br />
    <% if @study.researcher then %>
      <%= @study.researcher.full_name %>
    <% else %>
      <%= f.hidden_field :researcher_id, :value => current_user.id %>
      <%= current_user.full_name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :irb_associate_id %><br />
    <%= @study.irb_associate ? @study.irb_associate.full_name : 'unassigned' %>
  </div>
  <div class="field">
    <%= f.label :shipping_address_required %><br />
    <%= f.check_box :shipping_address_required %>
  </div>
  <div class="field">
    <%= f.label :phone_number_required %><br />
    <%= f.check_box :phone_number_required %>
  </div>
  <% if not @study.approved then %>
    <div class="field">
      <%= f.label :requested, 'Request project approval' %><br />
      <%= f.check_box :requested %>
      <br/><strong>Please note</strong>: when your collection event is approved, the collection event name and participant description fields will be frozen.
    </div>
  <% end %>
  <div class="field">
    <%= f.label :approved %><br />
    <%= @study.approved ? 'Yes' : 'No' %>
  </div>
  <% if @study.approved then %>
    <div class="field">
      <%= f.label :open %><br />
      <%= f.check_box :open %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
