<% content_for :js do %>
jQuery(function(){
        var $ = jQuery.noConflict();
        $('form input[name="study[is_third_party]"][value=1]').bind('change', function(){
		var divs = $('.iff-is-third-party');
		$(this).is(':checked') ? divs.show() : divs.hide();
		divs = $('.iff-not-third-party');
		$(this).is(':checked') ? divs.hide() : divs.show();
	    }).trigger('change');
    });
<% end %>

<%= error_messages_for :study, :header_message => 'Error: data could not be saved.', :message => nil %>

<%= form_for(@study, :url => @study.id ? collection_event_path(@study) : collection_events_path) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <% if @study.approved then %>
      <%= @study.name %>
    <% else %>
      <%= f.text_field :name, :size => 80 %>
    <% end %>
  </div>
  <div style="margin:0.5em 0">
    <div class="field">
      <%= f.check_box :is_third_party, :disabled => !!@study.approved %> Third-party activity? (i.e., sign-up and participation are conducted at an independent web site)
    </div>
    <div class="field iff-is-third-party">
      <%= f.label :participation_url, 'URL to send participants to when they click "participate"' %>
      <% if @study.approved then %>
      <br /><%= @study.participation_url %>
      <% else %>
      <%= f.text_field :participation_url, :size => 80 %>
      <% end %>
      <div style="margin: .5em 0;padding:.25em .5em;border:1px dashed #666;background:#eee">
	<% example_token = Digest::SHA1.hexdigest('example') %>
	<ul>
	  <li>An alphanumeric string unique to each user<sup>(1)</sup> will be appended to the URL when participants click through.</li>
	  <li>You can get a list of valid codes that have been used by clicking the "manage participants" link for this study on <%= link_to 'your researcher home page', page_path('researcher_tools') %>.</li>
	  <li>Your web application can verify the authenticity of these codes in real time using our API<sup>(2)</sup> &mdash; look for <code>{"valid":true}</code> in the JSON response.
	  </li>
	  <li>
	    Keep the codes attached to the participants&rsquo; data in your system.  These will allow us to associate generated/returned data with the appropriate participants&rsquo; public profiles.
	  </li>
	</ul>
	<blockquote>
	  <sup>(1)</sup>&nbsp;
	  <code>?study_id=<%= @study.id || 123 %>&amp;participant_id=<%= example_token %></code>
	  <br />
	  <br />
	  <sup>(2)</sup>&nbsp;
	  <% example_url = verify_third_party_participant_id_url(:id => (@study.id || 9999), :app_token => example_token) %>
	  <code><%= example_url %></code> 
	  <% if !@study.id %>
	  <br />("9999" is a placeholder; the exact API URL will be shown here after the activity is created)
	  <% end %>
	</blockquote>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :participant_description, "Description of #{@study.study_type}, to be seen by participants (displayed on recruitment page)" %><br />
    <% if @study.approved then %>
      <pre>
      <%= @study.participant_description %>
      </pre>
    <% else %>
      <%= f.text_area :participant_description, :cols => 80 %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :researcher_description, "Technical description of #{@study.study_type} for other researchers and internal use" %><br />
    <%= f.text_area :researcher_description, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :researcher_id %><br />
    <% if @study.researcher then %>
      <%= @study.researcher.full_name %>
    <% else %>
      <%= f.hidden_field :researcher_id, :value => current_user.id %>
      <%= current_user.full_name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :irb_associate_id, 'IRB associate' %><br />
    <%= @study.irb_associate ? @study.irb_associate.full_name : 'unassigned' %>
  </div>
  <div class="field iff-not-third-party">
    <%= f.label :shipping_address_required %><br />
    <%= f.check_box :shipping_address_required %>
  </div>
  <div class="field iff-not-third-party">
    <%= f.label :phone_number_required %><br />
    <%= f.check_box :phone_number_required %>
  </div>
  <% if not @study.approved then %>
    <div class="field">
      <%= f.label :requested, 'Request project approval' %><br />
      <%= f.check_box :requested %>
      <br/><strong>Please note</strong>: when your <%= @study.study_type %> is approved, the <span class="iff-is-third-party">participation URL,</span> <%= @study.study_type %> name and participant description fields will be frozen.
    </div>
  <% end %>
  <div class="field">
    <%= f.label :approved %><br />
    <%= @study.approved ? 'Yes' : 'No' %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.check_box :open %>
    <% if @study.approved then %>
    Currently accepting participants?
    <% else %>
    Start accepting participants immediately after admin approval?
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
