<p><i>Note: This activity is <b>not</b> conducted by or supervised by
the Personal Genome Project.  The description below may include links
to an independent web site.</i></p>

<h2><%= @study.name %></h2>

<p><%= raw RedCloth.new(@study.participant_description).to_html %></p>

<p><b>Researcher</b>: <%= @study.researcher.full_name %>, <%= @study.researcher.researcher_affiliation %></p>

<div style="width:300px;padding:1em;border:1px dashed #866">
  Clicking the "participate" button below will take you to the
  project&rsquo;s web site.  A token will be passed to confirm that
  you are a PGP participant &mdash; but the project will not yet be
  told <i>which</i> PGP participant you are.  You may have an
  opportunity to make that linkage later to enable certain features,
  such as adding research data you receive from third party activities
  to your public PGP profile.
  <br />&nbsp;
  <div style="text-align:center">
    <%= button_to 'Participate', clickthrough_to_third_party_path(@study) %>
  </div>
</div>
