<h2><%= @study.name %>: participants</h2>

<table class="admin_table">
<tr>
<td>Undecided:</td><td><%= @all_participants.undecided.count %></td>
<td>Interested:</td><td><%= @all_participants.interested.count %></td>
<td>Not accepted:</td><td><%= @all_participants.not_accepted.count %></td>
</tr>
<tr>
<td>Not interested:</td><td><%= @all_participants.not_interested.count %></td>
<td>Accepted:</td><td><%= @all_participants.accepted.count %></td>
<td>Removed:</td><td><%= @all_participants.removed.count %></td>
</tr>
</table>

<% if not @participants.empty? %>

<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% @participants.each do |p| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= current_user.is_admin? ? link_to(p.user.full_name, admin_user_url(p.user)) : p.user.full_name %></td>
      <td><%= p.pretty_status %></td>
      <td>
      <% if p.status == 2 %>
        <%= link_to('accept', study_update_user_status_path(p.study,p.user,'accepted'), :method => :post) %>
      <% elsif p.status == 3 %>
        <%= link_to('remove', study_update_user_status_path(p.study,p.user,'removed'), :method => :post) %>
      <% elsif p.status == StudyParticipant::STATUSES['not accepted'] %>
        <%= link_to('accept', study_update_user_status_path(p.study,p.user,'accepted'), :confirm => 'Are you sure? This user has already been marked "not accepted".', :method => :post) %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% else %>
<p>This study has no participants yet.</p>
<% end %>
