<%- content_for :head do -%>
<%= javascript_include_tag 'apply_action' %>
<%- end -%>

<% content_for :js do %>
jQuery(function() {
    var $ = jQuery.noConflict();
    $(document).ready(function() {
        $('#study_users').removeClass('admin_table');
        x = $('#study_users').dataTable( {
            "bProcessing": true,
            "bJQueryUI": true,
            "sDom": '<"H"lipfr>t<"F">',
            "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "iDisplayLength": -1,
            "aoColumnDefs": [
              { "bSearchable": false, "aTargets": [2] },
              { "bVisible": false, "aTargets": [3] } ]
            } );
        x.fnSkipMissingDataProps();
        x.fnSetFilteringDelay();
    } );
    $('a[select-status]').click(function(){
        $('#study_users_wrapper div.dataTables_filter input[type=text]').
            val('status:' + $(this).attr('select-status')).
            trigger('keyup');
        return false;
    });
});
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.dataTables.fnSetFilteringDelay' %>
  <%= javascript_include_tag 'jquery.dataTables.fnSkipMissingDataProps' %>
  <%= javascript_include_tag 'jquery.dataTables.renderers' %>
<% end %>

<h2><%= @study.name %>: participants</h2>

<% if current_user.is_admin? %>
<div style="float:right">
  <table><tr><td valign="bottom" style="background:#ffffdd;padding:0 .5em">
	Upload a CSV file with participant ID tokens:<br />
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'User' %>
<%= hidden_field_tag :target_id_attribute, 'app_token' %>
<%= hidden_field_tag :"target_id_attribute_args[]", "Study##{@study.id}" %>
<%= hidden_field_tag :return_to, request.path %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Upload CSV and select users by token' %>
<% end %>
<br />
	Upload a CSV file with participant hex IDs:<br />
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'User' %>
<%= hidden_field_tag :target_id_attribute, 'hex' %>
<%= hidden_field_tag :return_to, request.path %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Upload CSV and select users by hex' %>
<% end %>
<br />
	Upload a CSV file with participant names:<br />
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'User' %>
<%= hidden_field_tag :target_id_attribute, 'full_name' %>
<%= hidden_field_tag :target_scope, 'enrolled' %>
<%= hidden_field_tag :return_to, request.path %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Upload CSV and select users by full name' %>
<% end %>
  </td><td valign="bottom">
	or
  </td><td valign="bottom" style="background:#ffffdd;padding:0 .5em">
	<div style="text-align:right">
	  <%= button_to 'Select all', request.path, :method => :get %>
	</div>
      </td></tr>
    <tr><td colspan="3" style="text-align:right">
	Apply to selected participants:
	<%= form_tag '', :method => :post do %>
	<%= hidden_field_tag :study_id, @study.id %>
	<%= hidden_field_tag :return_to, request.fullpath %>
	<%= hidden_field_tag :selection_id, @selection.id if @selection %>
	<%= select_tag :apply_action, options_for_select([['(Choose action)',nil], ['Update status from "interested" to "accepted"',accept_interested_selected_study_users_path], ['Record that kits have been sent',sent_kits_to_selected_study_users_path]]) %>
	<%= submit_tag 'Apply', :confirm => "Confirm:  Do you really want to apply this action to all #{@participants.size} selected participants?" %>
	<% end %>
    </td></tr>
  </table>
</div>
<% end %>

<p>Showing <%= @participants.count %> of <%= @all_participants.count %> participants who have indicated whether they are interested in this <%= @study.study_type %>.</p>

<table class="admin_table">
<tr>
<td><a href="#" select-status="undecided">Undecided</a>:</td><td>
    <b><%= "#{@participants.undecided.count} / " if @selection %></b>
    <%= @all_participants.undecided.count %></td>
<td><a href="#" select-status="interested">Interested</a>:</td><td>
    <b><%= "#{@participants.interested.count} / " if @selection %></b>
    <%= @all_participants.interested.count %></td>
<td><a href="#" select-status="notaccepted">Not accepted</a>:</td><td>
    <b><%= "#{@participants.not_accepted.count} / " if @selection %></b>
    <%= @all_participants.not_accepted.count %></td>
</tr>
<tr>
<td><a href="#" select-status="notinterested">Not interested</a>:</td><td>
    <b><%= "#{@participants.not_interested.count} / " if @selection %></b>
    <%= @all_participants.not_interested.count %></td>
<td><a href="#" select-status="accepted">Accepted</a>:</td><td>
    <b><%= "#{@participants.accepted.count} / " if @selection %></b>
    <%= @all_participants.accepted.count %></td>
<td><a href="#" select-status="removed">Removed</a>:</td><td>
    <b><%= "#{@participants.removed.count} / " if @selection %></b>
    <%= @all_participants.removed.count %></td>
</tr>
</table>

<div style="clear:both"></div>

<% if not @participants.empty? %>
<% rownum = 0 %>

<table class="admin_table" id="study_users" style="width:100%">
  <thead>
    <tr>
      <th>#</th>
      <% if @study.is_third_party %>
      <th>Study-specific participant ID</th>
      <th>Status</th>
      <th style="display:none"></th><%# searchable status %>
      <% else %>
      <th>Name</th>
      <th>Status</th>
      <th style="display:none"></th><%# searchable status %>
      <th></th><%# remove/accept actions %>
      <th>Kit last sent</th>
      <th>Kit claimed</th>
      <th>Kit status</th>
      <th>Age</th>
      <th>Other kits?</th>
      <% end %>
      <% if @selection %>
      <th>Action parameters</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @sorted_participants.each do |p| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= rownum += 1 %></td>
      <% if @study.is_third_party %>
      <td><%= p.user.app_token "Study##{@study.id}" %></td>
      <td><%= p.pretty_status %></td>
      <td style="display:none">status:<%= p.pretty_status.downcase.gsub(' ','') %></td>
      <% else %>
      <td><%= current_user.is_admin? ? link_to(p.user.full_name, admin_user_url(p.user)) : p.user.full_name %></td>
      <td><%= p.pretty_status %></td>
      <td style="display:none">status:<%= p.pretty_status.downcase.gsub(' ','') %></td>
      <td>
      <% if p.status == 2 %>
        <%= link_to('accept', study_update_user_status_path(p.study,p.user,'accepted'), :method => :post) %>
      <% elsif p.status == 3 %>
        <%= link_to('remove', study_update_user_status_path(p.study,p.user,'removed'), :method => :post) %>
      <% elsif p.status == StudyParticipant::STATUSES['not accepted'] %>
        <%= link_to('accept', study_update_user_status_path(p.study,p.user,'accepted'), :confirm => 'Are you sure? This user has already been marked "not accepted".', :method => :post) %>
      <% end %>
      </td>
      <td><%= p.kit_last_sent_at %></td>

      <% claimed_kit, claimed_kit_at = p.claimed_kit_sent_at(p.kit_last_sent_at) %>
      <td><%= claimed_kit.name if claimed_kit %></td>
      <td><%= claimed_kit.short_status if claimed_kit %></td>
      <td style="text-align:right"><%= (claimed_kit.age/86400).floor if claimed_kit %></td>
      <td><%= p.user.kits.select { |k| k.study_id==p.study_id and (!claimed_kit or k.id != claimed_kit.id) }.collect(&:name).join(' ') %></td>
      <% end %>

      <% if @selection %>
      <td><%= @study_participant_info[p.id].inspect %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<p>This <%= @study.study_type %> has no participants yet.</p>
<% end %>
