<%- content_for :head do -%>
<%= javascript_include_tag 'apply_action' %>
<%- end -%>

<h2><%= @study.name %>: participants</h2>

<% if current_user.is_admin? %>
<div style="float:right">
  <table><tr><td valign="bottom" style="background:#ffffdd;padding:0 .5em">
	Upload a CSV file with participant ID tokens:<br />
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'User' %>
<%= hidden_field_tag :target_id_attribute, 'app_token' %>
<%= hidden_field_tag :"target_id_attribute_args[]", "Study##{@study.id}" %>
<%= hidden_field_tag :return_to, request.path %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Upload CSV and select users by token' %>
<% end %>
<br />
	Upload a CSV file with participant hex IDs:<br />
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'User' %>
<%= hidden_field_tag :target_id_attribute, 'hex' %>
<%= hidden_field_tag :return_to, request.path %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Upload CSV and select users by hex' %>
<% end %>
<br />
	Upload a CSV file with participant names:<br />
<%= form_for :upload, :url => upload_filter_path, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag :target_class, 'User' %>
<%= hidden_field_tag :target_id_attribute, 'full_name' %>
<%= hidden_field_tag :target_scope, 'enrolled' %>
<%= hidden_field_tag :return_to, request.path %>
<%= file_field_tag 'file' %><br />
<%= f.submit 'Upload CSV and select users by full name' %>
<% end %>
  </td><td valign="bottom">
	or
  </td><td valign="bottom" style="background:#ffffdd;padding:0 .5em">
	<div style="text-align:right">
	  <%= button_to 'Select all', request.path, :method => :get %>
	</div>
      </td></tr>
    <tr><td colspan="3" style="text-align:right">
	Apply to selected participants:
	<%= form_tag '', :method => :post do %>
	<%= hidden_field_tag :study_id, @study.id %>
	<%= hidden_field_tag :return_to, request.fullpath %>
	<%= hidden_field_tag :selection_id, @selection.id if @selection %>
	<%= select_tag :apply_action, options_for_select([['(Choose action)',nil], ['Update status from "interested" to "accepted"',accept_interested_selected_study_users_path], ['Record that kits have been sent',sent_kits_to_selected_study_users_path]]) %>
	<%= submit_tag 'Apply', :confirm => "Confirm:  Do you really want to apply this action to all #{@participants.size} selected participants?" %>
	<% end %>
    </td></tr>
  </table>
</div>
<% end %>

<p>Showing <%= @participants.count %> of <%= @all_participants.count %> participants who have indicated whether they are interested in this <%= @study.study_type %>.</p>

<table class="admin_table">
<tr>
<td>Undecided:</td><td>
    <b><%= "#{@participants.undecided.count} / " if @selection %></b>
    <%= @all_participants.undecided.count %></td>
<td>Interested:</td><td>
    <b><%= "#{@participants.interested.count} / " if @selection %></b>
    <%= @all_participants.interested.count %></td>
<td>Not accepted:</td><td>
    <b><%= "#{@participants.not_accepted.count} / " if @selection %></b>
    <%= @all_participants.not_accepted.count %></td>
</tr>
<tr>
<td>Not interested:</td><td>
    <b><%= "#{@participants.not_interested.count} / " if @selection %></b>
    <%= @all_participants.not_interested.count %></td>
<td>Accepted:</td><td>
    <b><%= "#{@participants.accepted.count} / " if @selection %></b>
    <%= @all_participants.accepted.count %></td>
<td>Removed:</td><td>
    <b><%= "#{@participants.removed.count} / " if @selection %></b>
    <%= @all_participants.removed.count %></td>
</tr>
</table>

<div style="clear:both"></div>

<% if not @participants.empty? %>
<% rownum = 0 %>

<table class="admin_table">
  <tr>
    <th>#</th>
    <% if @study.is_third_party %>
    <th>Study-specific participant ID</th>
    <th>Status</th>
    <% else %>
    <th>Name</th>
    <th>Status</th>
    <th>Kit last sent</th>
    <th></th>
    <% end %>
    <% if @selection %>
    <th>Action parameters</th>
    <% end %>
  </tr>
  <% @sorted_participants.each do |p| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= rownum += 1 %></td>
      <% if @study.is_third_party %>
      <td><%= p.user.app_token "Study##{@study.id}" %></td>
      <td><%= p.pretty_status %></td>
      <% else %>
      <td><%= current_user.is_admin? ? link_to(p.user.full_name, admin_user_url(p.user)) : p.user.full_name %></td>
      <td><%= p.pretty_status %></td>
      <td><%= p.kit_last_sent_at %></td>
      <td>
      <% if p.status == 2 %>
        <%= link_to('accept', study_update_user_status_path(p.study,p.user,'accepted'), :method => :post) %>
      <% elsif p.status == 3 %>
        <%= link_to('remove', study_update_user_status_path(p.study,p.user,'removed'), :method => :post) %>
      <% elsif p.status == StudyParticipant::STATUSES['not accepted'] %>
        <%= link_to('accept', study_update_user_status_path(p.study,p.user,'accepted'), :confirm => 'Are you sure? This user has already been marked "not accepted".', :method => :post) %>
      <% end %>
      </td>
      <% end %>
      <% if @selection %>
      <td><%= @study_participant_info[p.id].inspect %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% else %>
<p>This <%= @study.study_type %> has no participants yet.</p>
<% end %>
