<h2>Datasets</h2>

<h3>
  Datasets: <%= @datasets.size %>
</h3>

<p>
  <%= link_to 'Create new dataset', new_admin_dataset_path %>
</p>

<table class="admin_table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Hex ID</th>
    <th>Released to participant</th>
    <th>Participant notified</th>
    <th>Seen by participant</th>
    <th>Published</th>
  </tr>
  <% @datasets.each do |dataset| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%=  dataset.id %></td>
      <td><%= link_to_if dataset.location, dataset.name, dataset.location %></td>
      <td><%= dataset.processing_status[:status] if dataset.processing_status %></td>
      <td>
	<%= link_to dataset.human_id, public_profile_path(dataset.human_id) if dataset.human_id %>
	<%= link_to "(##{dataset.participant_id})", admin_user_url(dataset.participant_id) %>
      </td>
      <td><%= dataset.released_to_participant ? 'Yes' : 'No' %></td>
      <td><%= dataset.sent_notification_at.to_s %></td>
      <td><%= dataset.seen_by_participant_at.to_s %></td>
      <td><%= dataset.published_at.to_s %></td>
      <td><%= link_to 'Edit', edit_admin_dataset_path(dataset) %></td>
      <% if not dataset.released_to_participant then -%>
      <td><%= link_to 'Destroy', [:admin, dataset], :confirm => 'Are you sure you want to delete this dataset?', :method => :delete %></td>
      <td><%= link_to('Notify participant', admin_dataset_notify_participant_url(dataset), :confirm => 'Are you sure you want to release this dataset to the participant and notify them of its existence?') if dataset.participant && (!dataset.participant.deactivated_at || dataset.participant.can_reactivate_self) && !dataset.participant.suspended_at %></td>
      <% end -%>
    </tr>
  <% end %>
</table>
