<%= button_to 'Create new dataset', new_admin_dataset_path, :class => 'btn btn-primary pull-right' %>

<h2>Datasets</h2>
  <table class="admin_table table">
  <tr>
    <td><strong>All:</strong></td><td align="right"><%= @datasets.size %></td>
    <td><strong>Released to participant:</strong></td><td align="right"><%= Dataset.released_to_participant.size %></td>
    <td><strong>Not released to participant:</strong></td><td align="right"><%= Dataset.not_released_to_participant.size %></td>
    <td><strong>Age of oldest unreleased dataset:</strong></td><td align="right"><%= Dataset.not_released_to_participant.size > 0 ? distance_of_time_in_words_to_now(Dataset.not_released_to_participant.minimum(:created_at)) : 'all datasets released!' %></td>
  </tr>
  <tr>
    <td><strong>Published:</strong></td><td align="right"><%= Dataset.published.size %></td>
    <td><strong>Published anonymously:</strong></td><td align="right"><%= Dataset.published_anonymously.size %></td>
    <td><strong>Seen by participant:</strong></td><td align="right"><%= Dataset.seen_by_participant.size %></td>
    <td><strong>Released to but not seen by participant:</strong></td><td align="right"><%= Dataset.released_to_but_not_seen_by_participant.size %></td>
  </tr>
  </table>

<table class="admin_table table table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Hex ID</th>
    <th>Released to participant</th>
    <th>Participant notified</th>
    <th>Seen by participant</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @datasets.each do |dataset| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%=  dataset.id %></td>
      <td><%= link_to_if dataset.location, dataset.name, dataset.location %></td>
      <td>
        <% if dataset.processing_status then -%>
          <%= dataset.processing_status[:status] %>
          <% if dataset.processing_status[:status] == 'finished' or dataset.processing_status[:status] == 'failed' -%>
	          <%= button_to 'Reprocess', admin_reprocess_dataset_path(dataset), :return_to => request.path, :method => 'post', :class => 'btn btn-mini' %>
          <% end -%>
        <% end -%>
      </td>
      <td>
	<%= link_to dataset.human_id, public_profile_path(dataset.human_id) if dataset.human_id %>
	<%= link_to "(##{dataset.participant_id})", admin_user_url(dataset.participant_id) %>
      </td>
      <td><%= dataset.released_to_participant ? 'Yes' : 'No' %></td>
      <td><%= dataset.sent_notification_at.to_s %></td>
      <td><%= dataset.seen_by_participant_at.to_s %></td>
      <td>
         <% if not dataset.published_at.nil? then -%>
           <%= dataset.published_at.to_s %>
         <% elsif not dataset.published_anonymously_at.nil? then -%>
           <%= dataset.published_anonymously_at.to_s %><br/><i>anonymously</i>
         <% end -%>
        <% if (not dataset.published_at.nil? or not dataset.published_anonymously_at.nil?) and not @users.include?(dataset.participant_id) -%>
          <br/><strong>Trait surveys incomplete</strong>
        <% end -%>
      </td>
      <td><%= link_to 'Download', dataset_download_path(dataset) %></td>
      <td><%= link_to 'Edit', edit_admin_dataset_path(dataset) %></td>

      <% if not dataset.released_to_participant then -%>

      <td><%= link_to 'Destroy', [:admin, dataset], :confirm => 'Are you sure you want to delete this dataset?', :method => :delete %></td>
      <td><%= link_to('Notify participant', admin_dataset_release_participant_url(dataset), :confirm => 'Are you sure you want to release this dataset to the participant and notify them of its existence?') if dataset.participant && (!dataset.participant.deactivated_at || dataset.participant.can_reactivate_self) && !dataset.participant.suspended_at %></td>

      <% elsif dataset.sent_notification_at and not dataset.seen_by_participant_at then -%>

      <td></td>
      <td><%= link_to('Re-notify participant', admin_dataset_notify_participant_url(dataset), :confirm => 'Are you sure you want to re-notify this participant of the release of this dataset?') if dataset.participant && (!dataset.participant.deactivated_at || dataset.participant.can_reactivate_self) && !dataset.participant.suspended_at %></td>

      <% else %>

      <td></td><td></td>

      <% end -%>

    </tr>
  <% end %>
</table>
