<h2>Reset your password</h2>
<p>Welcome back, <%= @user.full_name %>.  Enter your new password below and click "Reset my password" to reset it:</p>

<%= form_for :password, :url => password_url, :html => { :method => :put } do |form| %>
  <%= error_messages_for :user %>

  <%= form.hidden_field :id,  :value => params[:id]  || params[:password][:id] %>
  <%= form.hidden_field :key, :value => params[:key] || params[:password][:key] %>

  <p><%= form.label :password %><br/>
  <%= form.password_field :password %></p>

  <p><label for="password_confirmation">Confirm Password</label><br/>
  <%= form.password_field :password_confirmation %></p>

  <p><%= submit_tag 'Reset my password' %></p>
<% end %>

