<h2>Specimen analysis data</h2>

<p>Once the PGP has completed the analysis of your specimen(s), the PGP will make
the data available to you here.  After 30 days, or at your option immediately,
these data will be made available on the PGP’s public website and database and
these data will be associated with your PGP public profile.  During this 30 day
period you may choose to 
<%= link_to('withdraw from the study',edit_user_url(current_user, :anchor => "withdraw")) %> 
and your unpublished specimen analysis data will not be made public.</p>

<p>Please remember that specimen analysis data is for research purposes only.  You
may not use this data for any medical or clinical purpose unless the data are
first confirmed by a licensed healthcare professional. </p>

<h3>Specimen analysis history</h3>
<table class="admin_table">
  <tr>
    <th>Date returned</th>
    <th>Description</th>
    <th>Specimen</th>
    <th>Report</th>
    <th>Publication date</th>
  </tr>
  <% @datasets.each do |dataset| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= dataset.seen_by_participant_at.strftime("%b %e, %Y").to_s %></td>
      <td><%= dataset.name %></td>
      <td><%= dataset.sample ? link_to(dataset.sample.crc_id_s, public_profile_path(current_user.hex, :anchor => 'samples')) : '-' %></td>
      <td><%= link_to_if dataset.location, 'view', dataset.location %></td>
      <td>
<%
if dataset.published_at.nil? and dataset.published_anonymously_at.nil? then
  publication_date = "<strong>" + (dataset.seen_by_participant_at + 30.days).strftime("%b %e, %Y").to_s + "</strong>"
  if defined? ANONYMOUS_PUBLICATION_OPTION
    publication_date << "<br /> or " + link_to(raw('Release&nbsp;as&nbsp;CAGI&nbsp;genome'), publish_specimen_analysis_data_path(dataset,:anonymous => true), :confirm => 'This cannot be undone.  Are you sure you want to make this dataset publicly available as a CAGI genome right now?') + raw('&nbsp;(see&nbsp;below)<br />')
  end
  publication_date << " or " + link_to(raw('Publish&nbsp;now'), publish_specimen_analysis_data_path(dataset), :confirm => 'This cannot be undone.  Are you sure you want to make this dataset publicly available right now?')
elsif dataset.published_anonymously_at.nil? then
  publication_date = dataset.published_at.strftime("%b %e, %Y").to_s
elsif dataset.published_at.nil? then
  publication_date = "Published anonymously on " + dataset.published_anonymously_at.strftime("%b %e, %Y").to_s
end
-%>
        <%= raw publication_date %>
      </td>
    </tr>
  <% end %>
</table>

<% if (defined?(ANONYMOUS_PUBLICATION_OPTION) and current_user.datasets.released_to_participant.unpublished.size > 0) or current_user.datasets.published_anonymously.size > 0 %>

<div style="height: 2em"></div>

<div class="redborder">

<h3>Critical Assessment of Genome Interpretation Challenge</h3>

<p><strong>CAGI genome release:</strong> Currently the PGP is working together
with CAGI (Critical Assessment of Genome Interpretation) on their <a
href="https://genomeinterpretation.org/content/2012-challenges">annual
challenge</a>. If you are interested in having your genome used in CAGI's
interpretation challenge, select "Release as CAGI genome" in the specimen
analysis history table above and make sure to complete the following PGP trait
surveys: </p>

<ul>
<% @trait_surveys.each do |ts| %>
<li>
  <% ticked = @trait_surveys_completed.index(ts.id) %>
  <%= image_tag('tick.png', ticked ? {} : { :class => 'transparent' }) %>
  <%= link_to ts.name, google_survey_path(ts.id), { :style => ticked ? 'font-weight: normal' : 'font-weight: bold' } %>
</li>
<% end %>
</ul>

<p>
If you select the "Release as CAGI genome" option, your genome data will be
made public immediately but it will <i>not</i> be immediately linked to your
public profile. Which participant the genome belongs to is kept secret for
the duration of the competition. Researchers will try to predict your
traits based on your genome data. The end of CAGI is currently scheduled
to be January 10, 2013. Once the challenge has ended, your genome will be publicly
associated with your public profile.
</p>

<p>
As with other PGP surveys, answering these surveys is entirely optional. The
answers you submit will be made public on your PGP profile immediately. These
surveys are not limited to the CAGI competition; any PGP participant may
complete them to add trait and disease information to their public PGP profile.
</p>

</div>
<% end -%>
