<h2>Enrollment Application Results</h2>

<% if not current_user.enrolled.nil? then %>
<p>
<strong>Date Issued: <%= current_user.enrolled.to_formatted_s(:us_date) -%></strong>
</p>
<p>
Thank you for applying to the Personal Genome Project (PGP) research study. Your application has been reviewed and you are now enrolled in the Personal Genome Project! Welcome to the team!
</p>
<p>
We realize that by this point you have already invested a considerable amount of time to complete the eligibility screening and enrollment process. Thank you for sticking with us. We look forward to working with you to make the Personal Genome Project a ground-breaking success over the life of the research study. With your help, we hope to make many discoveries that will improve the health and well-being of humankind.
</p>
Before we continue, we ask that you carefully consider the following information about what to expect as an enrolled participant in the PGP: 
<p>
<strong>(1) Public Nature of the PGP: </strong>As stated in the consent form, the entrance exam and on our website, the PGP is a public genomics research study. As such, you should understand that the intention of this study is to create a public repository of genomic, health and other trait information. Continued participation in the PGP will mean making your health, trait, and genomic data publicly available.  So you can better visualize what this looks like in practice, please take a moment and review two different public websites that contain data from PGP participant #1:
</p>
<%= link_to 'https://my.personalgenomes.org/profile/hu43860C', 'https://my.personalgenomes.org/profile/hu43860C' %><br/>
<%= link_to 'http://evidence.personalgenomes.org/hu43860C', 'http://evidence.personalgenomes.org/hu43860C' %>
<p>
You may have noticed that the full name of PGP participant #1 is publicly available. We intentionally published the names of the first ten PGP participants in order to improve our understanding of the impact of fully identified data. To be sure, the PGP will not intentionally publish your name without your permission. However, we want to remind you that even if your name is not made public, it may be possible for others to discover your identity based on other data that is publicly available. The chance will also always exist that your name may be revealed by accident, due to hacking, software glitches, or other means. As you know, this poses potential risks to you, as outlined in the consent form which you are encouraged to review again prior to making a decision about continuing.
</p>
<p>
<strong>(2) PGP Public Profile: </strong>Now that you are enrolled in the PGP, we have created a public profile for you. The information contained in your PGP public profile will help us to prioritize the allocation of resources for tissue collection and DNA sequencing as they become available. We plan to incrementally roll out new features that will enable you to voluntarily add genomic, health, and trait data to your PGP public profile over time. Please remember that you are free to withdraw from the PGP at any time.
</p>
<p>
<strong>(3) DNA Sequencing: </strong>We want you to understand that it may take a considerable amount of time before we are able to sequence your genome. Although the cost of whole genome sequencing is dropping fast, it still costs thousands of dollars per person at the current market price. Our ability to sequence your genome will depend on our success in securing funding and sequencing services for the study. These are all things we are actively working toward, but it is difficult to predict how long it will take and there are no guarantees that we will be able to provide DNA sequencing for every individual who enrolls in the study. You should also know that we may shuffle the order of participants as we prioritize the allocation of DNA sequencing and other resources.
</p>
<p>
<strong>(4) Tissue Collection: </strong>Boston may be a long distance from your home and we want to limit the amount of time and out-of-pocket expense incurred by PGP participants. For those participants unable to travel to Boston, we are evaluating the possibility of using saliva collection kits that can be self-administered at home and mailed to the PGP for whole genome sequencing. We are also looking into the possibility of utilizing the services of phlebotomists who can collect a blood sample by visiting participants at home or work. We will update you with more information about the options available to you as soon as we can.
</p>
<p>
<strong>(5) Work in Progress: </strong>The PGP is a work in progress and it will remain so for the life of the research study. One of the goals of the PGP is to be a testbed for new technologies and research practices, so you should expect certain aspects of the PGP to change over time. For example, we will implement new software, update the consent forms, evaluate new user interfaces, and explore new areas of the human phenome with a variety of novel trait collection tools. Every three months, we will ask you to respond to safety questionnaires and your timely response is very important to us.  If something breaks or if you find that some aspect of the PGP could be improved, we want to hear from you.
</p>
<p>
Thanks again and welcome to the team!<br/>
PGP Staff
</p>

<div align="right">
<font size="-3">Revision: 2012-04-23</font>
</div>

<% if not current_user.enrollment_accepted %>
<%= link_to 'GET STARTED', accept_enrollment_user_path %>
<% end %>

<% elsif current_user.has_completed?('enrollment_application') and not User.eligible_for_enrollment_with_willing_twin.where(:id => current_user.id).empty? then %>
<p>Thanks for submitting your enrollment application.</p>

You submitted your enrollment application on <%= current_user.enrollment_step_completions.find_by_enrollment_step_id(EnrollmentStep.find_by_keyword('enrollment_application')).created_at %>

<p>Because you indicated you have a twin, both you and your twin will have to
be enrolled at the same time by a staff member. This will happen when you both
have submitted your enrollment application.</p>

<p>Please contact <a href="mailto:support@personalgenomes.org">support@personalgenomes.org</a> with any questions.</p>

<% elsif current_user.has_completed?('enrollment_application') then %>
<p>Thanks for submitting your enrollment application.</p>

You submitted your enrollment application on <%= current_user.enrollment_step_completions.find_by_enrollment_step_id(EnrollmentStep.find_by_keyword('enrollment_application')).created_at %>

<p>Unfortunately, you are currently not eligible for enrollment in the PGP study. Please contact <a href="mailto:support@personalgenomes.org">support@personalgenomes.org</a> with any questions.</p>

<% end %>
