<!-- Begin PHR -->
<style type="text/css">    
  .phr table { width: 100%; padding: 0px; margin: 2px 0px; border-collapse: collapse}
  .phr .demographics th { width: 100px; }
  .phr th.dosage { width: 175px; }
  .phr th.frequency { width: 175px; }
  .phr th.date { width: 175px; }
  .phr td, .phr th { border: 1px solid #ccc; padding-left: 2px}
  .phr th { background-color: #eee }
  .phr th { text-align: left; vertical-align: top}
  .phr td { text-align: left; vertical-align: top }
  .phr td.hover { background-color: #C7D1E7 }    
</style>

<div class="phr"> 

<h3>Demographic Information</h3> 
<table class="demographics"> 
  <tr><th>Date of Birth</th><td><%= get_dob_age @ccr.demographic.dob %></td></tr> 
  <tr><th>Gender</th><td><%= @ccr.demographic.gender %></td></tr> 
  <tr><th>Weight</th><td><%= oz_to_lbs_kg @ccr.demographic.weight_oz %></td></tr> 
  <tr><th>Height</th><td><%= in_to_ft_in_cm @ccr.demographic.height_in %></td></tr> 
  <tr><th>Blood Type</th><td><%= @ccr.demographic.blood_type %></td></tr> 
  <tr><th>Race</th><td><%= @ccr.demographic.race %></td></tr> 
</table>

<h3>Conditions</h3>
<table>
<tr>
  <th>Name</th>
  <th class="date">Start Date</th>
  <th class="date">End Date</th>
</tr>
<% @ccr.conditions.each { |condition| %>
<tr>
  <td><%= condition.description %></td>
  <td><%= condition.start_date %></td>
  <td><%= condition.end_date %></td>
</tr>
<% } %>
</table>

<h3>Medications</h3>
<table>
<tr>
  <th>Name</th>
  <th class="dosage">Dosage</th>
  <th class="frequency">Frequency</th>
</tr>
<% @ccr.medications.each { |medication| %>
<tr>
  <td><%= medication.name %></td>
  <td><%= medication.strength %></td>
  <td><%= dose_frequency(medication.dose, medication.frequency) %></td>
</tr>
<% } %>
</table>

<h3>Allergies</h3>
<table>
<tr>
  <th>Name</th>
  <th class="severity">Severity</th>
  <th class="date">Start Date</th>
  <th class="date">End Date</th>
</tr>
<% @ccr.allergies.each { |allergy| %>
<tr>
  <td><%= allergy.description %></td>
  <td><%= allergy.severity %></td>
  <td><%= allergy.start_date %></td>
  <td><%= allergy.end_date %></td>
</tr>
<% } %>
</table>

<h3>Procedures</h3>
<table>
<tr>
  <th>Name</th>
  <th class="date">Date</th>
</tr>
<% @ccr.procedures.each { |procedure| %>
<tr>
  <td><%= procedure.description %></td>
  <td><%= procedure.start_date %></td>
</tr>
<% } %>
</table>

<h3>Tests Results</h3>
<table>
<tr>
  <th>Name</th>
  <th class="result">Result</th>
  <th class="date">Date</th>
</tr>
<% @ccr.lab_test_results.each { |result| %>
<tr>
  <td><%= result.description %></td>
  <td><%= result.value %> <%= result.units %></td>
  <td><%= result.start_date %></td>
</tr>
<% } %>
</table>

<h3>Immunizations</h3>
<table>
<tr>
  <th>Name</th>
  <th class="date">Date</th>
</tr>
<% @ccr.immunizations.each { |immunization| %>
<tr>
  <td><%= immunization.name %></td>
  <td><%= immunization.start_date %></td>
</tr>
<% } %>
</table>

</div>
<p><em>Updated: <%= @ccr.version %></em></p>
<script type="text/javascript"> 
  $(".phr tr").hover(
  function() {
  $("td", this).addClass("hover");
  },
  function() {
  $("td", this).removeClass("hover");
  });
</script>
<!-- End PHR -->
