<!-- Begin PHR -->
<style type="text/css">    
  .phr table { width: 100%; padding: 0px; margin: 2px 0px; border-collapse: collapse}
  .phr .demographics th { width: 100px; }
  .phr th.dosage { width: 175px; }
  .phr th.frequency { width: 175px; }
  .phr th.date { width: 175px; }
  .phr td, .phr th { border: 1px solid #ccc; padding-left: 2px}
  .phr th { background-color: #eee }
  .phr th { text-align: left; vertical-align: top}
  .phr td { text-align: left; vertical-align: top }
  .phr td.hover { background-color: #C7D1E7 }    
</style>

<div class="phr"> 

<h3>Demographic Information</h3> 
<table class="demographics"> 
  <tr><th>Date of Birth</th><td><%= dob_to_dob_age @ccr.xpath('//ccr:Actors/ccr:Actor/ccr:Person/ccr:DateOfBirth/ccr:ExactDateTime') %></td></tr> 
  <tr><th>Gender</th><td><%= @ccr.xpath('//ccr:Actors/ccr:Actor/ccr:Person/ccr:Gender/ccr:Text') %></td></tr> 
  <tr><th>Weight</th><td><%= oz_to_lbs_kg @ccr.xpath('//ccr:VitalSigns/ccr:Result/ccr:Test[ccr:Description/ccr:Text="Weight"]/ccr:TestResult/ccr:Value') %></td></tr> 
  <tr><th>Height</th><td><%= in_to_ft_in_cm @ccr.xpath('//ccr:VitalSigns/ccr:Result/ccr:Test[ccr:Description/ccr:Text="Height"]/ccr:TestResult/ccr:Value') %></td></tr> 
  <tr><th>Blood Type</th><td><%= @ccr.xpath('//ccr:VitalSigns/ccr:Result/ccr:Test[ccr:Description/ccr:Text="Blood Type"]/ccr:TestResult/ccr:Value') %></td></tr> 
  <tr><th>Race</th><td><% @ccr.xpath('//ccr:SocialHistory/ccr:SocialHistoryElement[ccr:Type/ccr:Text="Race"]/ccr:Description/ccr:Text').each_with_index { |race,i| if i > 0%>, <% end %><%= race %><% } %></td></tr> 
</table>

<h3>Conditions</h3>
<table>
<tr>
  <th>Name</th>
  <th class="date">Start Date</th>
  <th class="date">End Date</th>
</tr>
<% @ccr.xpath('//ccr:Problems/ccr:Problem').each { |problem| %>
<tr>
  <td><%= problem.xpath('ccr:Description/ccr:Text') %></td>
  <td><%= show_date problem.xpath('ccr:DateTime[ccr:Type/ccr:Text="Start date"]/ccr:ExactDateTime') %></td>
  <td><%= show_date problem.xpath('ccr:DateTime[ccr:Type/ccr:Text="Stop date"]/ccr:ExactDateTime') %></td>
</tr>
<% } %>
</table>

<h3>Medications</h3>
<table>
<tr>
  <th>Name</th>
  <th class="dosage">Dosage</th>
  <th class="frequency">Frequency</th>
</tr>
<% @ccr.xpath('//ccr:Medications/ccr:Medication').each { |medication| %>
<tr>
  <td><%= medication.xpath('ccr:Product/ccr:ProductName/ccr:Text') %></td>
  <td><%= medication.xpath('ccr:Product/ccr:Strength/ccr:Value') %>
      <%= medication.xpath('ccr:Product/ccr:Strength/ccr:Units/ccr:Unit') %>
      <%= medication.xpath('ccr:Product/ccr:Form/ccr:Text') %></td>
  <td><%= dose_frequency(medication.xpath('ccr:Directions/ccr:Direction/ccr:Dose/ccr:Value'), medication.xpath('ccr:Directions/ccr:Direction/ccr:Frequency/ccr:Value')) %></td>
</tr>
<% } %>
</table>

<h3>Allergies</h3>
<table>
<tr>
  <th>Name</th>
  <th class="severity">Severity</th>
  <th class="date">Start Date</th>
  <th class="date">End Date</th>
</tr>
<% @ccr.xpath('//ccr:Alerts/ccr:Alert').each { |alert| %>
<tr>
  <td><%= alert.xpath('ccr:Description/ccr:Text') %></td>
  <td><%= alert.xpath('ccr:Reaction/ccr:Severity/ccr:Text') %></td>
  <td><%= show_date alert.xpath('ccr:DateTime[ccr:Type/ccr:Text="Start date"]/ccr:ExactDateTime') %></td>
  <td><%= show_date alert.xpath('ccr:DateTime[ccr:Type/ccr:Text="Stop date"]/ccr:ExactDateTime') %></td>
</tr>
<% } %>
</table>

<h3>Procedures</h3>
<table>
<tr>
  <th>Name</th>
  <th class="date">Date</th>
</tr>
<% @ccr.xpath('/xmlns:feed/xmlns:entry[xmlns:category[@term="PROCEDURE"]]//ccr:Procedures/ccr:Procedure').each { |procedure| %>
<tr>
  <td><%= procedure.xpath('ccr:Description/ccr:Text') %></td>
  <td><%= show_date procedure.xpath('ccr:DateTime[ccr:Type/ccr:Text="Start date"]/ccr:ExactDateTime') %></td>
</tr>
<% } %>
</table>

<h3>Tests Results</h3>
<table>
<tr>
  <th>Name</th>
  <th class="result">Result</th>
  <th class="date">Date</th>
</tr>
<% @ccr.xpath('/xmlns:feed/xmlns:entry[xmlns:category[@term="LABTEST"]]//ccr:Results/ccr:Result').each { |result| %>
<tr>
  <td><%= result.xpath('ccr:Test/ccr:Description/ccr:Text') %></td>
  <td><%= result.xpath('ccr:Test/ccr:TestResult/ccr:Value') %> <%= result.xpath('ccr:Test/ccr:TestResult/ccr:Units/ccr:Unit') %></td>
  <td><%= show_date result.xpath('ccr:Test/ccr:DateTime[ccr:Type/ccr:Text="Collection start date"]/ccr:ExactDateTime') %></td>
</tr>
<% } %>
</table>

<h3>Immunizations</h3>
<table>
<tr>
  <th>Name</th>
  <th class="date">Date</th>
</tr>
<% @ccr.xpath('//ccr:Immunizations/ccr:Immunization').each { |immunization| %>
<tr>
  <td><%= immunization.xpath('ccr:Product/ccr:ProductName/ccr:Text') %></td>
  <td><%= show_date immunization.xpath('ccr:DateTime[ccr:Type/ccr:Text="Start date"]/ccr:ExactDateTime') %></td>
</tr>
<% } %>
</table>

</div>
<p><em>Updated: <%= @ccr.xpath('/xmlns:feed/xmlns:updated') %></em></p>
<script type="text/javascript"> 
  $(".phr tr").hover(
  function() {
  $("td", this).addClass("hover");
  },
  function() {
  $("td", this).removeClass("hover");
  });
</script>
<!-- End PHR -->
