<h2>Imported Personal Health Record</h2> 
 
<p>This is your PHR imported from Google Health. Please make sure all the information is accurate. If there are any errors, you can correct them in your <a href="<%= health_url %>">Google Health profile</a> and import the PHR again.</p>

<%= render :partial => "ccr" %>

<%= form_tag(phrccr_path) %>

<p><em>Last updated: <%= @ccr.xpath('/xmlns:feed/xmlns:updated') %></em></p>

<% if !File.exist?(get_ccr_filename(current_user.id, false)) %>
<p>
<%= submit_tag 'Share my PHR with PGP' %>&nbsp;
<% else %>
<p>If you have updated your PHR during this session, please click the button below to share the new version with PGP. Otherwise, the new version will be automatically downloaded the next time you log in.</p>
<p>
<%= submit_tag 'Update PHR' %>&nbsp;
<% end %>
<%= submit_tag 'Take me back to previous page' %></p>

</form>

