
<% if @ccr %>
<h2>Imported Personal Health Record</h2> 
 
<p>This is your PHR imported from Google Health. Please make sure all the information is accurate. If there are any errors, you can correct them in your <a href="<%= health_url %>">Google Health profile</a> and click the "Refresh PHR" button.</p>

<%= render :partial => "ccr" %>

<% end %>

<%= form_tag(phrccr_path) %>

<p>
<%= submit_tag 'Unlink from Google Health' %>
&nbsp;
<%= submit_tag 'Refresh PHR' %>
</p>

<% if @ccr && @ccr_history.length > 0 %>
<h3>All PHRs</h3>
<table>
<% @ccr_history.each { |version| %>
<tr>
  <td><a href="review?version=<%= version %>"><%= version %></a>
    <% if version == @current_version %>
    (currently viewing)
    <% end %>
  </td>
  <td><button name="deleteccr" value="<%= version %>">Delete</button></td></tr>
<% } %>
</table>
<% end %>

</form>

