<style type="text/css">
.tip { padding: 10px; margin-top: 10px; margin-bottom: 10px; border: 2px solid #CCCC00; background: #FFFFCC; }
</style>

<h2>Personal Health Record</h2>

<% if @ccr_history.length > 0 %>
<h3>Your Personal Health Record (CCR) files:</h3>
<table class="admin_table">
<tr>
  <th>Review</th>
  <th>Date Updated</th>
  <th>Origin</th>
  <th>Download</th>
  <th>Delete</th>
</tr>
<% @ccr_history.each { |ccr| %>
<tr>
  <td><a href="/phrccr/review?version=<%= ccr.version %>">Review</a></td>
  <td><%= ccr.version.gsub(/T.*$/,'') %></td>
  <td><%= ccr.pretty_origin %></td>
  <td><a href="/phrccr/download?id=<%= ccr.id %>">download raw CCR</a></td>
  <td><a href="/phrccr/delete?id=<%= ccr.id %>" onClick="confirm('Are you sure?');">delete</a></td>
<% } %>
</table>
<% end %>

<h3>Upload a new CCR (Continuity of Care Record) file:</h3>
<%= form_tag upload_phrccr_path, { :multipart => true } do  %>
  <p><%= file_field_tag :ccr %></p>
  <%= submit_tag 'Upload' %>
<% end %>

<h3>Integration with Personal Health Record Platforms</h3>

<p>
We are working on automatic integration with Personal Health Record platforms. 
</p>
<p>
In the meantime, you can use platforms such
as <a href="http://www.healthvault.com" target="_blank">Microsoft HealthVault</a> to
download your Personal Health Record data as a CCR XML document, and
upload it using the form above.
</p>

<h4>CCR export instructions for Microsoft Healthvault:</h4>

<ul>
<li>Log in to <a href="http://www.healthvault.com" target="_blank">Microsoft HealthVault</a>.</li>
<li>Click &ldquo;Health information&rdquo; on the left side of the page.</li>
<li>Click the &ldquo;More actions&rdquo; menu on the right side of the page.</li>
<li>Select &ldquo;Export information&rdquo;.</li>
<li>Select &ldquo;Export as a CCR (Continuity of Care Record)&rdquo;.</li>
<li>Click &ldquo;Export&rdquo;.</li>
</ul>

<h3>Google Health</h3>

<p>Google discontinued the Google Health service on January 1st, 2012.</p>

<p>If you linked your Google Health account to your PGP public profile prior to January 1st 2012, then we may have CCR-formatted medical data about you.</p>

<p>You will no longer be able to update this information using Google Health. However, any Google Health data you already added to your PGP profile will remain in your PGP profile unless you choose to remove it.</p>

<p>If you want to download your health data above and move it to another service that will allow you store and update the data, Google has provided detailed instructions:</p>

<a href="http://support.google.com/health/bin/answer.py?hl=en&answer=1375585">http://support.google.com/health/bin/answer.py?hl=en&answer=1375585</a>

