<% if @user %>
<p>
  <% if @user.user_files.size == 0 %>
    <% if @user.incomplete_user_files.size > 0 %>
      <span class="highlight-nextstep">You have <%= n_things(@user.incomplete_user_files.size, 'incomplete (partially uploaded) file') %>.</span>
    <% else %>
      You have not uploaded any data files to your public profile.
    <% end %>
  <% else %>
    You have uploaded <%= n_things(@user.user_files.size, 'data file') %> to your public profile.
    <% if @user.incomplete_user_files.size > 0 %>
      <span class="highlight-nextstep">You also have <%= n_things(@user.incomplete_user_files.size, 'incomplete (partially uploaded) file') %>.</span>
    <% end %>
  <% end %>
</p>
<ul>
<% if @user.user_files.size + @user.incomplete_user_files.size > 0 %>
<li><%= link_to 'Manage uploaded files', user_files_path %></li>
<% end %>
<li><%= link_to 'Upload a file / learn more', new_user_file_path %> about uploading your own genetic data and other health data.</li>
</ul>
<% end %>
