
<%= error_messages_for :study, :header_message => 'Error: data could not be saved.', :message => nil %>

<%= form_for [:admin, @study], :html => { :method => :put } do |f| -%>

  <div class="field">
    <%= f.label :name %><br />
    <%= @study.name %>
  </div>
  <div class="field">
    <%= f.label :participant_description %><br />
    <pre><%= @study.participant_description %></pre>
  </div>
  <div class="field">
    <%= f.label :researcher_description %><br />
    <%= @study.researcher_description %>
  </div>
  <div class="field">
    <%= f.label :researcher_id %><br />
    <%= @study.researcher.full_name %>
  </div>
  <div class="field">
    <%= f.label :irb_associate_id %><br />
    <%= f.select :irb_associate_id, User.where('researcher_onirb = ?',true).collect {|r| [ r.full_name, r.id ] }, :include_blank => true %>
  </div>
  <% if not @study.approved then %>
    <div class="field">
      <%= f.label :requested %><br />
      <%= @study.requested ? 'Yes' : 'No' %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
