
<%= error_messages_for :study, :header_message => 'Error: data could not be saved.', :message => nil %>

<%= form_for [:admin, @study], :html => { :method => :put } do |f| -%>

  <div class="field">
    <%= f.label :name %><br />
    <%= @study.name %>
  </div>
  <div class="field">
    <%= f.label :is_third_party, 'Activity type' %><br />
    <%= f.check_box :is_third_party, :disabled => true %> Third-party activity? (i.e., sign-up and participation are conducted at an independent web site)
  </div>
  <div class="field">
    <%= f.label :participation_url %><br />
    <%= @study.is_third_party ? @study.participation_url : 'N/A' %>
  </div>
  <div class="field">
    <%= f.label :participant_description %><br />
    <p><%=raw CGI.escapeHTML(@study.participant_description).gsub("\r","").gsub("\n\n","</p><p>").gsub("\n","<br />") %></p>
  </div>
  <div class="field">
    <%= f.label :researcher_description %><br />
    <%= @study.researcher_description %>
  </div>
  <div class="field">
    <%= f.label :researcher_id %><br />
    <%= @study.researcher.full_name %>
  </div>
  <div class="field">
    <%= f.label :irb_associate_id, 'IRB associate' %><br />
    <%= f.select :irb_associate_id, User.where('researcher_onirb = ?',true).collect {|r| [ r.full_name, r.id ] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.check_box :open %>
    <% if @study.approved then %>
    Currently accepting participants?
    <% else %>
    Start accepting participants immediately after admin approval?
    <% end %>
  </div>
  <% if not @study.approved then %>
    <div class="field">
      <%= f.label :requested %><br />
      <%= @study.requested ? 'Yes' : 'No' %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
