<h2>Bulk messages</h2>

<%= link_to 'New', new_admin_bulk_message_path -%>

<table class="admin_table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Recipients</th>
      <th>Created at</th>
      <th>Tested</th>
      <th>Sent</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bulk_messages.each do |bm| %>
    <tr>
      <td><%= link_to bm.subject, admin_bulk_message_path(bm) %></td>
      <td><%= link_to bm.bulk_message_recipients.count, admin_bulk_message_recipients_path(bm) %></td>
      <td><%= bm.created_at %></td>
      <td><%= bm.tested ? bm.tested_at : 'No' %></td>
      <td><%= bm.sent ? bm.sent_at : 'No' %></td>
      <td>
        <%= bm.sent ? '' : link_to('Edit', edit_admin_bulk_message_path(bm)) %>  
        <%= (not bm.sent) ? link_to('Test', admin_test_bulk_message_path(bm)) : '' %>
        <%= (not bm.sent and bm.tested) ? link_to('Send', admin_send_bulk_message_path(bm)) : '' %>  
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

