<h2>Residency Survey</h2>

<% form_for @residency_survey_response, :url => screening_surveys_residency_path, :html => { :method => :put } do |f| -%>
<%= error_messages_for :residency_survey_response %>

<style type="text/css">
  form p label { vertical-align: middle; }
  form p input { vertical-align: middle; }
  form p.skip * { font-color: #ccc; }
  form div.fieldWithErrors { display: inline; }
</style>

<% content_for :js do %>
$(document).ready(function() {
  $('#residency_survey_response_us_resident_true').click(toggleResidencyQuestions);
  $('#residency_survey_response_us_resident_false').click(toggleResidencyQuestions);
  toggleResidencyQuestions();
});

function toggleResidencyQuestions() {
  isUSResident = $('#residency_survey_response_us_resident_true')[0].checked;
  if (isUSResident) {
    $('#question2').hide('fast');
    $('#question4').show('fast');
    $('#question5').show('fast');
  } else {
    $('#question2').show('fast');
    $('#question4').hide('fast');
    $('#question5').hide('fast');
  }
};
<% end -%>

<p class="question" id="question1">
  <%= f.label :us_resident, "1.) Are you a resident of the United States?" %>
  <br/>

  <%= f.radio_button(:us_resident, true) %>
  <label for="residency_survey_response_us_resident_true">Yes</label>
  <br/>

  <%= f.radio_button(:us_resident, false) %>
  <label for="residency_survey_response_us_resident_false">No</label>
</p>

<p class="question" id="question2">
  <%= f.label :country, '2.) In what country do you reside?' %><br/>
  <%= f.text_field :country %>
</p>

<p class="question" id="question4">
  <%= f.label :zip, "2.) What is your 5-digit ZIP code?" %><br/>
  <%= f.text_field :zip %>
</p>

<p class="question" id="question5">
  <%= f.label :can_travel_to_boston, "3.) The Personal Genome Project may request that you travel to a medical center in Boston as a part of the enrollment process. The possibility exists that during the visit to the medical center, either you or the study staff will decide against your enrollment in the project. Travel to Boston may be expensive, depending on the distance from your home. Are you able to travel to a medical center in Boston at your own expense?" %><br/>

  <%= f.radio_button(:can_travel_to_boston, true) %>
  <label for="residency_survey_response_can_travel_to_boston_true">Yes</label>

  <br/>
  <%= f.radio_button(:can_travel_to_boston, false) %>
  <label for="residency_survey_response_can_travel_to_boston_false">No</label>
</p>

<p><%= submit_tag 'Save' %></p>
<% end -%>

