<h2>Residency Survey</h2>

<% form_for @residency_survey_response, :url => screening_surveys_residency_path, :html => { :method => :put } do |f| -%>
<%= error_messages_for :residency_survey_response %>

<style type="text/css">
  form p label { vertical-align: middle; }
  form p input { vertical-align: middle; }
</style>

<%# Be accessible. %>
<% content_for :js do %>

$(document).ready(function () {
  $('form').clearForm();
  $('.nojs').hide();
  showQuestions([1]);

  var radioEvent = $.browser.msie ? "click" : "change";

  var states = {
    'us_resident'                            : [[1,4,5],   [1,2,3]],
    'contact_when_pgp_opens_outside_us'      : [[1,2,3],   [1,2,3]],
    'can_travel_to_boston'                   : [[1,4,5],   [1,4,5,6]],
    'contact_when_boston_travel_facilitated' : [[1,4,5,6], [1,4,5,6]]
  }

  $.each(states, function(slug, questionStates) {
    $('#residency_survey_response_' + slug +  '_true').bind(radioEvent, function() {
      showQuestions(questionStates[0]);
    });
    $('#residency_survey_response_' + slug + '_false').bind(radioEvent, function() {
      showQuestions(questionStates[1]);
    });
  });
});

function showQuestions(numbers) {
  $.each([1,2,3,4,5,6], function(index, number) {
    if ( numbers.indexOf(number) > -1 )
    {
      $("#question" + number).show();
    }
    else
    {
      $("#question" + number).hide();
    }
  });
}

<% end %>

<p id="question1">
  <strong class="nojs">1.)</strong>
  <%= f.label :us_resident, "Are you a resident of the United States?" %>
  <br/>

  <%= f.radio_button(:us_resident, true) %>
  <label for="residency_survey_response_us_resident_true">
    Yes <span class="nojs"> - If so, skip directly to question #4.</span>
  </label>

  <br/>

  <%= f.radio_button(:us_resident, false) %>
  <label for="residency_survey_response_us_resident_false">No</label>
</p>

<p id="question2">
  <strong class="nojs">2.)</strong>
  <%= f.label :country, 'What country do you reside?' %><br/>
  <%= f.text_field :country %>
</p>

<p id="question3">
  <strong class="nojs">3.)</strong>
  <%= f.label :contact_when_pgp_opens_outside_us, "The Personal Genome Project currently has approval to enroll individuals who reside in the United States only. Would you like to be contacted when the Personal Genome Project opens enrollment to individuals living outside the United States?" %>
  <br/>

  <%= f.radio_button(:contact_when_pgp_opens_outside_us, true) %>
  <label for="residency_survey_response_contact_when_pgp_opens_outside_us_true">
    Yes <span class="nojs"> - Skip to the end of the survey.</span>
  </label>
  <br/>
  <%= f.radio_button(:contact_when_pgp_opens_outside_us, false) %>
  <label for="residency_survey_response_contact_when_pgp_opens_outside_us_false">
    No <span class="nojs"> - Skip to the end of the survey.</span>
  </label>

  <br/>
</p>

<p id="question4">
  <strong class="nojs">4.)</strong>
  <%= f.label :zip, "What is your ZIP code?" %><br/>
  <%= f.text_field :zip %>
</p>

<p id="question5">
  <strong class="nojs">5.)</strong>
  <%= f.label :can_travel_to_boston, "The Personal Genome Project currently requires all participants to travel to Boston as part of the enrollment process. The possibility exists that during the visit to the medical center, either you or the study staff will decide against your enrollment in the project. Travel to Boston may be expensive, depending on the distance from your home. Are you able to travel to a medical center in Boston at your own expense?" %><br/>

  <%= f.radio_button(:can_travel_to_boston, true) %>
  <label for="residency_survey_response_can_travel_to_boston_true">
    Yes <span class="nojs"> - If so, skip to the end of the survey.</span>
  </label>

  <br/>
  <%= f.radio_button(:can_travel_to_boston, false) %>
  <label for="residency_survey_response_can_travel_to_boston_false">
    No <span class="nojs"> - If so, proceed to the next question.</span>
  </label>
</p>

<p id="question6">
  <strong class="nojs">6.)</strong>
  <%= f.label :contact_when_boston_travel_facilitated, "Would you like to be contacted when the Personal Genome Project can facilitate the enrollment of individuals who cannot travel to Boston?" %><br/>

  <%= f.radio_button(:contact_when_boston_travel_facilitated, true) %>
  <label for="residency_survey_response_contact_when_boston_travel_facilitated_true">Yes</label>
  <br/>
  <%= f.radio_button(:contact_when_boston_travel_facilitated, false) %>
  <label for="residency_survey_response_contact_when_boston_travel_facilitated_false">No</label>
</p>

<p><%= submit_tag 'Save' %></p>
<% end -%>

