<h2>Safety Questionnaire Responses</h2>

<% if @safety_questionnaires != [] %>

<h3>Export</h3>
Download this list of safety questionnaire responses as <%= link_to 'CSV',
  admin_safety_questionnaires_url(:format => 'csv') %>

<p>
Download the responses to individual questions: <br/>
<%= link_to 'question 1 CSV', admin_safety_questionnaires_url(:format => 'csv', :question => '1') %> <br/>
<%= link_to 'question 2 CSV', admin_safety_questionnaires_url(:format => 'csv', :question => '2') %> <br/>
<%= link_to 'question 3 CSV', admin_safety_questionnaires_url(:format => 'csv', :question => '3') %> <br/>
<%= link_to 'question 4 CSV', admin_safety_questionnaires_url(:format => 'csv', :question => '4') %> <br/>

</p>


<h3>Responses</h3>
<table class="admin_table">
  <tr>
    <th>huID</th>
    <th>Submitted</th>
    <th>Changes reported</th>
  </tr>
  <% @safety_questionnaires.each do |sq| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= link_to sq.user.hex, admin_user_path(sq) %></td>
      <td><%= sq.datetime %></td>
      <td>
        <%= sq.has_changes ? 'yes' : 'no' -%>
      </td>
      <td><%= link_to 'View', safety_questionnaire_path(sq) %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @safety_questionnaires %>

<% else %>

No safety questionnaire results found.

<% end %>
