<div class="question">
  <p><strong>Question <%= @exam_question.ordinal %>:</strong> <%= @exam_question.question %></p>

  <%= form_tag answer_content_area_exam_exam_question_path(@content_area, @exam, @exam_question) do %>

    <% @answer_options.each_with_index do |answer_option, i| -%>
      <%= radio_button_tag :answer, answer_option.id, i.zero? %>
      <label for="answer_<%= answer_option.id%>">
        <%= answer_option.answer %>
      </label><br/>
    <% end -%>
    <%= submit_tag 'Next' %>
  <% end %>
</div>
