<h2>Reports</h2>

<h3>Request new report: </h3>

<table class="admin_table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <tr class="even">
    <td>Absolute Pitch Survey</td>
    <td><%= link_to 'Results (csv)', admin_reports_queue_url(:report_name => 'absolute_pitch', :report_type => 'csv') %></td>
    <td><%= link_to 'Question key (csv)', admin_reports_queue_url(:report_name => 'absolute_pitch_question_key', :report_type => 'csv') %></td>
  </tr>
  <tr class="odd">
    <td>Entrance Exam</td>
    <td><%= link_to 'Results (csv)', admin_reports_queue_url(:report_name => 'exam', :report_type => 'csv') %></td>
    <td><%= link_to 'Question key (csv)', admin_reports_queue_url(:report_name => 'exam_question_key', :report_type => 'csv') %></td>
  </tr>
  <tr class="even">
    <td>Enrollment</td>
    <td><%= link_to 'Report (csv)', admin_reports_queue_url(:report_name => 'enrollment', :report_type => 'csv') %><br /></td>
    <td></td>
  </tr>
  <tr class="odd">
    <td>International Users</td>
    <td><%= link_to 'Scoreboard (csv)', admin_reports_queue_url(:report_name => 'international_users_scoreboard', :report_type => 'csv') %><br /></td>
    <td><%= link_to 'List (csv)', admin_reports_queue_url(:report_name => 'international_users_list', :report_type => 'csv') %><br /></td>
  </tr>
  <tr class="even">
    <td>Participant samples</td>
    <td><%= link_to 'Report (csv)', admin_reports_queue_url(:report_name => 'samples', :report_type => 'csv') %><br /></td>
    <td></td>
  </tr>
</table>

<h3>Previously requested reports: </h3>

<%= render :partial => 'reportstable' %>
