<p>There <%= are_n_things(GoogleSurvey.where('is_listed').size +
	     TraitwiseSurvey.where('is_listed').size + 4,
	     'open survey') -%>.</p>

<ul>
  <% GoogleSurvey.where('is_listed').each do |google_survey| %>
  <li>
    <% Nonce.where(:owner_class => 'User', :owner_id => @user.id, :target_class => 'GoogleSurvey', :target_id => google_survey.id).each do |n| -%>
      <% if n.used_at -%>
        <%= image_tag('tick.png') %>
        <% break -%>
      <% end -%>
    <% end -%>
    <%= link_to google_survey.name, google_survey, :target => "_blank" %>
  </li>
  <% end %>
  <li><%= link_to "Absolute Pitch Survey", "/absolute_pitch_surveys" %></li>
  <li><%= link_to "Personal Health Records", "/phrccr" %></li>
  <li><%= link_to "Family Relationships", "/family_relations" %></li>
  <li><%= link_to_if @user, "Geographic Information", "/geographic_information/#{@user.id if @user}/edit" %></li>
  <% TraitwiseSurvey.where('is_listed').each do |traitwise_survey| %>
  <li><%= link_to traitwise_survey.name, traitwise_survey %></li>
  <% end %>
</ul>
