<p>There <%= are_n_things(GoogleSurvey.where('is_listed').size +
	     TraitwiseSurvey.where('is_listed').size + 4,
	     'open survey') -%>.</p>

<ul>
  <% GoogleSurvey.where('is_listed').each do |google_survey| %>
  <li><%= link_to google_survey.name, google_survey %></li>
  <% end %>
  <li><%= link_to "Absolute Pitch Survey", "/absolute_pitch_surveys" %></li>
  <li><%= link_to "Personal Health Records", "/phrccr" %></li>
  <li><%= link_to "Family Relationships", "/family_relations" %></li>
  <li><%= link_to "Geographic Information", "/geographic_information/#{@user.id}/edit" %></li>
  <% TraitwiseSurvey.where('is_listed').each do |traitwise_survey| %>
  <li><%= link_to traitwise_survey.name, traitwise_survey %></li>
  <% end %>
</ul>
