<h1>Editing exam definition</h1>

<% form_for [:admin, @content_area, @exam_definition] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @content_area, @exam_definition] %> |
<%= link_to 'Back', admin_content_area_exam_definitions_path(@content_area) %>
