<p>
  There <%= are_n_things(Study.not_third_party.open_now.size, 'collection events') %> currently seeking participants.

  <% if @studies_pending.size > 0 %>
  <span class="highlight-nextstep">There
    <%= are_n_things(@studies_pending.size, 'collection event') %>
    waiting for you to indicate whether you are interested in participating.</span>&nbsp;
  <% end %>
</p>
<ul>
<% @studies_pending.each do |study| %>
<li><%= link_to_if @user, study.name, (@user ? user_edit_study_url(:id => @user.id, :study_id => study.id) : nil) %></li>
<% end %>
<li>Learn more about <%= link_to 'other current and past collection events', '/pages/collection_events' %></li>
<li><%= link_to 'Third party projects', third_party_index_url %></li>
</ul>
