<h2>Consent Form</h2>

<% form_for @informed_consent_response, :url => participation_consent_path do |f| %>
<table border="1" cellspacing="0" cellpadding="2">
  <tr>
    <td width="468" valign="top"><br />
      Protocol Title:<strong> Personal Genome Project</strong></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Principal Investigator: <strong>George   M. Church, Ph.D. </strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Site-Responsible   Investigator's Institution:<strong> Harvard Medical School </strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Co-Investigators &amp;   Study Staff: <strong>&nbsp;Joseph V. Thakuria, MD, MMSc</strong> </p></td>
  </tr>
  <tr>
    <td width="468" valign="top"><p>Description of Volunteer   Population:<br />
            <strong>We are seeking a diverse range of volunteers from as varied a set of genetic, social and
environmental backgrounds as possible. Volunteers must be willing to make their genetic
and other human trait information publicly available and be knowledgeable about
genetics, human subjects research and the benefits and risks of participation in a public genomics
research study of this nature.</strong> </p></td>
  </tr>
</table>

<p><strong>What is Informed Consent?</strong><br />
Informed consent means you understand the procedures, risks, possible benefits, and alternatives
before you voluntarily agree to participate in a research study. Before you elect to participate,
you need to understand if or how this study may affect you and your family. This form, along
with other study documents available on the study website (<a href="http://www.personalgenomes.org/">http://www.personalgenomes.org</a>)
(the “website”), is intended to help you make an informed decision about your participation in
this study. The PGP website will be revised as needed, possibly on a frequent basis, and
participants and prospective participants should check the website regularly to obtain the most
current information about this study.
</p>
<p><strong>Why have you been asked to participate in this research study?</strong><br />
You have been invited to participate because you are an individual 21 years of age or older and
your performance on the entrance exam indicates that you are able to give informed consent for
this public and open-ended study. This study (the “Personal Genome Project,” the “PGP,” or the
“study”) is being conducted by researchers at Harvard Medical School specifically for citizens 
and permanent residents of the United States. International activities are coordinated by 
PersonalGenomes.org, an independent 501(c)(3) charitable organization that was created to support 
the PGP.
</p>

<p><strong>About this Informed Consent Document</strong><br />
This document is long, but we want you to read through it so that you understand what it will
mean for you to participate in the study. The table of contents that follows is designed to help
you more easily understand this consent form.
</p>

<strong><u>I. PURPOSE</u></strong><br/>
<strong><u>II. OVERVIEW</u></strong><br/>
<strong><u>III. DURATION OF THE STUDY AND YOUR PARTICIPATION</u></strong><br/>
<strong><u>IV. PRE-ENROLLMENT PROCEDURES</u></strong><br/>
<strong><u>V. ONGOING PARTICIPATION FOLLOWING ENROLLMENT</u></strong> <br/>
<strong><u>VI. RISKS AND DISCOMFORTS</u></strong><br/>
<strong><u>VII. BENEFITS</u></strong><br/>
<strong><u>VIII. INTELLECTUAL PROPERTY</u></strong><br/>
<strong><u>IX. CONFIDENTIALITY</u></strong><br/>
<strong><u>X. REFUSAL OR WITHDRAWAL OF PARTICIPATION</u></strong><br/>
<strong><u>XI. ALTERNATIVES</u></strong><br/>
<strong><u>XII. DONATIONS</u></strong><br/>
<strong><u>XIII. RESEARCH-RELATED CONTACT INFORMATION:</u></strong><br/>
 
<p><strong><u>I. PURPOSE</u></strong></p>
<p>
The Personal Genome Project is a new form of public genomics research. The main scientific
goal of this study is to find ways to connect human genetic information (e.g., human DNA
sequence, gene expression, associated microbial sequence data and other molecular traits) with
human trait information (e.g., medical information, tissue samples and physical traits) in a public
way so that such data may be used for research and other scientific, patient care and commercial
purposes worldwide. Additional goals include (1) exploring the opportunities, impacts and risks
of public genomics research such as the PGP; (2) developing a public dataset of information
from willing participants to aid in the development of analytical tools for scientists, clinicians
and individuals; and (3) educating participants and the general public about the potential
benefits, risks, and uncertainties posed by the widespread availability of genetic and related
information. The PGP also seeks to develop a model system for experts on health care,
molecular biology, genetic counseling, public health, law, education, and research to come
together and collaborate. We hope that the PGP’s proposed datasets will help to extend such
discussions to the creation of case studies and to find out what individuals, clinicians, and
researchers might want or not want in such datasets, and why.
</p>

<p><strong><u>II. OVERVIEW</u></strong></p>
<p>The PGP will collect tissue samples and personal and trait information from each participant. If
you choose to participate in the study, your genetic and trait information will be made available
through a publicly accessible website and database, according to the procedures described below.
</p>
<p>

If you decide to participate, you will receive certain research data from the
PGP (further described below). Any data or other information that you receive
due to your participation in the study, including DNA sequence data, is not
intended to replace in any way professional medical advice, diagnosis or
treatment. You may not use any information you receive from the PGP for any
medical or clinical purpose unless the relevant DNA sequence or other data,
including any preliminary research interpretations or findings are first
confirmed by a licensed healthcare professional.
</p>
<p>
We expect to enroll 100,000 participants in this study, although the pace at which we expand the
study to large numbers of enrollees is unknown.
</p>
<p>
Participation in this study is voluntary. You do not have to participate in the PGP. You may
withdraw from participating in this study at any time, as more fully described in this consent
form.
</p>
<p><strong><u>III. DURATION OF THE STUDY AND YOUR PARTICIPATION</u></strong></p>
<p>
        <u>3.1 Participation vs. Enrollment.</u> You will be considered a participant of the PGP
from the time that you sign this consent form and submit it to the PGP. Signing and submitting
this consent form does not guarantee your full enrollment in the PGP. Although signing the
consent form means that you are a participant in the PGP, your enrollment in the study is
contingent upon your completion of certain procedures requested by the PGP (described below),
the availability of resources, and any other concerns that the PGP may have and shares with you.
</p>
<p>
        <u>3.2 Length of Your Participation.</u> Your participation in this project will continue
indefinitely. However your participation is entirely voluntary, and you may refuse to continue
participating and withdraw from this study at any time. Unless you choose to withdraw your data as described below in
Article X, your study data may continue to be analyzed by the PGP and
included in the PGP dataset for the duration of the study.
</p>
<p>
        <u>3.3 Length of the Study.</u> The process of analyzing your study data may continue indefinitely, unless you choose to withdraw or are removed from the PGP. Cell lines and the
public version of your genetic, trait, and other data may be maintained continually (if Harvard
Medical School approves the continuation of the study), unless you request their removal in
writing as described below in Article X.
</p>
<p>
        <u>3.4 Revisions to this Informed Consent Agreement.</u> The PGP expects that, due to the
nature of this study, this informed consent document will be revised at periodic intervals, as
required by the Institutional Review Board. Once the Institutional Review Board has reviewed
and approved a revised informed consent agreement for this study, each participant in the study
will be asked to review the revised agreement. Participants who review and electronically sign
the revised agreement will continue their participation in the PGP without interruption.
Participants who are unable or refuse to review or to sign the revised informed consent
agreement will have their PGP participant accounts deactivated (as described in Section 10.5)
until such time as they have reviewed and signed the current version of the informed consent
agreement.
</p>

<p><strong><u>IV. PRE-ENROLLMENT PROCEDURES</u></strong></p>
<p><u>4.1 Naming Your Proxy.</u></p>
<p>
Before you enroll in the study you will be asked to name
one or more people (next of kin or other trusted individual) to be your proxy only for purposes of
this study (your “Designated Proxy”). In the event that you should die or become mentally
incapacitated during the course of your participation in the PGP, your Designated Proxy will
have the authority to decide to either (a) remove your cell lines and/or data from the study
(subject to the limitations on removal described in this consent form); (b) allow the PGP to
maintain your cell lines and/or data for continued research and use in accordance with this
consent form; or (c) authorize the PGP to obtain and add additional data, such as cause of death
and/or tissue samples obtained during an autopsy, to the study on your behalf. You are strongly
encouraged to discuss your wishes with your family and your Designated Proxy as part of your
enrollment in the PGP.
</p>

<p><u>4.2 Identity Verification</u></p>
<p>
        (a) <i>Identity Verification Process.</i> The PGP may ask you to provide your mailing
address (where any pre-enrollment and enrollment materials and/or specimen collection kits will
be sent) and may ask you to take steps to verify your identity, including by asking you to respond
to questions about your identity based on information available in public data records.
</p>

<p>
        (b) <i>Additional Verification Steps.</i> The PGP may attempt to verify your identity at
various times throughout the duration of the research study. If we are unable to verify your
identity, we may request that you send additional information to the PGP by mail, phone, fax,
and/or online. If we are still unable to verify your identity, you will be notified that (i) you must
visit a designated location, such as a medical center, for identity verification or (ii) your account
is deactivated until your identity is verified.
</p>

<p><u>4.3     Identical (Monozygotic) Twin.</u> If you have any living siblings who are your
identical (monozygotic) twin, such sibling(s) will also need to provide consent for your
participation in this research study before the PGP will consider you for enrollment.
</p>

<div class="consent-form-question"> <p>

<!-- , { :checked => (not params[:informed_consent_response]['twin'].nil? and not params[:informed_consent_response]['twin']['false'].nil? ? true : false) } -->
Do you have a living identical (monozygotic) twin?

<%= f.radio_button :twin, "1" %>
<label for="informed_consent_response_twin_true">Yes</label>
<%= f.radio_button :twin, "0" %>
<label for="informed_consent_response_twin_false">No</label>
<%= f.radio_button :twin, "2" %>
<label for="informed_consent_response_twin_unsure">Unsure</label>

</p>
 </div>


<p>
<u>4.4 Recontact.</u> Other than the Safety Questionnaires described below, you are under
no obligation to receive study notices or to participate in the study after providing the tissue
samples and/or the information described in Article V of this consent form. If you choose YES to
the question below, you may be contacted by the PGP at a future date and asked if you would
like to (i) voluntarily submit additional specimens and/or trait or other information or (ii)
participate in future research studies or other activities coordinated by the PGP. You may
change your choice on this option at any time by notifying the PGP in writing.
</p>
<div class="consent-form-question"> <p>
Willing to be recontacted?
<%= f.radio_button :recontact, "1" %>
<label for="informed_consent_response_recontact_true">Yes</label>

<%= f.radio_button :recontact, "0" %>
<label for="informed_consent_response_recontact_false">No</label>
</p> </div>

<p><u>4.5 Application for Enrollment.</u></p>

<p>
        (a) <i>Completion of Application.</i> After you complete the pre-enrollment activities, your
application for enrollment will be considered by the PGP.
</p>
<p>
        (b) <i>Notification of Enrollment Decision.</i> You will then be notified that you are either:
(i) enrolled; (ii) requested to provide additional information to complete your enrollment
application; (iii) waitlisted; or (iv) rejected.
</p>

<p><strong><u>V. ONGOING PARTICIPATION FOLLOWING ENROLLMENT</u></strong></p>

<p><u>5.1 Collection And Publication Of Baseline Trait Data</u></p>
<p>
        (a) <i>Trait Data.</i> You will be asked to collect baseline trait data about yourself,
including: date of birth, medications, allergies, vaccines, personal medical history,
race/ethnicity/ancestry, and vital signs (e.g. height, weight, blood pressure). The full list of
personal information may be found on the study website [<a href="http://www.personalgenomes.org/howitworks.html">http://www.personalgenomes.org/howitworks.html</a>]. 
Your trait data, along with any other
information that you voluntarily submit to the PGP, will be made available on the PGP’s public
website and database.
</p>
<p>
        (b) <i>How Trait Data are Collected.</i> You will submit your trait data through an
electronic health record platform and/or other online trait collection platforms that the PGP will
designate from time to time. Initially, collecting and submitting the baseline trait data will take
an estimated 1-3 hours, and you may elect or be requested by the PGP to update or to supplement
this data in the future. You will not be compensated for any lost time.
</p>
<p>
        (c) <i>Additional Information Constitute Trait Data.</i> 
Additional personal data (e.g.
existing DNA sequencing or genotyping data) and trait information may also be requested by the
PGP, such as a facial photograph, family medical history (e.g. data entered using tools such as
those provided by the US Surgeon General [<a href="http://hhs.gov/familyhistory">http://hhs.gov/familyhistory</a>] that aid in the
assessment of heritability of traits) or lifestyle traits. Any such information that you submit will
constitute trait data and will be made available on the PGP’s public website and database.
</p>
<p>
        (d) <i>No Obligation</i> As a participant in the PGP you are under no obligation to
provide any of your trait data to the PGP. However, you may not be able to participate in other
aspects of the study, including sample collection and DNA analysis, until you supply such trait
data for publication on the PGP’s public website and database.
</p>
<p>
        (e) <strong>If you choose to provide your trait data to the PGP, they will be made
available to the public through the PGP’s website and database, and combined with your
other data and tissues provided by the PGP or by you. There may be risks to you
associated with the publication of this information. Those risks are described in Section 6.1
of this consent form.</strong>
</p>

<p><u>5.2 Specimen Collection</u></p>

<p>
        (a) <i>How Collected Specimens Are Used.</i> Tissue samples and other specimens
submitted to the PGP will be used by the PGP for a range of research purposes, such as (i) the
study of biological characteristics, including DNA, RNA (gene expression), physical traits,
biochemical traits, and the presence and characteristics of micro-organisms and viruses in the
specimen; (ii) creation of cell lines, which are cells with the ability to divide for indefinite
periods and to give rise to specialized cells; and (iii) transformation into somatic cell-derived
stem cells (i.e., induced pluripotent stem cells or iPS cells). Any specimens you provide may be
analyzed or otherwise incorporated into the study. The results may be made publicly available
by the PGP via the public website and database and associated with your previously published
data.
</p>
<p>
        (b) <i>Self-administered Specimen Collection.</i> You may be sent materials pertaining to
at-home specimen collection. These may include a saliva collection kit, a hair collection kit, skin
swabs and/or other specimen collection kits that you may self-administer as directed by the PGP.
The PGP will provide specimen collection materials, including instructions and mailing
packages.
<div style="padding-left: 60px;">
<p>
                Description of Certain Specimen Collection Materials:
</p>
<p>
                (i)     The saliva sample collection kit may be self-administered and typically
        requires you to provide 2-4 milliliters of your saliva.
</p>
<p>
                (ii)    The hair sample collection kit may be self-administered and typically
        requires 1-5 hairs to be plucked from your body.
</p>
<p>
                (iii)   The skin swab kits may be self-administered and typically requires you to
        lightly rub a body site (e.g. palm of hand or forehead) with a cotton swab dipped in saline
        solution.
</p>
</div>
</p>

<p>
       (c) <i>Specimen Collection by a Trained Professional.</i> You may be invited to provide
additional tissues or other specimens as approved by the study and an Institutional Review
Board. For example, the PGP may offer you the ability to have a trained professional come to
your home or other convenient location or you may be asked to visit a designated medical center
or other specimen collection site. The PGP will provide you with additional information about
any such specimen collection opportunity. These samples will likely be collected through either
(i) a skin biopsy procedure and/or (ii) a blood draw. If you consent, these procedures will be
performed by trained professionals appointed by the PGP.
<div style="padding-left: 60px;">
<p>
                Description of Certain Specimen Sample Collection Procedures:
</p>
<p>
                 (i) A skin punch biopsy (about 3mm in diameter) is collected from the
underside of the upper arm or hip and requires local anesthesia. Anesthetic cream is
applied and covered with a bandage for 45-60 minutes then wiped off and alcohol
swabbed to sterilize. Then a 3-5mm skin biopsy is obtained. A bandage and antibiotic
ointment is applied.
</p>
<p> 
                (ii) A blood sample is collected from a vein in your arm and requires a
minimum of 5ml of blood.
</p>
<p>
                 (iii) The skin cells (i.e., fibroblasts) or blood that you provide may be used to
create a living tissue sample known as a cell line. Cell lines provide a renewable supply
of your cells and DNA. The PGP is unable to make any guarantees about the timeline or
likelihood of success of cell line creation.
</p>
</div>
<p>
        (d) <i>Other Specimen Collection.</i> Additional specimens, such as inner cheek swabs,
skin swabs, hair samples, saliva samples, urine samples and/or fecal samples, may be requested
by the PGP and submitted by you on a voluntary basis.
</p>
<p>
        (e) <i>No Obligation.</i> As a participant in the Personal Genome Project you are under no
obligation to submit any tissue or other specimen samples to the study as described above.
However, you may not be able to participate in certain aspects of the study (e.g., cell line
creation, DNA or other biological analysis) until you have submitted specimens.
</p>

<p>
        (f) <i>In Person Interview.</i> As part of or separately from any specimen collection
procedure, you may also be asked to consult with a member of the PGP staff either in-person or
remotely to confirm that you are familiar with the study protocols, including this consent form,
and to review and confirm your identity and the accuracy of your supplied data. The length of
the interview may vary, although the PGP expects that most interviews will take approximately 1
hour or less (excluding wait or travel time).
</p>

<p>
        (g) <i>Costs Incurred Are Not Reimbursed.</i> The PGP will not reimburse you for any
costs you may incur in conjunction with your enrollment or participation in this study, including
any costs associated with specimen or data collection or submission, the PGP consultation or any
other aspect of enrollment or participation. Costs that you might incur due to specimen or data
collection or submission or due to other aspects of enrollment and participation in the PGP
include, but are not limited to, (i) costs (tolls, gas, airfare, food, etc.) associated with travel to or
from a specimen collection or other study site, such as a medical center (ii) the loss of personal
time and (iii) costs associated with your health or medical care (for more please see Section
6.3(d) of this consent form). You will not be paid or reimbursed for these or for any other costs
associated with your enrollment or participation in this study.
</p>

<p><u>5.3 Specimen Analysis</u></p>

<p>
       (a) <u>How Analysis is performed.</u> Analysis will be performed by the PGP on the
specimens you provide and/or the cell lines and/or data created from such samples. PGP will
determine the kinds of research and analysis to be conducted, such as DNA sequencing, the
study of biological characteristics, including DNA, RNA (gene expression), physical traits,
biochemical traits, and the presence and characteristics of micro-organisms and viruses in the
specimens.
</p>
<p>
       (b) <u>No Guarantees.</u> The PGP cannot make any guarantees about the accuracy or
completeness of any such analysis or research or the processing time for any of these activities.
</p>



<p><u>5.4 Return and Publication of Specimen Analysis</u></p>

<p>
       (a) <i>Receipt of Your Specimen Analysis Data.</i> Once the PGP has completed the
analysis of your specimen(s), the PGP will make the data available to you via a password
protected area on the PGP website. This information is for research purposes only. You may not
use this data for any medical or clinical purpose unless the data are first confirmed by a licensed
healthcare professional. You can find examples of data similar to what you may receive as an
enrollee on the study website.
</p>
<p>
       (b) <i>Publication of Specimen Analysis Data.</i> One month after you are notified of your
specimen analysis data, or at your option immediately, these will be made available on the PGP’s
public website and database, and these data will be associated with your trait data along with any
other data supplied by you or the PGP. During this one-month period you may choose to
withdraw from the study and your unpublished specimen analysis data will not be made public.
</p>
<p>
       (c) <i>Updating Specimen Analysis Data.</i> The PGP may re-process and supplement
your specimen analysis data from time to time as new data, information or techniques become
available. The PGP may publish your re-processed and/or supplemented specimen analysis data
directly to the PGP’s public website and database without further notification to you.
</p>
<p>
       (d) <strong>By signing this consent form, you authorize the PGP to publish your
specimen analysis data and other personal information you have submitted to the PGP.
This means that the PGP may publish this data and information without legal restriction
and without your being asked to provide any additional consent. The PGP will publish the
data and information on a publicly accessible website and database. It may also publish
the data and information in other formats and/or media. Your ability to withdraw your
consent once the PGP has published all or some of this data and information is limited, and
is described in Article X of this consent form. There may be risks to you associated with
the publication of this data and information. Those risks are described in Article X of this
consent form.</strong>
</p>

<p>
<u>5.5 Reports Interpreting Genetic,</u> Environmental and/or Trait Data. As part of our
ongoing efforts at improving our understanding of how genomes combine with personal history,
environmental factors and other biological features to produce traits, the PGP will publish reports
that attempt to interpret genetic, environmental and trait data. These reports may contain, for
example, a non-comprehensive list of genetic variants present in your DNA sequence data, as
well as additional information, resources or interpretation that the PGP may decide to provide.
In preparing these reports, the PGP may review your DNA sequence data in combination with
the trait data and other information that you have submitted to the PGP and in light of other
publicly available data.
</p>
<p>
(a) Any PGP-generated reports are generated for research purposes only. The PGP
cannot guarantee that these reports are either accurate or complete. The databases, knowledge
and tools used to generate these reports are not comprehensive and may change rapidly over
time. In addition, interpretation of genetic variants and other data is subject to human error
and/or may be out-of-date.
</p>
<p>
(b) PGP-generated reports are never intended to substitute in any way for
professional medical advice, diagnosis or treatment. You may not use any PGP-generated report
or any other PGP-supplied data or results for any medical or clinical purpose until you have
confirmed the relevant sequence, data, interpretations and/or findings with a licensed healthcare
professional.
</p>
<p>
(c) Examples of other reports similar to what you may receive as an enrollee are
available on the study website.
</p>
<p>
(d) PGP-generated reports will also be considered public and may be published to the
PGP’s publicly accessible website and database without your prior notification or consent.
</p>

<p><u>5.6 Creation, Distribution and Analysis of Cell Lines.</u></p>
<p>
(a) <i>How Your Tissue Samples Are Used.</i> Tissue samples submitted to the PGP will
be used by the PGP for a range of research purposes, including (i) creation of cell lines;
(ii) transformation into somatic cell-derived stem cells (i.e., induced pluripotent stem cells or iPS
cells, which are cells with the ability to divide for indefinite periods and to give rise to
specialized cells); and (iii) the study of biological characteristics, including DNA, RNA (gene
expression), physical traits, and the presence and characteristics of micro-organisms and viruses
in the specimens.
</p>
<p>
(b) <i>Creation of Cell Lines From Your Tissues.</i> If you consent to participate in this
study and are enrolled, the PGP may create or attempt to create cell lines from your tissue
samples. Any cells derived from such tissue samples will be stored and maintained by the PGP,
Coriell National Institute of General Medical Sciences (NIGMS) biorepository and/or other
biorepositories chosen by the PGP and approved by Harvard Medical School, unless you request
that the cells be destroyed as part of your withdrawal from this study. A biorepository is a cell
culture and storage facility where your cells will be expanded in number using cell culture,
stored in liquid nitrogen and shipped to authorized researchers. The PGP will not create or
attempt to create new cell lines for any individual who has withdrawn from the study.
</p>
<p>
(c) <i>No Guarantees.</i> The PGP cannot make any guarantees about how long it will
take to create a cell line from your tissues, or if it will even be possible to make such a cell line.
</p>
<p>
(d) <i>Distribution of Cell Lines.</i> Cell lines provide a renewable supply of your cells
and DNA. Cell lines will be sent to and stored by the Coriell NIGMS repository and/or other
biorepositories the PGP chooses consistent with the PGP’s research goals. The PGP will select
biorepositories to store and distribute your cells lines that have agreed to follow applicable and
appropriate best practices for donation, procurement, culture, and storage of cells and tissues to
ensure, in particular, the traceability of stem cells. The use of these repositories will be approved
by Harvard Medical School.
</p>
<p>
(e) <i>Use of Cell Lines.</i> Cell lines may be made available by the PGP to third parties
under agreements approved and entered into by the PGP without your additional notification or
consent. These agreements may permit your cell lines to be used for research, patient care,
commercial or other purposes, including genetic modification of the cells or mixing of human
and nonhuman cells in animal models. Neither you nor the PGP will be able to restrict or specify
the type of research or other purposes for which your cell lines will or will not be used. Other
than for purposes of cost recovery, the PGP will not license participant cell lines to any third
party for the financial gain or commercial profit of the PGP.
</p>

<p>
(f) <i>Return of Analyses Performed on Cell Lines.</i>
<div style="padding-left: 60px;">
<p>
(i) Generally, the PGP will not provide you with the results of any analysis,
development or other work performed by third parties with access to your tissues or cell
lines. However, because such results may be made publicly available, and may be
identified as deriving from your tissues or cell lines, you may become aware, even
without your consent, of the results of such activities.
The PGP may decide to return to you certain results deriving from your
</p>
<p>
(ii)
tissues or cell lines and/or to publish such results on its publicly accessible website and
database. The PGP is not obligated to return any such results to you.
</p>
</div>
<p>
(g) <strong>By signing this consent form, you authorize the PGP to distribute to others,
in a manner consistent with the conditions described above, the cell lines created from your
tissues without further notice to you and without the PGP obtaining any additional consent
from you. Your ability to withdraw from the portion of this study that involves the
distribution of your cell lines is limited once your cells lines have been created and
distributed, and is described in Article X of this consent form. There may be risks to you
associated with the creation and distribution of your cell lines. Those risks are described in
Article VI of this consent form.</strong>
</p>

<p>
       <u>5.7 Safety Questionnaires.</u>
</p>
<p>
       (a) <i>Contents of the Safety Questionnaire.</i> Every 3 months the PGP will circulate a
questionnaire (the “Safety Questionnaire”) to all participants and request that each participant
answer the following questions:
</p>
<div style="padding-left: 60px;">
<p>
        (i)     What negative and/or positive events have happened to you and/or your
relatives or acquaintances due to your participation in the PGP?
</p>
<p>
(ii)
What are the reactions or responses of your relatives and acquaintances to
the publication of your genetic, trait and other data?
</p>
<p>
(iii) Please report incidents of being contacted by acquaintances or by strangers
(including researchers, health care providers or members of the media) regarding your
data being published online.
</p>
<p>
(iv)
In what ways has this study positively or negatively influenced your
interactions with your medical care providers or your receipt of or access to health care
services?
</p>
<p>
(v)
Has your involvement in this study triggered the need for any health or
medical care that would not otherwise have been done? If you answer “yes,” please
describe the specific medical intervention or care you received and the findings or
consequences of the medical intervention or care you received with regard to your health.
Health or medical care that would have been performed had you not participated in this
study, whether due to symptoms, a personal or family medical history, routine screening
or any other reason, should not be included.
</p>
</div>
<p>
        (b) <i>Prompt Return Required.</i> You are required to return the completed Safety
Questionnaire or submit a “no change” reply to the PGP within 1 month of receipt. You must
return at least three Safety Questionnaire in any 12-month period or your PGP participant
account will be deactivated (as described in Article X) and you will not be able to access or to
update your account until you have resumed answering and returning the Safety Questionnaires.
</p>
<p>
        (c) <i>Reporting of Unexpected Events.</i> You are requested to immediately report to the
PGP any unexpected events that you may experience as a participant in the study
</p>
<p>
        (d) <i>Periodic Reflection.</i> At 5 year intervals, and at the end of your participation in the
study, you will be requested to write your thoughts about the PGP overall, including whether this
consent form adequately described the procedures and risks associated with your participation.
</p>
<p>
        (e) <i>Changes to the Questionnaire.</i> The Safety Questionnaire, including the substance
and number of questions and the frequency of circulation to enrollees, may be modified by the
PGP from time to time.
</p>

<p><strong><u>VI. RISKS AND DISCOMFORTS</u></strong></p>
<p>
The Personal Genome Project is a new form of public genomics research and, as a result, it is
impossible to accurately predict all of the possible risks and discomforts that you might
experience as a result of your participation in this study. In this section you will read about the
risks that we have identified as potentially relevant to your participation in the PGP.
</p>
<p>
You are strongly encouraged to think carefully about these risks, as well as any other risks or
discomforts that you anticipate might arise as a result of your own unique circumstances. These
might include your own health or medical conditions, your family and personal relationships or
any other factor that is specific to you. In addition to understanding the risks outlined in this
Article VI, you should feel confident that you have sufficient knowledge (via the educational and
testing materials available on the PGP website or through other sources) of genetics, human
subjects research and the benefits and risks of participation in this study to make an informed
decision about whether participation is right for you.
</p>
<p>
You are strongly encouraged to discuss this study and its potential risks with your immediate
family members as well as with your doctor and/or other qualified health care providers. You
are also encouraged to discuss with the Principal Investigator directly any additional concerns
that you may have regarding the risks to you of participating in this study.
</p>
<p>
Finally, because the science in this area is evolving, and data will be collected on an ongoing
basis by the PGP, the risks involved due to your participation in this study, as well as the
likelihood and severity of such risks, will change over time. You will not be asked to review and
re-sign this consent form every time new information related to the risk of participation becomes
available. However, the PGP will try to update this consent form and the study website as
frequently as possible to reflect the latest information about the risks of participation.
Participants and prospective participants are strongly encouraged to check the website regularly
and to update their contact information with the PGP in order to obtain the most current
information regarding the risks and discomforts of participation.
</p>
<p>
<strong>Please remember that you are free not to participate if you have not already enrolled, and
to withdraw at any time if you have already enrolled in the study.</strong>
</p>

<p> <u>6.1 Risks Associated with the Publication of Your Data.</u>  </p>
<p>
       (a) <i>Risks Associated with Public Disclosure.</i> The risks of public disclosure of your
genetic and trait data, including your DNA sequence data, or other information you provide,
could affect the employment, insurance and financial well-being or social interactions of you and
your immediate family. The following is a non-comprehensive list of hypothetical scenarios that
could pose risks for you and/or your family:
</p>
<div style="padding-left: 60px;">
<p>
              (i)     The public disclosure of your genetic and trait data could cause you to
learn – either directly, from a family member or from another individual – certain
unexpected genealogical features about you and/or your family. This could include
inferences or allegations that your relationships with family members or other
individuals, or your ancestral or cultural origins, are different than you had previously
believed. In particular, this could include inferences of non-paternity, as well as
inferences or allegations of paternity made by individuals you did not previously know or
suspect were related to you.
</p>
<p>
              (ii) Anyone with sufficient knowledge and resources could take your DNA
sequence data and/or posted trait information and use that data, with or without changes,
to:
</p>
</div>
<div style="padding-left: 120px;">
<p>
(A) accurately or inaccurately reveal to you or a member of your
family the possibility of a disease or other trait or propensity for a disease or other
trait;
</p>
<p>
(B) claim statistical evidence, including with respect to your genetic
predisposition to certain diseases or other traits, that could affect the ability of you
and/or your family to obtain or maintain employment, insurance or financial
services;
</p>
<p>
(C) claim relatedness to criminals or other notorious figures or groups
on the part of you and/or your family;
</p>
<p>
(D) correctly or incorrectly associate you and/or your relatives with
ongoing or unsolved criminal investigations on the basis of your publicly
available genetic data; or
</p>
<p>
(E) make synthetic DNA and plant it at a crime scene, or otherwise use
it to falsely identify or implicate you and/or your family.
</p>

</div>
<div style="padding-left: 60px;">
<p>
              (iii) Whether or not it is lawful to do so, you could be subject to actual or
attempted employment, insurance, financial, or other forms of discrimination or negative
treatment due to the public disclosure of your genetic and trait information by the PGP or
by a third party. Although the United States has a law that bars certain forms of genetic
discrimination (the Genetic Information Nondiscrimination Act, also known as GINA),
this law does not apply to the use of genetic information in all circumstances and, even
where it does apply, it does not guarantee that your genetic information will not be used
against you in a way that you feel is discriminatory or otherwise harmful to you and/or
your family.
</p>
<p>
                (iv) If you have previously made available or intend to make available genetic
or other medical or trait information in a confidential setting, for example in another
research study, the data that you provide to the PGP may be used, on its own or in
combination with your previously shared data, to identify you as a participant in
otherwise private and/or confidential research. This means that any data or other
information you may have shared pursuant to a promise of confidentiality or privacy may
become public despite your intent that they be kept private and confidential. This could
result in certain adverse effects for you, including ones not considered or anticipated by
this consent form.
</p>
<p>
                (v) Data that you provide (such as facial images, other trait data or DNA
sequence or other genetic data) may be used to identify you, resulting in contact from the
press and other members of the public motivated by positive or negative feelings about
the study. This could mean a significant loss of privacy and personal time.
</p>
<p>
                (vi) Your publicly available DNA sequence data, trait data and other
information will include certain information that applies to your family members. Some
people may draw conclusions from your publicly available information, including
speculating about what such information might reveal about you and your family
members. As a result, the PGP cannot predict all of the risks, or the severity of the risks,
that the public availability of this information may pose to you and your relatives. You
are strongly encouraged to discuss this study and its potential risks, including the fact that
not all of the risks are known, with your immediate family members.

</p>
</div>
<p>
        (b) <i>Possibility of Unintended Public Disclosure.</i> If you enroll in the PGP research
study, it is possible that data not intended to be published (e.g., your name, answers to safety
questionnaires, communication with the project staff, specimen analysis data during the one-
month period prior to publication) will be publicly disclosed due to unintended data breaches,
including hacking or other activities outside of the procedures authorized by the PGP. Should
this occur you would be subject to the various risks and discomforts described in this section and
throughout this consent form, and possibly to other risks as well, even though you did not intend
for such data to be published.
</p>
<p>
        (c) <i>Reproduction or Modification of your Data.</i> If you choose to make your DNA
sequence data and other information available, it will be published on the PGP’s publicly
accessible website and database and be available without restriction to third parties. As a result,
neither you nor the PGP will be able to control or restrict the access, use, reproduction,
modification or analysis of your data and other public information. Your data and other public
information may be made public in other forms in addition to its inclusion in the PGP database.
It may also be changed, without either your or the PGP’s consent, in a way that might be
inaccurate and or upsetting to you. For example, a third party could access your publicly
available sequence data or other information, change it and republish it to suggest that you had a
propensity for a disease or other detrimental trait. Additional adverse effects are also possible.
</p>
<p> <u>6.2 Risks Associated with the Creation of Cell Lines From Your Tissues.</u></p>
<p>
         (a) <i>Undesirable Uses or Research - Possibility of Use for Cloning.</i> The distribution
of your cell lines could result in the creation and further distribution by a third party of additional
cell lines, organs or tissues containing your DNA for research, commercial, patient care, or other
uses, including certain forms of assisted reproduction. You may dislike or be upset by some of
these uses. If scientific technology continues to evolve, it may one day be possible for a third
party to use, without your or the PGP’s authorization, cell lines or biological materials derived
from your cell lines for new or unexpected reproductive or other purposes, including cloning.
You may be made aware, without your consent, of the results of such research, commercial,
patient care or other uses, whether or not authorized, of your cell lines.
</p>
<p>
         (b) <i>Inability to Control Access to Cell Lines.</i> Although cell lines deposited in and
distributed by the Coriell NIGMS repository and/or other biorepositories designated by the PGP,
or by the PGP itself, will generally be made available to researchers or groups subject to their
own institutional review processes, it is impossible to guarantee that all cell line recipients will
refrain from sharing materials with, and will protect such materials from access by, unauthorized
individuals. As a result, the PGP cannot provide any guarantees about the people who may
receive access to your cell lines, or the research or other uses of your cell lines by such
individuals.
</p>
<p>
         (c) <i>Pluripotent Stem Cells – Potential Use for Cloning and Other Research Purposes.</i>
The PGP may use the cells taken from the materials you provide to create a type of cell known as
a pluripotent cell. This type of cell can be used to create different types of tissues. Your cells
might be used in research involving genetic alteration of the cells. Your cells might be mixed
with other human cells, mixed with animal cells or grown in lab animals like mice. Your cells
might also be used to reproduce tissue and cells, including for the purpose of human cloning.
</p>
<p> <u>6.3 Risks Associated with Your Receipt of Data From the PGP.</u></p>
<p>
         (a) <i>Data Quality Not Guaranteed.</i>
The PGP cannot guarantee that any research data,
specimen analysis data (including your DNA sequence data) or any other reports, interpretations
or findings generated or provided to you by the PGP are complete or correct. For example, DNA
sequence data generated from analysis of your cell lines may include genetic changes that occur
during the cell line creation process rather than being representative of your germline DNA.
Analysis of that DNA sequence data is, in turn, imprecise and reliant on the use of rapidly
changing databases, knowledge and tools which are likely to result in incomplete and/or
inaccurate interpretations of your data. For these and numerous other reasons, the research data
and other analyses generated by the PGP are likely to be incomplete and incorrect in important
respects.
</p>
<p>
         (b) <i>Data Not to be Used for Medical Care.</i> 

The data provided to you by the PGP, including research data, specimen analysis
data (including your DNA sequence data) or any other reports, interpretations
or findings generated or provided to you by the PGP, are not an appropriate
substitute for professional medical or clinical advice, diagnosis or treatment,
and may not be used by you for any medical or clinical purpose unless first
confirmed by a licensed healthcare professional.
</p>
<div style="padding-left: 60px;">
<p>
(i) Medical doctors do not routinely screen DNA sequence data for genetic
variations comprehensively. Gene-specific sequencing is routinely performed but usually
in the context of a positive personal or family medical history consistent with currently
known genetic disorders. As such, the clinical importance of this data is not known with
any certainty at this time for any population-based, genomic study like the PGP. The
validity of many genetic associations, when screened for in the general population,
remains uncertain.
</p>
<p>
(ii) Regardless of any specific interpretations or findings made available to
you by the PGP, you are likely to be subjected to additional interpretations - both
accurate and inaccurate - of your public data by people outside of the study.
</p>
</div>
<p>
        (c) <i>Risks Due to Pursuing Health or Medical Care.</i> 
Your specimen analysis data
(including your DNA sequence data) and interpretations or findings about your data may contain
potentially alarming information, such as potentially harmful genetic variants. This may cause
you to experience anxiety or stress. As a result, you may want to seek health or medical care or
counseling to verify the accuracy of such interpretations, whether provided by the PGP or by
other sources. If you choose to pursue health or medical care or counseling, you could be
exposed to additional risks and/or discomforts, several of which are identified below.
</p>
<p>
        (d) <i>The PGP Does Not Provide and Is Not Responsible For Your Health or Medical Care.</i>
The PGP will not (i) provide you with, (ii) arrange for, (iii) pay for, reimburse you for or
otherwise subsidize or (iv) provide you, your doctor or any other health care provider or insurer
with any recommendations, advice or other guidance with respect to, any of your health or
medical care, including any current or follow-up medical or clinical advice, counseling,
diagnosis, treatment, preventative action or other related course of action of any kind.
</p>
<div style="padding-left: 60px;">
<p>
(i) The PGP is a research study and is not responsible for any part of your
health or medical care, including, accurately predicting disease or disease risk, informing
you of genetic variations or providing you with accurate and valid DNA sequence data or
interpretations of your DNA sequence data. No health or medical care of any kind will
be made available by the PGP and, as described above, no special arrangements, for
compensation or otherwise, will be made by the PGP should you require or choose to
pursue any health or medical care as a result of your participation in the PGP.
</p>
<p>
(ii)
You should talk to your doctor or other qualified health care provider if
you have questions about any of your genetic or trait information, including your
specimen analysis data (including DNA sequence data) or any other interpretations or
findings based on your data, whether or not provided by the PGP. You should not ignore
professional medical advice from your doctor or any other qualified health care provider
about any of your genetic or trait data or other information provided or analyzed by the
PGP. You should not interpret any analysis, interpretation or finding provided by the
PGP as recommending or discouraging any specific treatment plan, product, or course of
action with respect to your health or medical care.
</p>
<p>
(iii) If after talking with your doctor or other qualified health care provider,
you decide that any change in your health or medical care is necessary or advisable as a
result of any information or interpretation you have received due to your participation in
the PGP, you will be solely responsible for all resulting payments and costs associated
with such health or medical care. You will also be solely responsible for consulting with
your doctor, your health care provider and your health care insurance provider, if any, to
determine whether any such costs would be covered or reimbursed.
</p>
<p>
(iv)
Any health or medical care that you may determine is necessary, after
consultation with your doctor or other qualified health care provider and whether as a
result of your participation in this study or otherwise, may be invasive and have its own
associated risks and expenses. Serious risks, including death, may be involved in any
such health or medical care. You should carefully consider these risks, as well as
whether you have the financial and other resources necessary to pursue such health or
medical care.
</p>
<p>
(v)
If your doctor or other qualified health care provider is directly or
indirectly involved with the PGP, as either a researcher or a participant, any health or
medical care that you receive from such health care provider, including medical advice or
clinical management, represents health or medical care provided by that provider
pursuant to your existing doctor-patient relationship, and is not health or medical care
provided by the PGP.
</p>
</div>

<p><u>6.4 Physical Risks and Discomforts.</u></p>
<p>
        (a)      There are no known or foreseeable risks or side effects associated with obtaining
saliva, hair, inner cheek swab, skin swab, urine, or fecal samples. The blood draw and skin
biopsy may involve pain, bleeding and/or fainting, and may also cause temporary bruising and/or
infection at the site of puncture. Some degree of permanent scarring can be expected from the
skin biopsy procedure as described in Article V.
</p>
<p>
        (b)      If you are physically injured as a result or your participation in this study, please
seek medical care immediately and contact the Principal Investigator. The PGP will not provide
any health or medical care to participants.
</p>
<p> <u>6.5 Data Safety Monitoring Board.</u> A Data Safety Monitoring Board (DSMB) will
monitor the progress of the PGP, including the risks to study participants. Although the PGP
will attempt to inform you of additional risks identified by the DSMB, including through updates
to the study website, the DSMB will not be able to monitor all of the risks of participation in this
study, and it may not be able to advise you or the PGP of those risks that it monitors or identifies.
</p>

<p><strong><u>VII. BENEFITS</u></strong></p>
<p>
        <u>7.1 No Benefits to You.</u> You are not likely to benefit in any way as a result of your
participation in the PGP.
</p>

<p><strong><u>VIII. INTELLECTUAL PROPERTY</u></strong></p>

<p>
        <u>8.1 Promoting Open Access.</u>
One of the primary goals of the PGP is to develop a
public dataset supplied by willing participants to aid in the development of analytical tools and
interfaces for scientists, doctors, and individuals around the world. In order to accomplish this,
the PGP will endeavor to develop licenses, data structures and other tools to maximize the ability
of the study to share its data in the broadest possible fashion.
</p>
<p>
        <u>8.2 Ownership of Your Information and Data.</u>
The PGP will not attempt to assert
ownership of any information or data that you provide directly to the PGP as part of your
participation in the study. However, by participating in the study you grant to the PGP a
nonexclusive, worldwide, royalty free, perpetual, irrevocable license to use such information and
data without restriction including, without limitation, the right to sublicense, copy, distribute,
transmit, publicly display and perform, publish, reproduce, edit, translate, reformat and create
derivative works. This grant of rights is subject only to your ability to withdraw from the study,
as described in Article X of this consent form.
</p>
<p>
<u>8.3 Ownership of your Tissues and PGP Information and Data.</u>
Any tissue samples or
specimens that you provide to the PGP as part of your participation in this study, including
saliva, hair, blood or other biological tissues, are the property of and are owned by the PGP and
not by you. Any information, data, analyses or other materials created or prepared by the PGP
from such tissue samples or specimens, including, without limitation, your DNA sequence data,
cell lines and the results of any research or analysis performed by or in collaboration with the
PGP, are the property of and owned by the PGP and not by you. However, consistent with the
goals of the PGP and this consent form, the PGP will attempt to make this information, data or
materials, including your DNA sequence data, cell lines and other related analyses and materials,
freely available to you and/or to the public as described in this consent form. Ultimately,
however, it will be the PGP’s decision – consistent with the requirements imposed by this
consent form, Harvard Medical School and applicable law – when and whether to make available
such information, data and materials. The PGP is unable to guarantee if, when or in what form
you will receive access to any information, data or materials as part of your participation in this
study.
</p>
<p>
        <u>8.4 No Licensing for Profit.</u>
Other than for purposes of recovering its costs, neither
the PGP nor PersonalGenomes.org will license or otherwise make available your tissue samples,
specimens, cell lines, DNA samples, DNA sequence data, and personal information to any
person, institution, company or other third party for the financial gain or commercial profit of the
PGP or PersonalGenomes.org. However, information and materials that you provide, including
DNA sequence data and cell lines derived from your tissue samples or specimens, may be made
available to third parties for research, patient care, commercial or other purposes, and these third
parties may commercially profit from the data or other information that you contribute to the
PGP.
</p>
<p>
        <u>8.5 No Compensation.</u> 
You will not be compensated for your participation in the
PGP. The results of studies using materials provided by you, such as your stem cells, may have
commercial potential. Neither you nor your heirs will receive financial or any other benefits
from any discoveries, whether or not of a commercial nature, made using the information and/or
specimens that you provide.
</p>

<p><strong><u>IX. CONFIDENTIALITY</u></strong></p>
<p>
        <u>9.1 No Confidentiality After Publication.</u> 
If you are enrolled in the PGP and choose
to publish any of your data to the PGP’s public website and database, that data will not be kept or
made available by the PGP in a confidential or anonymous fashion. The PGP will not require
any collaborators or other individuals accessing your information to keep the information in a
confidential or anonymous fashion. Unless you withdraw from the study before your data are
published, your genetic and trait data will be made available via a publicly accessible website
and database.
</p>
<p>
        <u>9.2 Association of Your Name With Your Data.</u>
The PGP will not intentionally
associate your name with your genomic or trait data or other information that is published to the
PGP’s public website and database or otherwise intentionally identify you as a participant in the
PGP without your prior consent. However, as described above, because of the identifiable nature
of the information you provide to the PGP, as well as the nature of the data and analyses
generated by the PGP, it is possible that one or more third parties may identify you as a
participant in the study. This may result in the association of your published data and other
information with your name or other information that you have not provided to the PGP and may
not have wished to be publicly disclosed.
</p>
<p>
        <u>9.3 Efforts to Preserve Confidentiality Prior to Publication.</u> 
Before your publication
of specimen analysis data, the PGP will use reasonable efforts to preserve the privacy and
confidentiality of such data, as well as other information you provide to the PGP in a private
manner (your name, answers to safety questionnaires and communication with project staff).
You should be aware that the public disclosure of this information may still happen due to
unintended data breaches, including hacking or other activities outside of the procedures
described in this consent form. For this reason the PGP cannot guarantee that information you
provide to the study, or that is generated about you by the study, will be maintained in a
confidential manner.
</p>
<p>
        <u>9.4 No Direct Disclosure to Your Health Care Provider.</u> 
Your genetic and trait data
will not be sent to your health care provider directly by the PGP and will not become part of your
medical record due to any activities of the PGP. However, because this information will be
publicly available, and may be identified as yours, it could become part of your medical record
or be shared with your doctor or other health care provider or your health care insurance
provider, or provided to others due to the activities of one or more third parties.
</p>
<p>
        <u>9.5 Replies to Safety Questionnaires.</u> 
Your replies to the Safety Questionnaires will
be confidential and accessed by PGP staff members on the IRB Roster. A complete list of PGP
staff members on the IRB Roster is available on our website: [<a href="http://www.personalgenomes.org/people.html">http://www.personalgenomes.org/people.html</a>].
 However, the DSMB or governmental agencies
may request or require this information in order to judge the risks to you and any other study
participants. The PGP will share your replies to the Safety Questionnaire with them to the extent
required or reasonably requested.
</p>
<p>
(a) <i>Publication of Responses.</i> Responses to the Safety Questionnaires that may
impact other PGP participants, or the public generally, will be paraphrased or will have all
information reasonably likely to identify you removed prior to making this information available
on the public website or elsewhere for purposes of public education or risk management. If you
would like your answers to be identified as yours, you may indicate that preference as part of
your response to the Safety Questionnaires. Although the PGP will take reasonable steps to
ensure that your responses to Safety Questionnaires, if published, are not identified as yours
without your consent, the PGP is unable to guarantee the anonymity of your responses.
</p>
<p>
(b) <i>Publication of Results.</i> The results of this study may be published in a medical
book, journal, website or webpage, or used for teaching purposes. Identifying information that is
associated with your data and/or the results of this study (such as your photograph, DNA
sequence data, and medical or trait information, as well as your name if that has become
associated with your study data by a third party during the course of your participation in the
PGP), may be used in such publications or teaching materials. The PGP will not notify you prior
to such uses.
</p>

<p><strong><u>X. REFUSAL OR WITHDRAWAL OF PARTICIPATION</u></strong></p>

<p>
        <u>10.1 Voluntary Participation.</u> 
Participation in this study is voluntary. You do not have
to participate in the PGP. You may withdraw your participation (including your data, subject to
the limitations below) from this study at any time. You will never have to provide a reason for
your withdrawal.
</p>
<p>
        <u>10.2 Limitations on Withdrawal.</u> 
You are free to decide at any time that you no longer
want your tissue samples, DNA sequence data, cell lines or other information to be used as part
of this study. However, it may not be possible to prevent the future use of your data, cell lines
and/or other information in certain circumstances:
</p>
<p>
        (a) <i>Deletion of Trait and Sequence Data.</i> 
If you choose to withdraw from the study
and request that your genetic and trait data to be removed, within 6 months the PGP will delete
all DNA sequence and trait data about you contained in the PGP’s publicly accessible website
and database. The PGP will take reasonable steps to ensure that your DNA sequence, trait and
other data are not included in any future updates to the PGP’s public website and database and
will also request any organizations or researchers with whom the PGP has any formal data
sharing agreements to likewise delete your data and information within a reasonable time frame.
However, once any data or information about you is posted to the PGP’s public website and/or
database, other organizations and individuals who have no formal data sharing agreement with
the PGP may acquire copies of it. There will be no way to ensure that they will delete their
copies of your data or information, or for the PGP to even know what copies of your data or
information may exist. The PGP will encourage researchers, including PGP researchers, to use
the most current version of the PGP database, but your data may be combined by the PGP and/or
its collaborators or third parties in ways that will make it impossible to delete them from such
datasets.
</p>
<p>
        (b) <i>Destruction of Tissue Samples and Cell Lines.</i> 
If you decide to withdraw from
participation and request that the PGP remove cell lines created from your tissues, the PGP will
take reasonable steps to destroy all tissue samples and cell lines held by the PGP and send a
notice to all biorepositories with which the PGP has formal agreements requesting that such
biorepositories destroy your cell lines. However, once tissue samples and/or cell lines have been
distributed, the ability to control their use by you, the PGP or the biorepository to which they
were distributed will be limited. Because your cell lines and/or tissue samples may have been
widely distributed, it may not be possible to retrieve and/or destroy all copies of your cell lines
and/or tissue samples.
</p>
<p>
        <u>10.3 Removal from the Study.</u> 
The PGP may decide to end your participation in this
study at any time. If the PGP terminates your participation it will provide you with an
explanation. If you are refused enrollment in the PGP, or your participation in the PGP is
terminated by the PGP, you may ask that the PGP destroy any of your tissue samples and/or cell
lines, and delete any of your data in accordance with the provisions set forth above. If neither
you nor your Designated Proxy request that your tissue samples and/or cell lines be destroyed
and your data be deleted upon your removal from the study, the PGP may elect, in its discretion,
to maintain your tissues, cell lines and/or data for use by the study consistent with this consent
form.
</p>
<p>
        <u>10.4 Failure to Complete Safety Questionnaires.</u> 
If you return fewer than one Safety
Questionnaires in any 12-month period your PGP participant account will be deactivated (as
described in Section 10.5) and you will not be able to access or to update your account until you
have resumed answer and returning the safety questionnaires.
</p>
<p>
        <u>10.5 Maintenance of Certain Information.</u> Unless you or your Designated Proxy
specifically request otherwise, if your participation in this study is ended for any reason,
including, without limitation, because (a) you choose to withdraw from the study, (b) you fail to
return Safety Questionnaires as required, (c) you choose not to execute a revised informed
consent agreement or (d) you are removed by the PGP, your PGP participant account will be
deactivated. This means that the PGP will maintain your tissues, cell lines, genetic data, trait
data and all other participant data and information associated with your account, but that you will
no longer be able to access or to update your account. Your account may be reactivated in
certain circumstances (e.g., if you resume answering Safety Questionnaires) as determined by the
PGP. You may also elect to instruct the PGP to remove some or all of your data, information
and tissues, subject to the limitations described in this Article X, by notifying the PGP in writing.
</p>
<p>
10.6 <u>Maintenance of Certain Information.</u> If you decide to withdraw, or if the PGP
ends your participation, the PGP may continue to keep certain limited information about you
following the conclusion of your participation in the PGP, including your name, date of first
participation, date of enrollment, date of termination or withdrawal and reason for termination or
withdrawal.
</p>

<p><strong><u>XI. ALTERNATIVES</u></strong></p>

<p>
       <u>11.1 Alternative.</u> The alternative is not to participate in the PGP.
</p>
<p>
       <u>11.2 No Effect.</u> If you choose not to participate, your medical treatment by your
doctor or other health care providers will not be affected.
</p>

<p><strong><u>XII. DONATIONS</u></strong></p>

<p>
       <u>12.1 Opportunity for Financial Donation.</u>
</p>
<p>
       (a) <i>The Possible Donation.</i> 
You may be invited to make a financial donation to the
PGP (a "Donation") in the event that you are invited to enroll in this study.
</p>
<p>
       (b) <i>No Obligation.</i> 
Participants will be enrolled whether or not a Donation is made
and without regard to the amount of any Donation. However, financial contributions are
encouraged and are important to the sustained success of the study. If you choose to make a
Donation it will be used to subsidize the cost of the PGP’s research and related activities.
</p>

<p><strong><u>XIII. RESEARCH-RELATED CONTACT INFORMATION:</u></strong></p>

<p>
        <u>13.1 Principal Investigator.</u> If you have any questions or concerns about the study, or
if you suffer a research related injury, you may contact the Principal Investigator: George
Church, PhD, at (617) 432-7562 or <a href="consent@personalgenomes.org">consent@personalgenomes.org</a>
</p>
<p>
        <u>13.2 Additional Contact Information.</u> If you wish to discuss your rights as a
participant in a research study, or if you feel under any pressure to enroll in this study you may
contact: Carolyn Connelly, PhD, the Director of the Office for Research Subject Protection at
Harvard Medical School (617) 432-0651 or <a href="carolyn_connelly@hms.harvard.edu">carolyn_connelly@hms.harvard.edu</a>
</p>

<p><strong><u>SIGNATURE</u></strong></p>

<p>
I have read this entire informed consent form and I understand it completely. I confirm that I
understand the purpose of this study, the study procedures, the possible risks and discomforts of
participating in this study, the potential benefits that I may experience, and the alternatives to my
participation in this study. All of my questions have been answered to my complete satisfaction.
</p>
<p>
I understand that by signing this informed consent form, I am acknowledging and agreeing to all
of the terms and conditions of my participation set forth above, and I am providing my informed
consent to participate in the Personal Genome Project.
</p>

  <% fields_for :participation_consent do |pcf| %>
    <div class="inputs">
      <%= pcf.label 'name' %>
      <%= pcf.text_field 'name' %>
      <span>(Must match &ldquo;<%= h current_user.full_name %>&rdquo;)</span>
    </div>
    <br/>
    <div class="inputs">
      <%= pcf.label 'email' %>
      <%= pcf.text_field 'email' %>
      <span>(Must match &ldquo;<%= h current_user.email %>&rdquo;)</span>
    </div>
    <br/>
  <% end %>
  <%= f.submit 'Save Changes'%>

<% end %>
<img src="/images/PGP_Consent_Approved_20110222.jpg" border=0>

