<h2>Users with Genetic Data</h2>

<table class="admin_table">
<tr>
  <th>User Id</th>
  <th>Source</th>
  <th>Date</th>
  <th>Name</th>
  <th>Download</th>
</tr>
<% @genetic_data.each do |g|%>
<tr>
  <td><%= link_to g.user.hex, public_profile_url(g.user) %></td>
  <td><%= g.data_type %></td>
  <td><%= g.date %></td>
  <td><%= g.user.first_name%> <%= g.user.last_name %></td>
  <td><%= link_to 'Download', genetic_data_download_path(g.id) %></td>
</tr>
<% end %>

</table>
