<h2>Users</h2>

<h3>Filter users</h3>
<%= form_tag admin_users_path, { :method => 'get' } do  %>
  <ul>
    <li><%= link_to "Show all users", admin_users_path(:all => true) %></li>
    <li><%= link_to "Show enrolled users", admin_users_path(:enrolled => true) %></li>
    <li><%= link_to "Show enrolled users with PGP #", admin_users_path(:pgp_id => true) %></li>
    <li><%= link_to "Show users eligible to be enrolled (who have submitted their enrollment application)", admin_users_path(:eligible_for_enrollment => true) %></li>
    <li><%= link_to "Show users ineligible to be enrolled (who have submitted their enrollment application)", admin_users_path(:ineligible_for_enrollment => true) %></li>
    <li><%= link_to "Show waitlisted users", admin_users_path(:waitlisted => true) %></li>
    <li><%= link_to "Show inactive users", admin_users_path(:inactive => true) %></li>
    <li>
      <label for="completed">Show users who have completed enrollment step:</label>
      <%= select_tag 'completed',
          options_for_select(EnrollmentStep.ordered.all.map { |es| ["##{es.ordinal} - #{es.title} ", es.keyword] },
                             params[:completed])%>
      <%= submit_tag 'Show' %>
    </li>
    <li><%= link_to "Show researchers", admin_users_path(:researcher => true) %></li>
    <li><%= link_to "Show test users (excluded from all lists above)", admin_users_path(:test => true) %></li>
<% end %>

<li>
<%= form_tag admin_users_path, { :method => 'get' } do  %>
  Name: <%= text_field_tag :name %>
  E-mail: <%= text_field_tag :email %>
  <%= submit_tag 'Search' %>
<% end %>
</li>
<li>
<%= form_tag admin_users_path, { :method => 'get' } do  %>
  Hex id: <%= text_field_tag :hex %>
  <%= submit_tag 'Search' %>
<% end %>
</li>
</ul>

<h3>Eligibility Actions</h3>
<ul>
  <li><%= link_to "Bulk promote some users", new_admin_bulk_promotion_path %></li>
  <li><%= link_to "Bulk waitlist some users", new_admin_bulk_waitlist_path(:phase => 'preenroll') %></li>
</ul>

<h3>Enrollment Actions</h3>
<ul>
  <li><%= link_to "Bulk enroll some users", admin_enroll_users_path() %></li>
  <li><%= link_to "Bulk enroll some users (e-mail list)", new_admin_bulk_promotion_path(:require => 'enrollment_application') %></li>
  <li><%= link_to "Bulk waitlist some users (e-mail list)", new_admin_bulk_waitlist_path(:phase => 'enroll') %></li>
</ul>

<h3>reports</h3>

<ul>
<li><%= link_to "current user activity", admin_active_users_path() %></li>
<li><%= link_to "user log", admin_log_users_path() %></li>
<li><%= link_to "ineligible users", admin_ineligible_users_path() %></li>
<li><%= link_to "Safety Questionnaire Responses", admin_safety_questionnaires_path() %></li>
<li><%= link_to "trios", admin_trios_path() %></li>
<li><%= link_to "users with genetic data", admin_genetic_data_report_path() %></li>
</ul>

<h3>Export</h3>
Download Absolute Pitch Survey results as <%= link_to 'CSV', admin_absolute_pitch_survey_export_path() %> (<%= link_to 'Question Key', admin_absolute_pitch_survey_questions_path() %>)<br />
Download this list of users as <%= link_to 'CSV',
  admin_users_url(:format => 'csv',
                            :all                         => params[:all],
                            :enrolled                    => params[:enrolled],
                            :eligible_for_enrollment     => params[:eligible_for_enrollment],
                            :ineligible_for_enrollment   => params[:ineligible_for_enrollment],
                            :waitlisted                  => params[:waitlisted],
                            :inactive                    => params[:inactive],
                            :completed                   => params[:completed]
                           ) %>
  
<%= render :partial => 'usertable' %>
