<h2>Users</h2>

<h3>Users per day</h3>
<p>
  <img src="<%= UserReport.users_per_day_chart_url %>" />
</p>

<h3>Filter users</h3>
<% form_tag admin_users_path, { :method => 'get' } do  %>
  <ul>
    <li><%= link_to "Show all users", admin_users_path %></li>
    <li><%= link_to "Show only inactive users", admin_users_path(:inactive => true) %></li>
    <li>
      <label for="completed">Show users who have completed enrollment step:</label>
      <%= select_tag 'completed',
          options_for_select(EnrollmentStep.ordered.all.map { |es| ["##{es.ordinal} - #{es.title} ", es.keyword] },
                             params[:completed])%>
      <%= submit_tag 'Show' %>
    </li>
    <li><%= link_to "Show users who are in eligibility group 1 (Eligible, OK match)", admin_users_path(:screening_eligibility_group => 1) %></li>
    <li><%= link_to "Show users who are in eligibility group 2 (Eligible, NO match)", admin_users_path(:screening_eligibility_group => 2) %></li>
    <li><%= link_to "Show users who are in eligibility group 3 (Ineligible, N/A)", admin_users_path(:screening_eligibility_group => 3) %></li>
  </ul>
<% end %>

<h3>Eligibility Actions</h3>
<ul>
  <li><%= link_to "Bulk promote some users", new_admin_bulk_promotion_path %></li>
  <li><%= link_to "Bulk waitlist some users", new_admin_bulk_waitlist_path(:phase => 'preenroll') %></li>
</ul>

<h3>Enrollment Actions</h3>
<ul>
  <li><%= link_to "Bulk enroll some users", new_admin_bulk_promotion_path(:require => 'eligibility_application_results') %></li>
  <li><%= link_to "Bulk waitlist some users", new_admin_bulk_waitlist_path(:phase => 'enroll') %></li>
</ul>

<p>Download this list of users as <%= link_to 'CSV',
  formatted_admin_users_url(:format => 'csv',
                            :completed                   => params[:completed],
                            :inactive                    => params[:inactive],
                            :screening_eligibility_group => params[:screening_eligibility_group]) %></p>

<%= @users.size %> users:

<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Active?</th>
    <th>Is Admin?</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Activate</th>
  </tr>
  <% @users.each do |user| -%>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%=h user.full_name %></td>
      <td><%=h user.email %></td>
      <td><%=  user.active? %></td>
      <td><%=  user.is_admin? %></td>
      <td><%= link_to 'Edit', edit_admin_user_url(user) %></td>
      <td><%= link_to 'Delete', admin_user_url(user),
                :method => 'DELETE',
                :confirm => 'Are you sure you want to delete this user?' %></td>
      <td><%= link_to 'Activate', activate_admin_user_url(user), :method => 'PUT' %></td>
    </tr>
  <% end -%>
</table>
