<h2><%= @user.full_name -%> -- <%= @user.email -%></h2>

<h3>User details</h3>

<% if @user.enrolled %>
Unique identifier: <%= @user.hex %><br/>
Public profile url: <a href="<%= public_profile_url(@user) %>"><%= public_profile_url(@user) %></a>
<% end %>

<% @user.password = @user.password_confirmation = nil %>

<% form_for [:admin, @user], :html => { :method => :put } do |f| -%>
<%= error_messages_for :user %>

<p>Completed Content Areas:<br/>
<%= @user.completed_content_area_count %> / <%= ContentArea.count %> (<%= link_to 'Details', admin_user_exam_responses_path(@user) %>)</p>

<p>
  Current Enrollment Step:<br/>
  <% if @user.next_enrollment_step -%>
    <%= @user.next_enrollment_step.ordinal %> <%= @user.next_enrollment_step.title %>
  <% else -%>
    Finished
  <% end -%>
</p>

<% if @ccr and @ccr_history.length > 0 %>
<h3>All PHRs</h3>
<table>
<% @ccr_history.each { |version| %>
<tr>
  <td><%= link_to version, ccr_admin_user_url(@user) + '?version=' + version %>
  </td>
</tr>
<% } %>
</table>
<% end %>

<% if @user.waitlists.any? -%>
  <h2>Waitlistings</h2>
  <p>This user has been waitlisted:</p>
  <ol>
    <% @user.waitlists.each do |waitlist| -%>
      <li>On <%= waitlist.created_at %>: <%= h waitlist.reason %></li>
    <% end -%>
  </ol>
<% end -%>

<% if @user.eligibility_survey_version -%>
  <p>This user has passed eligibility survey version <%= @user.eligibility_survey_version %>.
<% end -%>

<% if @user.next_enrollment_step -%>
  <p>Promote to the next enrollment step:<br/>
  <%= link_to 'Promote', promote_admin_user_url(@user), :method => 'PUT' %></p>
<% end -%>

<h3>User Log</h3>

<ul>
<% @user.user_logs.sort { |x,y| y.id <=> x.id }.each do |entry| -%>
  <li><%= entry.created_at %>: <%= h entry.comment %></li>
<% end -%>
</ul>

<% end -%>
