<h2>User details</h2>
<% @user.password = @user.password_confirmation = nil %>

<% form_for [:admin, @user], :html => { :method => :put } do |f| -%>
<%= error_messages_for :user %>

<p>Completed Content Areas:<br/>
<%= @user.completed_content_area_count %> / <%= ContentArea.count %> (<%= link_to 'Details', admin_user_exam_responses_path(@user) %>)</p>

<p>
  Current Enrollment Step:<br/>
  <% if @user.next_enrollment_step -%>
    <%= @user.next_enrollment_step.ordinal %> <%= @user.next_enrollment_step.title %>
  <% else -%>
    Finished
  <% end -%>
</p>

<% if @user.has_completed?('baseline_trait_collection_notification') %>
   <p>
     <%= link_to 'View CCR', ccr_admin_user_url(@user) %>
   </p>
<% end %>

<% if @user.waitlists.any? -%>
  <h2>Waitlistings</h2>
  <p>This user has been waitlisted:</p>
  <ol>
    <% @user.waitlists.each do |waitlist| -%>
      <li>On <%= waitlist.created_at %>: <%= h waitlist.reason %></li>
    <% end -%>
  </ol>
<% end -%>

<% if @user.eligibility_survey_version -%>
  <p>This user has passed eligibility survey version <%= @user.eligibility_survey_version %>.
<% end -%>

<% if @user.next_enrollment_step -%>
  <p>Promote to the next enrollment step:<br/>
  <%= link_to 'Promote', promote_admin_user_url(@user), :method => 'PUT' %></p>
<% end -%>

<h2>User Log</h2>

<ul>
<% @user.user_logs.sort { |x,y| y.id <=> x.id }.each do |entry| -%>
  <li><%= entry.created_at %>: <%= h entry.comment %></li>
<% end -%>
</ul>

<% end -%>
