<h2><%=h @exam_question.question %>: Answers</h2>

<table class="admin_table">
  <tr>
    <th>Answer</th>
    <th>Correct?</th>
  </tr>

<% for answer_option in @answer_options %>
  <tr class="<%= cycle 'even', 'odd' %>">
    <td><%=h answer_option.answer %></td>
    <td><%= answer_option.correct? ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Show',      admin_content_area_exam_exam_version_exam_question_answer_option_path(@content_area, @exam, @exam_version, @exam_question, answer_option) %></td>
    <td><%= link_to 'Edit', edit_admin_content_area_exam_exam_version_exam_question_answer_option_path(@content_area, @exam, @exam_version, @exam_question, answer_option) %></td>
    <td><%= link_to 'Destroy',   admin_content_area_exam_exam_version_exam_question_answer_option_path(@content_area, @exam, @exam_version, @exam_question, answer_option), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'Add a new answer option', new_admin_content_area_exam_exam_version_exam_question_answer_option_path(@content_area, @exam, @exam_version, @exam_question) %>
</p>
