<h1>Editing exam_definition</h1>

<% form_for(@exam_definition) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @exam_definition %> |
<%= link_to 'Back', exam_definitions_path %>
