<h2>New question</h2>

<%= form_for [:admin, @content_area, @exam, @exam_version, @exam_question] do |f| %>
  <%= error_messages_for :exam_question, :header_message => 'Error: data could not be saved.', :message => nil %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_content_area_exam_exam_version_exam_questions_path(@content_area, @exam, @exam_version) %>
