<div class="menu">
  <ul class="links">
    <% unless current_user %>
      <%= nav_element 'Log in', login_url -%>
    <% else %>
      <%= nav_element 'Home', root_url -%>
      <%= nav_element 'Account', edit_user_url if !current_user.deactivated_at -%>
      <%= nav_element 'Log out', logout_url -%>
      <%= nav_element 'Researcher Tools', page_path( :researcher_tools ) if current_user.is_researcher? or current_user.is_admin? -%>
      <%= nav_element 'Admin', admin_root_path if current_user.is_admin? -%>
      <%= nav_element 'Contact Us', new_message_url -%>
    <% end %>
    <%= nav_element 'Site map', page_path( :sitemap ) %>
  </ul>
  <ul class="pgpid">
    <% if current_user and current_user.enrolled -%>
    <li>Your huID: <%= current_user.hex %></li>
    <% end -%>
  </ul>
</div>
<% if in_admin_section? %>
  <div class="menu" style="margin-top: 0px;">
    <ul class="sublinks">
      <%= nav_element 'Users', admin_users_path %>
      <%= nav_element 'Datasets', admin_datasets_path %>
      <%= nav_element 'Reports', admin_reports_path %>
      <%= nav_element 'Exams', admin_content_areas_path %>
      <%= nav_element 'PHR Reports', admin_phr_reports_path %>
      <%= nav_element 'Invited Email Addresses', admin_invited_emails_path %>
      <%= nav_element 'Mailing Lists', admin_mailing_lists_path %>
    </ul>
  </div>
<% end %>
