<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Personal Genome Project: <%= controller.page_title %></title>
  <%= stylesheet_link_tag 'application' %>
  <!--[if lte IE 7]><%= stylesheet_link_tag 'application-ie' %>><![endif]-->
  <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery-custom-extensions' %>
  <%= javascript_tag do %>
    <%= yield :js %>
  <% end %>
</head>
<body>
  <div id="body">
    <h1 class="verbose"><%= link_to raw('<span>Personal Genome Project</span>'), root_url %></h1>

    <%= render :partial => 'layouts/navigation' %>
    <div class="clear"><!-- --></div>

    <%= breadcrumbs %>
    <%= render :partial => 'layouts/flashes' -%>
    <div class="main">
      <%= yield %>
    </div>


    <div class="clear"><!-- --></div>
  </div>
  <div id="foot">
    <div id="copyright">
      <p>
        <span>Copyright &copy; PersonalGenomes.org</span>
      </p>
    </div>
  </div>

  <%= render :partial => 'layouts/google_analytics' %>

</body>
</html>
