<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Personal Genome Project: <%= controller.page_title %></title>
  <%= stylesheet_link_tag 'redmond/jquery-ui-1.8.11.custom', 'ui.slider.extras', 'dataTables/css/demo_table_jui', 'application', 'plate_layout', :media => 'all' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!--[if lte IE 7]><%= stylesheet_link_tag 'application-ie' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= javascript_tag do %>
    <%= yield :js %>
  <% end %>

</head>
<body>

  <%= render :partial => 'layouts/sudo' %>

  <div id="body">
    <h1 class="verbose"><%= link_to raw('<span>Personal Genome Project</span>'), root_url %></h1>

    <%= render :partial => 'layouts/navigation' %>
    <div class="clear"><!-- --></div>

    <%= breadcrumbs %>
    <%= render :partial => 'layouts/flashes' -%>
    <div class="main">
      <%= yield %>
    </div>

    <div class="sidebar">
      <%= yield :sidebar %>
    </div>


    <div class="clear"><!-- --></div>
  </div>
  <div id="foot_big">
    <div id="privacy_tos">
        <span><a href="http://www.personalgenomes.org/privacypolicy.html">Privacy Policy</a></span>
	&bull;
        <span><a href="http://www.personalgenomes.org/tos.html">Terms of Use</a></span>
    </div>
    <div id="copyright">
<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/" style="text-decoration:none;">
    <img src="https://i.creativecommons.org/l/zero/1.0/88x31.png" border="0" alt="CC0" />
  </a>
  <br />
  To the extent possible under law, <a href="http://www.personalgenomes.org" rel="dct:publisher"><span property="dct:title">PersonalGenomes.org</span></a>
  has waived all copyright and related or neighboring rights to
  <span property="dct:title">Personal Genome Project Participant Genetic and Trait Dataset</span>.
This work is published from
<span about="www.personalgenomes.org" property="vcard:Country" datatype="dct:ISO3166" content="US">United States</span>.
</p>
<p>&nbsp;</p>
    </div>
  </div>

  <%= render :partial => 'layouts/google_analytics' %>

</body>
</html>
