<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Personal Genome Project: <%= controller.page_title %></title>
  <%= stylesheet_link_tag 'tapestry_default', 'ui.slider.extras', 'redmond/jquery-ui-1.8.11.custom' %>
  <!--[if lte IE 7]><%= stylesheet_link_tag 'tapestry_default-ie' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= javascript_tag do %>
    <%= yield :js %>
  <% end %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
  <div id="body">
    <h1 class="verbose"><%= link_to raw('<span>Personal Genome Project</span>'), root_url %></h1>

    <%= render :partial => 'layouts/navigation' %>
    <div class="clear"><!-- --></div>

    <%= breadcrumbs %>
    <%= render :partial => 'layouts/flashes' -%>
    <div class="main">
      <%= yield %>
    </div>

    <div class="sidebar">
      <%= yield :sidebar %>
    </div>


    <div class="clear"><!-- --></div>
  </div>
  <div id="foot">
    <div id="privacy_tos">
      &bull;
      <span><a href="<%= PRIVACY_POLICY_URL %>">Privacy Policy</a></span>
      &bull;
      <span><a href="<%= TOS_URL %>">Terms of Use</a></span>
    </div>
    <div id="copyright">
      <p>
        <span>Copyright &copy; PersonalGenomes.org</span>
      </p>
    </div>
  </div>

  <%= render :partial => 'layouts/google_analytics' %>

  <%= yield :scripts %>

</body>
</html>
